# SN BPIDs analysis

In [104]:
import pandas as pd
import webbrowser
from IPython.display import display, Markdown # replace calling print for rich media objects

In [10]:
df = pd.read_csv("/Users/michele.pasin/datasets/BPIDs/20181112_bpidtogrid.csv", sep = '^')

In [11]:
df.describe()

,"""Child BPID""ME_BMBILL:0ME_BMBILL","""Partner:Partner Type""BP_TYPE_0180:0BP_TYPE","""Parent BPID""BPARTNER1:0BPARTNER1","""Valid From""RT_DATEF:0RT_DATEF","""Valid To""RT_DATEU:0RT_DATEU"
count,6.085400e+04,60854.0,6.085400e+04,6.085400e+04,6.085300e+04
mean,3.310156e+09,4.0,3.463378e+09,2.006630e+07,9.970138e+07
std,1.856980e+09,0.0,2.125961e+09,3.401648e+05,4.800966e+06
min,8.417132e+07,4.0,2.012051e+07,1.990010e+07,2.018011e+07
25%,2.000632e+09,4.0,2.000457e+09,1.990010e+07,9.999123e+07
50%,3.000318e+09,4.0,3.000147e+09,2.011011e+07,9.999123e+07
75%,3.002477e+09,4.0,3.001167e+09,2.014043e+07,9.999123e+07
max,9.000014e+09,4.0,8.209411e+09,9.999123e+07,9.999123e+07

In [12]:
df.columns

Index(['"Child BPID"ME_BMBILL:0ME_BMBILL',
       '"BP: First Name"BP_FSTNAME_0181:0BP_FSTNAME',
       '"BP: Surname"BP_LSTNAME_0182:0BP_LSTNAME',
       '"Partner:Partner Type"BP_TYPE_0180:0BP_TYPE',
       '"Country key"COUNTRY_0187:0COUNTRY',
       '"BP: Org. Name 1"NAME_ORG1_0183:0NAME_ORG1',
       '"BP: Org. Name 2"NAME_ORG2_0184:0NAME_ORG2',
       '"BP: Org. Name 3"NAME_ORG3_0185:0NAME_ORG3',
       '"BP: Org. Name 4"NAME_ORG4_0186:0NAME_ORG4',
       '"Macmillan Business P"/BIC/SMCMBPNUM:SMCMBPNUM',
       '"Parent BPID"BPARTNER1:0BPARTNER1', '"Valid From"RT_DATEF:0RT_DATEF',
       '"Valid To"RT_DATEU:0RT_DATEU'],
      dtype='object')

In [13]:
df.head()

,"""Child BPID""ME_BMBILL:0ME_BMBILL","""BP: First Name""BP_FSTNAME_0181:0BP_FSTNAME","""BP: Surname""BP_LSTNAME_0182:0BP_LSTNAME","""Partner:Partner Type""BP_TYPE_0180:0BP_TYPE","""Country key""COUNTRY_0187:0COUNTRY","""BP: Org. Name 1""NAME_ORG1_0183:0NAME_ORG1","""BP: Org. Name 2""NAME_ORG2_0184:0NAME_ORG2","""BP: Org. Name 3""NAME_ORG3_0185:0NAME_ORG3","""BP: Org. Name 4""NAME_ORG4_0186:0NAME_ORG4","""Macmillan Business P""/BIC/SMCMBPNUM:SMCMBPNUM","""Parent BPID""BPARTNER1:0BPARTNER1","""Valid From""RT_DATEF:0RT_DATEF","""Valid To""RT_DATEU:0RT_DATEU"
0,1000157932,NaN,NaN,4,DE,Forschungszentrum Jülich GmbH,Zentralbibliothek,Frau Specht,NaN,GRID.8385.6,2000420541,19900101,99991231.0
1,1000194767,NaN,NaN,4,DE,Research Center Borstel,Leibniz-Center,for Medicine and Biosciences,NaN,GRID.418187.3,3000137278,20100208,99991231.0
2,1000194767,NaN,NaN,4,DE,Research Center Borstel,Leibniz-Center,for Medicine and Biosciences,NaN,GRID.418187.3,3000137282,20100205,99991231.0
3,1000194767,NaN,NaN,4,DE,Research Center Borstel,Leibniz-Center,for Medicine and Biosciences,NaN,GRID.418187.3,3000205744,20141205,99991231.0
4,1000194767,NaN,NaN,4,DE,Research Center Borstel,Leibniz-Center,for Medicine and Biosciences,NaN,GRID.418187.3,3000262825,20110202,99991231.0

#### Rename the columns for improved readability

In [14]:
df.columns = ['BPID', 'Name', 'Surname', 'Type', 'Country', 'Org1', 'Org2', 'Org3', 'Org4', 'GRID', 'Parent', 'ValidFrom', 'ValidTo']

In [15]:
df.head()

,BPID,Name,Surname,Type,Country,Org1,Org2,Org3,Org4,GRID,Parent,ValidFrom,ValidTo
0,1000157932,NaN,NaN,4,DE,Forschungszentrum Jülich GmbH,Zentralbibliothek,Frau Specht,NaN,GRID.8385.6,2000420541,19900101,99991231.0
1,1000194767,NaN,NaN,4,DE,Research Center Borstel,Leibniz-Center,for Medicine and Biosciences,NaN,GRID.418187.3,3000137278,20100208,99991231.0
2,1000194767,NaN,NaN,4,DE,Research Center Borstel,Leibniz-Center,for Medicine and Biosciences,NaN,GRID.418187.3,3000137282,20100205,99991231.0
3,1000194767,NaN,NaN,4,DE,Research Center Borstel,Leibniz-Center,for Medicine and Biosciences,NaN,GRID.418187.3,3000205744,20141205,99991231.0
4,1000194767,NaN,NaN,4,DE,Research Center Borstel,Leibniz-Center,for Medicine and Biosciences,NaN,GRID.418187.3,3000262825,20110202,99991231.0

In [17]:
df['BPID'].is_unique

False

The loc method allows to get a row by its main identifier.

In [18]:
df.loc[1]

BPID                           1000194767
Name                                  NaN
Surname                               NaN
Type                                    4
Country                                DE
Org1              Research Center Borstel
Org2                       Leibniz-Center
Org3         for Medicine and Biosciences
Org4                                  NaN
GRID                        GRID.418187.3
Parent                         3000137278
ValidFrom                        20100208
ValidTo                       9.99912e+07
Name: 1, dtype: object

In [24]:
print(df.BPID.count(), df.Country.count(), df.Parent.count())

60854 60851 60854

In [25]:
df.Country.unique()

array(['DE', 'PT', 'IT', 'KR', 'BE', 'AT', 'ET', 'GB', 'PL', 'TH', 'ES',
       'SI', 'NL', 'CH', 'JP', 'LT', 'TW', 'BN', 'ZA', 'FR', 'IN', 'SE',
       'DK', 'HK', 'FI', 'HU', 'AU', 'NO', 'TR', 'PH', 'EG', 'US', 'RU',
       'NZ', 'RS', 'SG', 'BR', 'AR', 'UG', 'IL', 'BD', 'IE', 'MY', 'GR',
       'IR', 'CY', 'CZ', 'RO', 'LU', 'PK', 'MX', 'HR', 'BG', 'IS', 'EE',
       'KE', 'CN', 'CA', 'MT', 'SK', 'LI', 'JO', 'VN', 'KW', 'BW', 'SZ',
       'QA', 'LB', 'FJ', 'AE', 'LK', 'SA', 'ID', 'CL', 'PS', nan, 'MU',
       'MO', 'LS', 'TN', 'OM', 'NP', 'MA', 'DZ', 'VE', 'BB', 'BH', 'TZ',
       'ZM', 'ZW', 'PR', 'PE', 'CO', 'JM', 'KZ', 'KN', 'TT', 'GH', 'CR',
       'LV', 'PG', 'RW', 'NG', 'SY', 'UA', 'MW', 'CW', 'UY', 'BY', 'TG',
       'EC', 'MD', 'SD', 'LY', 'TM', 'KG', 'PA', 'BO', 'AZ', 'HN', 'TJ',
       'UZ', 'NI', 'GE', 'MZ', 'CU', 'GP', 'ME', 'AM', 'BA', 'YE', 'NC',
       'MN', 'AO', 'VI', 'GM', 'BF', 'CI', 'TD', 'GN', 'SO', 'SR', 'DO',
       'PF', 'CV', 'CG', 'SV', 'AS', 'MG', 'GU', 'GD', 'CD', 'ER', 'HT',
       'RE'], dtype=object)

To see how many unique values in a column, use Series.nunique:

In [29]:
df.Country.nunique()

154

to count distinct values in single column, you can use Series.value_counts:

In [35]:
df.Country.value_counts()

US    12535
DE     9912
GB     3892
JP     3845
CN     3302
IT     2297
FR     2103
IN     1634
TW     1505
NL     1484
KR     1421
ES     1290
CH     1128
CA     1111
AU     1094
AT      937
SE      812
TR      670
BE      618
BR      504
MX      463
RU      438
NO      427
TH      421
PL      418
ZA      329
FI      326
MY      287
DK      285
PT      283
      ...
TJ        3
MG        3
LI        3
YE        3
SD        2
TG        2
PG        2
CG        2
GP        2
LY        2
LS        1
GD        1
CD        1
CV        1
RE        1
AO        1
SO        1
DO        1
GM        1
PF        1
KN        1
TM        1
BF        1
TD        1
ME        1
GN        1
HT        1
VI        1
AS        1
ER        1
Name: Country, Length: 154, dtype: int64

In [40]:
df.BPID.value_counts()

2000671164    21
2000317212    18
2000329723    16
2000363739    16
2000443671    16
3000092728    16
2000459507    16
3000092507    16
1000895102    15
1000835702    15
2000261790    15
3000169362    15
1000835615    15
2000280714    15
3000092453    15
2000428449    15
1000835666    14
1000835717    14
2000518321    14
2000162433    14
3002737458    14
3000120355    13
2000359082    13
2000575695    13
2000352531    13
2000004960    13
1000835613    13
2000354463    13
2000297136    13
2000423744    13
              ..
3000162929     1
2000343664     1
2000542165     1
3001049702     1
8200538723     1
2000312993     1
3002360486     1
3000239984     1
3000199879     1
2000138972     1
3000077019     1
3000074970     1
3000605401     1
3002804943     1
8200725198     1
3001891533     1
3002796747     1
3993699018     1
3000060611     1
3002348204     1
3002817217     1
2000507584     1
8200699504     1
2000540642     1
3000273595     1
2000329401     1
4520075958     1
3000160944     1
3002475182     1
2000551936     1
Name: BPID, Length: 51610, dtype: int64

Find out more about BPID 2000671164 which seems to come up a lot of times! It actually turns out that this guy has a lot of parents!

In [41]:
df.loc[df.BPID == 2000671164]

,BPID,Name,Surname,Type,Country,Org1,Org2,Org3,Org4,GRID,Parent,ValidFrom,ValidTo
19523,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000122015,20100913,99991231.0
19524,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000122113,20100330,99991231.0
19525,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000130811,20100913,99991231.0
19526,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000185077,20110318,99991231.0
19527,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000208665,20100819,99991231.0
19528,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000241235,20110323,99991231.0
19529,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000481104,20110307,99991231.0
19530,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000507700,20110323,99991231.0
19531,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000520017,20110413,99991231.0
19532,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000653560,20111006,99991231.0
19533,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000681389,20120110,99991231.0
19534,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000824225,20121003,99991231.0
19535,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000871461,20121003,99991231.0
19536,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3000995705,20130308,99991231.0
19537,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3001227016,20140113,99991231.0
19538,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3001231873,20151007,99991231.0
19539,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3991447120,20140419,99991231.0
19540,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3001358138,20140604,99991231.0
19541,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3991451413,20140521,99991231.0
19542,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3991451557,20140530,99991231.0
19543,2000671164,NaN,NaN,4,TH,Mahidol University,NaN,NaN,NaN,GRID.10223.32,3991461121,20150204,99991231.0

#### Function to get rows based on BPID

In [72]:
def get_bpid(bpid):
    return df.loc[df.BPID == bpid]

In [74]:
get_bpid(3000481104)

Empty DataFrame
Columns: [BPID, Name, Surname, Type, Country, Org1, Org2, Org3, Org4, GRID, Parent, ValidFrom, ValidTo]
Index: []

##### Let's pull out all parents for this object...

Do parents exists? Apparenlty not..

In [48]:
df.loc[df.BPID == 2000671164]['Parent']

19523    3000122015
19524    3000122113
19525    3000130811
19526    3000185077
19527    3000208665
19528    3000241235
19529    3000481104
19530    3000507700
19531    3000520017
19532    3000653560
19533    3000681389
19534    3000824225
19535    3000871461
19536    3000995705
19537    3001227016
19538    3001231873
19539    3991447120
19540    3001358138
19541    3991451413
19542    3991451557
19543    3991461121
Name: Parent, dtype: int64

In [52]:
parents = [x for x in df.loc[df.BPID == 2000671164]['Parent']]

In [56]:
for p in parents:
    print(len(df.loc[df.BPID == p]))

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

#### Function to check if there's any parent!

In [57]:
def parents_exist(bpid):
    parents = [x for x in df.loc[df.BPID == bpid]['Parent']]
    d = {'yes' : 0, 'no' : 0}
    for p in parents:
        if len(df.loc[df.BPID == p]):
            d['yes'] += 1
        else:
            d['no'] += 1
    return d

In [58]:
parents_exist(2000671164)

{'yes': 0, 'no': 21}

In [60]:
parents_exist(3993699018)

{'yes': 1, 'no': 0}

#### Function to pull out / open GRID webpages

In [68]:
def open_grid(bpid, web=True):
    t = "https://grid.ac/institutes/"
    grids = [x for x in df.loc[df.BPID == bpid]['GRID']]
    grids = list(set(grids))
    if not web: return grids
    for g in grids:
        webbrowser.open(t + g)

In [119]:
open_grid(3000123021)

### Holding Analysis Prototype: get some info for the 3 selected BPIDs

1. Utrecht University (NED; BPID 2000323035)
2. University of Massachusetts (USA; BPID 8200177774)
3. Otto-von-Guericke-Universität Magdeburg (GER; BPID 3000123021)

In [88]:
candidates = [2000323035, 8200177774, 3000123021]

In [116]:
for c in candidates:
    display(Markdown("### BPID: %d " % c))
    display(Markdown("Associated GRID: %s     " % open_grid(c, False)))
    display(Markdown("Parents BPID exist? %s     " % parents_exist(c)))
    display(Markdown("#### Full data  "))
    display(get_bpid(c))
    # print(open_grid(c, False))
    # print(parents_exist(c))

### BPID: 2000323035

Associated GRID: ['GRID.5477.1']

Parents BPID exist? {'yes': 0, 'no': 2}

#### Full data

,BPID,Name,Surname,Type,Country,Org1,Org2,Org3,Org4,GRID,Parent,ValidFrom,ValidTo
6748,2000323035,NaN,NaN,4,NL,Utrecht University Library,NaN,NaN,NaN,GRID.5477.1,3000174899,20100413,99991231.0
6749,2000323035,NaN,NaN,4,NL,Utrecht University Library,NaN,NaN,NaN,GRID.5477.1,3001974408,20150825,99991231.0

### BPID: 8200177774

Associated GRID: ['GRID.266683.F']

Parents BPID exist? {'yes': 0, 'no': 1}

#### Full data

,BPID,Name,Surname,Type,Country,Org1,Org2,Org3,Org4,GRID,Parent,ValidFrom,ValidTo
12866,8200177774,NaN,NaN,4,US,University of Massachusetts Amherst,UMASS,WEB DuBois Library,NaN,GRID.266683.F,8200828607,20110411,99991231.0

### BPID: 3000123021

Associated GRID: ['GRID.5807.A']

Parents BPID exist? {'yes': 0, 'no': 8}

#### Full data

,BPID,Name,Surname,Type,Country,Org1,Org2,Org3,Org4,GRID,Parent,ValidFrom,ValidTo
27994,3000123021,NaN,NaN,4,DE,Universität Magdeburg,Otto-von-Guericke-Universität,Unibibliothek Frau Dr. A. Weiss,NaN,GRID.5807.A,3000137278,20100917,99991231.0
27995,3000123021,NaN,NaN,4,DE,Universität Magdeburg,Otto-von-Guericke-Universität,Unibibliothek Frau Dr. A. Weiss,NaN,GRID.5807.A,3000137282,20100917,99991231.0
27996,3000123021,NaN,NaN,4,DE,Universität Magdeburg,Otto-von-Guericke-Universität,Unibibliothek Frau Dr. A. Weiss,NaN,GRID.5807.A,3000194567,20100615,99991231.0
27997,3000123021,NaN,NaN,4,DE,Universität Magdeburg,Otto-von-Guericke-Universität,Unibibliothek Frau Dr. A. Weiss,NaN,GRID.5807.A,3000262825,20110202,99991231.0
27998,3000123021,NaN,NaN,4,DE,Universität Magdeburg,Otto-von-Guericke-Universität,Unibibliothek Frau Dr. A. Weiss,NaN,GRID.5807.A,3000262839,20110202,99991231.0
27999,3000123021,NaN,NaN,4,DE,Universität Magdeburg,Otto-von-Guericke-Universität,Unibibliothek Frau Dr. A. Weiss,NaN,GRID.5807.A,3991444337,20131030,99991231.0
28000,3000123021,NaN,NaN,4,DE,Universität Magdeburg,Otto-von-Guericke-Universität,Unibibliothek Frau Dr. A. Weiss,NaN,GRID.5807.A,3994313832,20160805,99991231.0
28001,3000123021,NaN,NaN,4,DE,Universität Magdeburg,Otto-von-Guericke-Universität,Unibibliothek Frau Dr. A. Weiss,NaN,GRID.5807.A,3003169293,20180105,99991231.0