# QA of DSL Release v1.21
The purpose of this notebook is to review and test the new features in 1.21

Docs: https://docs.dimensions.ai/dsl/1.21.0-preview/

## Prerequisites

Please install the latest versions of these libraries to run this notebook.

In [86]:
#
# load common libraries
import pandas as pd
from pandas.io.json import json_normalize
import time
import json
from tqdm import tqdm_notebook as tqdm
import plotly_express as px
import dimcli
from dimcli.shortcuts import *

dimcli.login(instance="test")
dsl = dimcli.Dsl()

DimCli v0.6.1 - Succesfully connected to <https://integration.ds-metrics.com> (method: dsl.ini file)

---

## [DSL-265](https://uberresearch.atlassian.net/browse/DSL-245) Search by Email

https://uberresearch.atlassian.net/browse/DSL-245

In [5]:
%dsldf search researchers in _email for "m.pasin@digital-science.com" return researchers

Returned Researchers: 0

Empty DataFrame
Columns: []
Index: []

In [4]:
%dsldf search researchers in _email for "*@digital-science.com" return researchers

Returned Researchers: 10 (total = 10)

  first_name  ...                                      research_orgs
0  Christian  ...  [{'id': 'grid.452594.b', 'city_name': 'London'...
1        Amy  ...  [{'id': 'grid.116068.8', 'city_name': 'Cambrid...
2   Daniel W  ...  [{'id': 'grid.452594.b', 'city_name': 'London'...
3   Daniel W  ...  [{'id': 'grid.452594.b', 'city_name': 'London'...
4       Suze  ...  [{'id': 'grid.452594.b', 'city_name': 'London'...
5        Amy  ...  [{'id': 'grid.116068.8', 'city_name': 'Cambrid...
6    Stacy R  ...  [{'id': 'grid.411377.7', 'city_name': 'Bloomin...
7    Stacy R  ...  [{'id': 'grid.411377.7', 'city_name': 'Bloomin...
8       Suze  ...  [{'id': 'grid.452594.b', 'city_name': 'London'...
9   Briony A  ...  [{'id': 'grid.28577.3f', 'city_name': 'London'...

[10 rows x 5 columns]

In [6]:
%dsldf search researchers in _email for "michele.*" return researchers

Returned Researchers: 20 (total = 13333)

          first_name  ...                                      research_orgs
0            Michele  ...  [{'id': 'grid.428485.7', 'city_name': 'Monserr...
1            Michele  ...  [{'id': 'grid.428485.7', 'city_name': 'Monserr...
2            Michele  ...  [{'id': 'grid.255414.3', 'city_name': 'Norfolk...
3            Michele  ...  [{'id': 'grid.12026.37', 'city_name': 'Cranfie...
4   Michele Cristina  ...  [{'id': 'grid.11899.38', 'city_name': 'São Pau...
5            Michele  ...  [{'id': 'grid.4708.b', 'city_name': 'Milan', '...
6            Michele  ...  [{'id': 'grid.412311.4', 'city_name': 'Bologna...
7            Michele  ...  [{'id': 'grid.412311.4', 'city_name': 'Bologna...
8            Michele  ...  [{'id': 'grid.412311.4', 'city_name': 'Bologna...
9            Michele  ...  [{'id': 'grid.412311.4', 'city_name': 'Bologna...
10           Michele  ...  [{'id': 'grid.5608.b', 'city_name': 'Padua', '...
11           Michele  ...  [{'id': 'grid.5608.b', 'city_name': 'Padua', '...
12           Michele  ...  [{'id': 'grid.5608.b', 'city_name': 'Padua', '...
13           Michele  ...  [{'id': 'grid.414603.4', 'city_name': 'Rome', ...
14          Florindo  ...  [{'id': 'grid.417007.5', 'city_name': 'Rome', ...
15           Michèle  ...  [{'id': 'grid.428999.7', 'city_name': 'Paris',...
16     Claire Louise  ...  [{'id': 'grid.454047.6', 'city_name': 'East Me...
17     Claire Louise  ...  [{'id': 'grid.454047.6', 'city_name': 'East Me...
18     Claire Louise  ...  [{'id': 'grid.454047.6', 'city_name': 'East Me...
19          Giovanni  ...  [{'id': 'grid.4708.b', 'city_name': 'Milan', '...

[20 rows x 5 columns]

---

## DSL-220 field types and sorting
https://uberresearch.atlassian.net/browse/DSL-220

In [4]:
%dsldocs

,sources,field,type,description,is_filter,is_entity,is_facet
0,clinical_trials,FOR,categories,`ANZSRC Fields of Research classification <htt...,True,True,True
1,clinical_trials,FOR_first,categories,`ANZSRC Fields of Research classification <htt...,True,True,True
2,clinical_trials,abstract,string,Abstract or description of the clinical trial.,False,False,False
3,clinical_trials,active_years,integer,List of active years for a clinical trial.,True,False,True
4,clinical_trials,associated_grant_ids,string,Dimensions IDs of the grants associated to the...,True,False,False
5,clinical_trials,category_bra,categories,`Broad Research Areas <https://app.dimensions....,True,True,True
6,clinical_trials,category_hra,categories,`Health Research Areas <https://app.dimensions...,True,True,True
7,clinical_trials,category_hrcs_hc,categories,`HRCS - Health Categories <https://app.dimensi...,True,True,True
8,clinical_trials,category_hrcs_rac,categories,`HRCS – Research Activity Codes <https://app.d...,True,True,True
9,clinical_trials,category_rcdc,categories,"`Research, Condition, and Disease Categorizati...",True,True,True
10,clinical_trials,conditions,string,"List of medical conditions names, e.g. 'Breast...",True,False,False
11,clinical_trials,date,date,Start date of a clinical trial.,True,False,False
12,clinical_trials,date_inserted,date,Date when the record was inserted into Dimensi...,True,False,False
13,clinical_trials,funder_countries,countries,The country group the GRID funding organisations.,True,True,True
14,clinical_trials,funder_groups,org_groups,The organisation group the GRID funding organi...,True,True,True
15,clinical_trials,funders,organizations,GRID funding organisations that are involved w...,True,True,True
16,clinical_trials,gender,string,The gender of the clinical trial subjects e.g....,True,False,False
17,clinical_trials,id,string,Dimensions clinical trial ID,True,False,False
18,clinical_trials,investigator_details,json,"Additional details about investigators, includ...",True,False,False
19,clinical_trials,linkout,string,Original URL for the clinical trial.,False,False,False
20,clinical_trials,organizations,organizations,"GRID organizations involved, e.g. as sponsors ...",True,True,True
21,clinical_trials,phase,string,"Phase of the clinical trial, as a string.",True,False,False
22,clinical_trials,publication_ids,string,Dimensions IDs of the publications related to ...,True,False,False
23,clinical_trials,registry,string,The platform where the clinical trial has been...,True,False,False
24,clinical_trials,researchers,researchers,Dimensions researchers IDs associated to the c...,True,True,True
25,clinical_trials,title,string,The title of the clinical trial.,False,False,False
26,grants,FOR,categories,`ANZSRC Fields of Research classification <htt...,True,True,True
27,grants,FOR_first,categories,`ANZSRC Fields of Research classification <htt...,True,True,True
28,grants,abstract,string,Abstract or summary from a grant proposal.,False,False,False
29,grants,active_year,integer,List of active years for a grant.,True,False,True
...,...,...,...,...,...,...,...
161,publications,recent_citations,integer,Number of citations received in the last two y...,True,False,False
162,publications,reference_ids,string,Dimensions publication ID for publications in ...,True,False,False
163,publications,relative_citation_ratio,float,Relative citation performance of an article wh...,True,False,False
164,publications,research_org_cities,cities,City of the GRID organisations authors are aff...,True,True,True
165,publications,research_org_countries,countries,Country of the GRID organisations authors are ...,True,True,True
166,publications,research_org_country_names,string,Country name of the GRID organisations authors...,True,False,False
167,publications,research_org_state_codes,states,State of the GRID organisations authors are af...,True,True,True
168,publications,research_org_state_names,string,State name of the GRID organisations authors a...,True,False,False
169,publications,research_orgs,organizations,GRID organisations associated to a publication...,True,True,True
170,publications,researchers,researchers,Researcher IDs matched to the publication's au...,True,True,True
171,publications,supporting_grant_ids,string,"Grants supporting a publication, returned as a...",True,False,False
172,publications,times_cited,integer,Number of citations (note: does not support em...,True,False,True
173,publications,title,string,Title of a publication.,False,False,False
174,publications,type,string,"Publication type (one of: article, chapter, pr...",True,False,True
175,publications,volume,string,Publication volume.,True,False,False
176,publications,year,integer,The year of publication (note: when the `date`...,True,False,True
177,researchers,current_research_org,organizations,The most recent research organization linked t...,True,True,True
178,researchers,first_grant_year,integer,First year the researcher was awarded a grant.,True,False,True
179,researchers,first_name,string,First Name.,True,False,False
180,researchers,first_publication_year,integer,None,True,False,True
181,researchers,id,string,Dimensions researcher ID.,True,False,False
182,researchers,last_grant_year,integer,Last year the researcher was awarded a grant.,True,False,True
183,researchers,last_name,string,Last Name.,True,False,False
184,researchers,last_publication_year,integer,None,True,False,True
185,researchers,obsolete,integer,Indicates researcher ID status. 0 means that t...,True,False,False
186,researchers,orcid_id,string,`ORCID <https://orcid.org/>`_ ID.,True,False,False
187,researchers,redirect,string,Indicates status of a researcher ID marked as ...,True,False,False
188,researchers,research_orgs,organizations,All research organizations linked to the resea...,True,True,True
189,researchers,total_grants,integer,Total grants count.,True,False,True
190,researchers,total_publications,integer,Total publications count.,True,False,True

In [5]:
data = _
data['type'].unique()

array(['categories', 'string', 'integer', 'date', 'countries',
       'org_groups', 'organizations', 'json', 'researchers', 'float',
       'cities', 'states', 'journals', 'open_access'], dtype=object)

In [6]:
data.groupby(['type'], as_index=False)['field'].count()

             type  field
0      categories     35
1          cities      4
2       countries      7
3            date     14
4           float     11
5         integer     20
6        journals      1
7            json      3
8     open_access      1
9      org_groups      2
10  organizations     13
11    researchers      3
12         states      4
13         string     73

### Sort by

In [8]:
dslquery("""search publications return publications sort by authors""").errors

Returned Errors: 1
Semantic Error
Semantic errors found:
	Cannot sort by multi-value field 'authors'

{'query': {'header': 'Semantic Error',
  'details': ["Semantic errors found:\n\tCannot sort by multi-value field 'authors'"],
  'query': 'search publications return publications sort by authors'}}

In [9]:
dslquery("""search publications return publications sort by issn""").errors

Returned Errors: 1
Semantic Error
Semantic errors found:
	Cannot sort by multi-value field 'issn'

{'query': {'header': 'Semantic Error',
  'details': ["Semantic errors found:\n\tCannot sort by multi-value field 'issn'"],
  'query': 'search publications return publications sort by issn'}}

In [10]:
dslquery("""search clinical_trials return clinical_trials sort by investigator_details""").errors

Returned Errors: 1
Semantic Error
Semantic errors found:
	Cannot sort by multi-value field 'investigator_details'

{'query': {'header': 'Semantic Error',
  'details': ["Semantic errors found:\n\tCannot sort by multi-value field 'investigator_details'"],
  'query': 'search clinical_trials return clinical_trials sort by investigator_details'}}

In [14]:
dslquery("""search publications return publications sort by relevance""").as_dataframe()

Returned Publications: 20 (total = 106125643)

,type,year,title,id,pages,issue,author_affiliations,volume,journal.id,journal.title,journal
0,article,1963,A Report to the President Containing a Proposa...,pub.1058814955,367-368,4,"[[{'first_name': 'Richard', 'last_name': 'Harw...",33,jour.1079844,The Library Quarterly,NaN
1,article,1964,Automation and the Library of Congress: Three ...,pub.1058815019,229-239,3,"[[{'first_name': 'Robert M.', 'last_name': 'Ha...",34,jour.1079844,The Library Quarterly,NaN
2,article,2013,From Spectrum to Prism: Shifting Positions on ...,pub.1032276229,21-24,155,"[[{'first_name': 'Pil', 'last_name': 'Hansen',...",155,jour.1140239,Canadian Theatre Review,NaN
3,article,1934,Guide Book\n . Kansas Geolo...,pub.1058819916,105-106,1,"[[{'first_name': 'J. Marvin', 'last_name': 'We...",42,jour.1023203,The Journal of Geology,NaN
4,article,1934,An Occurrence of Quartz-Olivine Gabbro,pub.1058819932,197-199,2,"[[{'first_name': 'B. C.', 'last_name': 'Freema...",42,jour.1023203,The Journal of Geology,NaN
5,article,1996,Review of The Experience of Psychopathology: I...,pub.1056361436,393-393,4,"[[{'first_name': 'Terri', 'last_name': 'Gullic...",41,jour.1050159,PsycCRITIQUES,NaN
6,article,1935,Juvenile Probation. An Analysis of the Case Re...,pub.1058827499,575-576,3,"[[{'first_name': 'Catherine M.', 'last_name': ...",9,jour.1019179,Social Service Review,NaN
7,article,1996,Analysis by Analogy for the Mental Health Clin...,pub.1056361646,879-880,9,"[[{'first_name': 'Jeffrey M.', 'last_name': 'L...",41,jour.1050159,PsycCRITIQUES,NaN
8,article,1996,Review of Shame and Its Sisters: A Silvan Tomk...,pub.1056361703,950-950,9,"[[{'first_name': 'Terri', 'last_name': 'Gullic...",41,jour.1050159,PsycCRITIQUES,NaN
9,article,1995,Sold Separately: Parents and Children in Consu...,pub.1056361956,71-71,1,"[[{'first_name': 'Janet', 'last_name': 'Field'...",40,jour.1050159,PsycCRITIQUES,NaN
10,article,1995,The Devil in the Shape of Psychology,pub.1056361987,119-120,2,"[[{'first_name': 'Ellen', 'last_name': 'Herman...",40,jour.1050159,PsycCRITIQUES,NaN
11,article,1995,Review of Images of Mind.,pub.1056362040,177-177,2,"[[{'first_name': 'Terri', 'last_name': 'Gullic...",40,jour.1050159,PsycCRITIQUES,NaN
12,article,1995,Parenting in Context,pub.1056362145,320-321,4,"[[{'first_name': 'Diane', 'last_name': 'Scott-...",40,jour.1050159,PsycCRITIQUES,NaN
13,chapter,2010,The case of the missing loaf of bread,pub.1036301107,139-145,None,"[[{'first_name': 'Cherridan Morrison', 'last_n...",None,NaN,NaN,NaN
14,article,1940,Books about the Blind: A Bibliographical Guide...,pub.1058828603,778-778,4,"[[{'first_name': 'Ruth E.', 'last_name': 'Doug...",14,jour.1019179,Social Service Review,NaN
15,article,1941,Congress Finally Passed the May Bill,pub.1058828795,558-559,3,None,15,jour.1019179,Social Service Review,NaN
16,article,1941,The Social and Biological Aspects of Mental Di...,pub.1058828875,789-790,4,"[[{'first_name': 'Joan', 'last_name': 'Fleming...",15,jour.1019179,Social Service Review,NaN
17,chapter,2001,From Ancient Germanic to modern Germanic langu...,pub.1031080586,None,None,"[[{'first_name': 'Martin Ed. by', 'last_name':...",None,NaN,NaN,NaN
18,article,2004,Différences d'interprétation sur un même sujet...,pub.1039148886,19-29,1,"[[{'first_name': 'Marcelo Dias', 'last_name': ...",8,jour.1290634,Revue Européenne de Droit de l Environnement,NaN
19,article,1980,Review of Origins of madness:\n ...,pub.1056373384,585-586,7,"[[{'first_name': 'DONALD A.', 'last_name': 'DE...",25,jour.1050159,PsycCRITIQUES,NaN

## DSL-267 Implement limits on larger queries
https://uberresearch.atlassian.net/browse/DSL-267

In [15]:
q = """search publications where researchers.id in ["ur.01312027051.14","ur.0711323071.25","ur.0740437205.74","ur.01003654311.03",
"ur.0621624016.04","ur.01055774106.82","ur.01343776261.03","ur.016002125025.82","ur.0615173004.21","ur.01321102507.55","ur.01152356054.71",
"ur.0764355700.83","ur.01055077500.17","ur.01372167103.47","ur.0776017774.72","ur.01153752740.77","ur.01032337732.32",
"ur.01237464221.93","ur.01176515020.77","ur.01171740030.55","ur.01331161233.20","ur.01104104344.76","ur.01340043611.25",
"ur.016536114317.53","ur.01230112110.21","ur.0646262632.76","ur.01045114511.61","ur.0576002255.78","ur.01040274703.61","ur.01207535071.10","ur.01116267413.30",
"ur.01232516013.00","ur.01342541353.70","ur.01305102631.16","ur.01303272415.90","ur.01035425501.63","ur.0603442137.42","ur.01231057075.04","ur.01312674237.25",
"ur.0700774056.30","ur.01124205261.61","ur.0661326043.15","ur.01326172534.45","ur.01236202554.70","ur.01047725431.10","ur.01306012302.76","ur.01371477171.09",
"ur.01035624715.04","ur.01076025616.27","ur.01040410514.15"] 
return publications[id + doi + year + reference_ids + times_cited + title + journal + pmid + authors] limit 1000 skip 0"""

In [16]:
data = dsl.query(q)

Returned Errors: 1
1 EvaluationError found
Query is too long or complex. Please see https://docs.dimensions.ai/dsl/faq.html for more information. [code: 2]

In [17]:
print(data.errors_string)

1 EvaluationError found
Query is too long or complex. Please see https://docs.dimensions.ai/dsl/faq.html for more information. [code: 2]

## DSL-258 Journal structure unusual
https://uberresearch.atlassian.net/browse/DSL-258

In [33]:
%dsldf search publications where id="pub.1101355047" return publications

Returned Publications: 1 (total = 1)

                                 author_affiliations  ...  year
0  [[{'first_name': 'Linda M', 'last_name': 'Chat...  ...  2018

[1 rows x 10 columns]

In [41]:
%%dsldf
search publications where type in ["article", "chapter", "proceeding", "monograph"] 
and (id in ["pub.1092888835", "pub.1092891479", "pub.1092896731", "pub.1101355047"]) return publications[all] sort by id limit 25 skip 0

Returned Publications: 4 (total = 4)

                                                 FOR  ...  year
0  [{'id': '3177', 'name': '1117 Public Health an...  ...  2018
1  [{'id': '3468', 'name': '1701 Psychology'}, {'...  ...  2018
2  [{'id': '2921', 'name': '0912 Materials Engine...  ...  2012
3  [{'id': '2953', 'name': '0915 Interdisciplinar...  ...  2009

[4 rows x 49 columns]

In [43]:
%%dsldf
search publications where type in ["article", "chapter", "proceeding", "monograph"] 
and (id in ["pub.1092888835", "pub.1092891479", "pub.1101355047"]) 
return publications[all] sort by id limit 25 skip 0

Returned Publications: 3 (total = 3)

                                                 FOR  ...  year
0  [{'id': '3177', 'name': '1117 Public Health an...  ...  2018
1  [{'id': '2921', 'name': '0912 Materials Engine...  ...  2012
2  [{'id': '2953', 'name': '0915 Interdisciplinar...  ...  2009

[3 rows x 49 columns]

## DSL-151 Researchers expansion error 
https://uberresearch.atlassian.net/browse/DSL-151

In [18]:
dslquery("""search researchers where id="ur.014401065241.55" return current_research_org""").json

Returned Current_research_org: 1

{'_stats': {'total_count': 1},
 'current_research_org': [{'id': 'grid.11450.31',
   'count': 1,
   'country_name': 'Italy',
   'name': 'University of Sassari',
   'linkout': ['http://www.uniss.it/php/home.php'],
   'types': ['Education'],
   'city_name': 'Sassari',
   'state_name': 'Sardegna',
   'longitude': 8.559747,
   'latitude': 40.72485,
   'acronym': 'UniSS'}]}

In [19]:
dslquery("""search publications where researchers.id="ur.014401065241.55" return researchers[current_research_org] limit 10""").as_dataframe()

Returned Researchers: 10

                   id  count current_research_org
0  ur.014401065241.55    341        grid.11450.31
1  ur.011114401075.51    181                 None
2  ur.012230242310.55    181          grid.5947.f
3  ur.014375065773.55    181                 None
4  ur.015013745673.43    181          grid.4827.9
5  ur.015464416663.32    181                 None
6  ur.016216067525.58    181        grid.261331.4
7   ur.07677774373.52    181                 None
8   ur.07727306567.82    181        grid.264760.1
9    ur.0771415054.83    179        grid.266436.3

##  DSL-243 Units of Assesment
https://uberresearch.atlassian.net/browse/DSL-243

get some stats

In [19]:
dslquery("search publications where category_ua is not empty return publications").stats

Returned Publications: 20 (total = 51617540)

{'total_count': 51617540}

get an overview of how many pubs per category

In [16]:
%dsldf search publications return category_ua

Returned Category_ua: 20

       count     id                                               name
0   12349126  30012                                    B12 Engineering
1    7324855  30001                              A01 Clinical Medicine
2    5236664  30003  A03 Allied Health Professions, Dentistry, Nurs...
3    3306537  30011               B11 Computer Science and Informatics
4    2610030  30008                                      B08 Chemistry
5    2523920  30005                            A05 Biological Sciences
6    2441031  30009                                        B09 Physics
7    2294530  30004        A04 Psychology, Psychiatry and Neuroscience
8    2273198  30010                          B10 Mathematical Sciences
9    2149057  30006       A06 Agriculture, Veterinary and Food Science
10   1890048  30017                C17 Business and Management Studies
11   1551779  30007       B07 Earth Systems and Environmental Sciences
12    901443  30023                                      C23 Education
13    798136  30002  A02 Public Health, Health Services and Primary...
14    621796  30014            C14 Geography and Environmental Studies
15    450156  30028                                        D28 History
16    428810  30024  C24 Sport and Exercise Sciences, Leisure and T...
17    375387  30020                  C20 Social Work and Social Policy
18    360862  30013   C13 Architecture, Built Environment and Planning
19    347200  30018                                            C18 Law

search pubs with two different categories

In [17]:
%dsldf search publications where category_ua.id="30004" and category_ua.name="D28 History"

Returned Publications: 5 (total = 5)

,author_affiliations,id,issue,journal.id,journal.title,pages,title,type,volume,year
0,"[[{'first_name': 'Takashi', 'last_name': 'Kudo...",pub.1024052050,NaN,NaN,NaN,1-25,Basic Theory of Pharmacology for Alzheimer’s D...,chapter,NaN,2016
1,"[[{'first_name': 'Edgar', 'last_name': 'Jones'...",pub.1030906856,9955,jour.1077219,The Lancet,1708-1714,Battle for the mind: World War 1 and the birth...,article,384,2014
2,"[[{'first_name': 'Edgar', 'last_name': 'Jones'...",pub.1043504520,7,jour.1032038,Psychiatry,217-220,Psychological trauma: a historical perspective,article,5,2006
3,"[[{'first_name': 'Pam', 'last_name': 'Ruthven'...",pub.1030997587,4,jour.1030862,Journal of Pastoral Care & Counseling Advancin...,425-432,The Feckless Later Reign of King David: A Case...,article,55,2001
4,"[[{'first_name': 'R D', 'last_name': 'Walker',...",pub.1082676204,2,jour.1015307,Public Health Reports,235-42,Substance dependent American Indian veterans: ...,article,109,1994

In [18]:
%dsldf search publications where category_ua.id="30004" and category_ua.name="D28 History" return category_ua

Returned Category_ua: 2

   count     id                                         name
0      5  30004  A04 Psychology, Psychiatry and Neuroscience
1      5  30028                                  D28 History

search with partial string matching

In [20]:
%dsldf search publications where category_ua.name~"history" return category_ua

Returned Category_ua: 20

     count     id                                               name
0   450156  30028                                        D28 History
1   126508  30032   D32 Art and Design: History, Practice and Theory
2     1702  30027                D27 English Language and Literature
3     1654  30019             C19 Politics and International Studies
4     1377  30012                                    B12 Engineering
5      780  30011               B11 Computer Science and Informatics
6      677  30018                                            C18 Law
7      611  30026               D26 Modern Languages and Linguistics
8      563  30023                                      C23 Education
9      500  30017                C17 Business and Management Studies
10     405  30031                 D31 Theology and Religious Studies
11     262  30013   C13 Architecture, Built Environment and Planning
12     197  30025                                   D25 Area Studies
13     152  30034  D34 Communication, Cultural and Media Studies,...
14     147  30024  C24 Sport and Exercise Sciences, Leisure and T...
15     118  30015                                    C15 Archaeology
16     108  30033  D33 Music, Drama, Dance, Performing Arts, Film...
17      91  30003  A03 Allied Health Professions, Dentistry, Nurs...
18      85  30014            C14 Geography and Environmental Studies
19      83  30029                                       D29 Classics

In [22]:
%dsldf search publications where category_ua.name~"history" return researchers limit 10

Returned Researchers: 10

,count,first_name,id,last_name,research_orgs
0,138,Elyssa,ur.012165271220.99,Yoneda,NaN
1,101,Evan,ur.014623633230.49,Butterfield,"[grid.194645.b, grid.6292.f, grid.143640.4]"
2,100,Patrick,ur.015371315323.90,Kellenberger,"[grid.143640.4, grid.6292.f]"
3,100,Lynne,ur.016003351715.16,Harris,[grid.6292.f]
4,94,N,ur.013502554127.21,Nakamura,[grid.136593.b]
5,94,Hideaki,ur.015542525023.39,Chihara,[grid.469951.6]
6,81,Douglas J,ur.01201442036.57,Lanska,"[grid.47840.3f, grid.416812.8, grid.410349.b, ..."
7,76,Jurij,ur.012476262407.86,Krope,[grid.8647.d]
8,76,Darko,ur.013131614005.30,Goričanec,[grid.8647.d]
9,76,Stanislav,ur.013360737114.48,Božičnik,NaN

## DSL-290 Clinical trial investigator search fails
https://uberresearch.atlassian.net/browse/DSL-290

In [4]:
q = """search clinical_trials in investigators for "\\\"Gayatri P\\\"" return clinical_trials[investigator_details + title]"""
dsl.query(q)

Returned Clinical_trials: 1 (total = 1)

In [5]:
%dsldf search clinical_trials in investigators for "\"Gayatri P\"" return clinical_trials

Returned Clinical_trials: 1 (total = 1)

,active_years,title,id,investigator_details
0,"[2012, 2013, 2014]",Development and evaluation of a MRI compatible...,CTRI/2018/03/012360,"[[Gayatri P, Dr, Additional Professor, Anesthe..."

## DSL-274 Enable faceting on publications.journal_list
https://uberresearch.atlassian.net/browse/DSL-274

In [20]:
%dsldf search publications for "solar eclipse" return publications[journal_lists]

Returned Publications: 20 (total = 100684)

                                        journal_lists
0    [ERA 2015, Norwegian register level 2, VABB-SHW]
1              [ERA 2015, Norwegian register level 1]
2   [ERA 2015, Norwegian register level 1, VABB-SH...
3    [ERA 2015, Norwegian register level 1, VABB-SHW]
4                  [DOAJ, Norwegian register level 1]
5              [ERA 2015, Norwegian register level 1]
6      [ERA 2015, Norwegian register level 1, PubMed]
7    [ERA 2015, Norwegian register level 1, VABB-SHW]
8      [ERA 2015, Norwegian register level 1, PubMed]
9    [ERA 2015, Norwegian register level 1, VABB-SHW]
10             [ERA 2015, Norwegian register level 1]
11             [ERA 2015, Norwegian register level 1]
12             [ERA 2015, Norwegian register level 1]
13   [ERA 2015, Norwegian register level 1, VABB-SHW]
14                                         [ERA 2015]
15     [ERA 2015, Norwegian register level 1, PubMed]
16   [ERA 2015, Norwegian register level 1, VABB-SHW]
17   [ERA 2015, Norwegian register level 1, VABB-SHW]
18                       [Norwegian register level 1]
19             [ERA 2015, Norwegian register level 1]

In [26]:
%dsldf search publications return journal_lists

Returned Journal_lists: 10

                           id     count
0                    ERA 2015  56432660
1  Norwegian register level 1  50842453
2                    VABB-SHW  35912771
3                      PubMed  30175068
4  Norwegian register level 2  16767573
5                   ERIH PLUS   7637945
6                        DOAJ   6776708
7  Norwegian register level 0   3334267
8       Nature Index journals   2220879
9                      SciELO    853229

## DSL-212  FORv2 for grants, cl-trials, patents 
https://uberresearch.atlassian.net/browse/DSL-212

This works perfectly

In [3]:
for x in ['grants', 'clinical_trials', 'patents']:
    one = "04 Earth Sciences"
    two = "0201 Astronomical and Space Sciences"
    q = f"""search {x} where category_for.name="{one}" return {x} """
    print(q)
    data = dsl.query(q)
    q = f"""search {x} where category_for.name="{two}" return {x} """
    print(q)
    data = dsl.query(q)

search grants where category_for.name="04 Earth Sciences" return grants
Returned Grants: 20 (total = 128045)
search grants where category_for.name="0201 Astronomical and Space Sciences" return grants
Returned Grants: 20 (total = 27602)
search clinical_trials where category_for.name="04 Earth Sciences" return clinical_trials
Returned Clinical_trials: 20 (total = 38)
search clinical_trials where category_for.name="0201 Astronomical and Space Sciences" return clinical_trials
Returned Clinical_trials: 2 (total = 2)
search patents where category_for.name="04 Earth Sciences" return patents
Returned Patents: 20 (total = 221963)
search patents where category_for.name="0201 Astronomical and Space Sciences" return patents
Returned Patents: 20 (total = 45671)

Shouldn't we be getting a warning when using the old predicate? UPDATE: now we do

In [22]:
for x in ['grants', 'clinical_trials', 'patents']:
    one = "04 Earth Sciences"
    two = "0201 Astronomical and Space Sciences"
    q = f"""search {x} where FOR.name="{one}" return {x} """
    print("===\n", q)
    data = dsl.query(q)
    q = f"""search {x} where FOR.name="{two}" return {x} """
    print("===\n", q)
    data = dsl.query(q)

===
 search grants where FOR.name="04 Earth Sciences" return grants
Returned Grants: 0
WARNINGS [1]
Field 'FOR' is deprecated in favor of category_for. Please refer to https://docs.dimensions.ai/dsl/releasenotes.html for more details
===
 search grants where FOR.name="0201 Astronomical and Space Sciences" return grants
Returned Grants: 20 (total = 27602)
WARNINGS [1]
Field 'FOR' is deprecated in favor of category_for. Please refer to https://docs.dimensions.ai/dsl/releasenotes.html for more details
===
 search clinical_trials where FOR.name="04 Earth Sciences" return clinical_trials
Returned Clinical_trials: 0
WARNINGS [1]
Field 'FOR' is deprecated in favor of category_for. Please refer to https://docs.dimensions.ai/dsl/releasenotes.html for more details
===
 search clinical_trials where FOR.name="0201 Astronomical and Space Sciences" return clinical_trials
Returned Clinical_trials: 2 (total = 2)
WARNINGS [1]
Field 'FOR' is deprecated in favor of category_for. Please refer to https://docs.dimensions.ai/dsl/releasenotes.html for more details
===
 search patents where FOR.name="04 Earth Sciences" return patents
Returned Patents: 0
WARNINGS [1]
Field 'FOR' is deprecated in favor of category_for. Please refer to https://docs.dimensions.ai/dsl/releasenotes.html for more details
===
 search patents where FOR.name="0201 Astronomical and Space Sciences" return patents
Returned Patents: 20 (total = 45671)
WARNINGS [1]
Field 'FOR' is deprecated in favor of category_for. Please refer to https://docs.dimensions.ai/dsl/releasenotes.html for more details

No warning on publications too.... UPDATE: now working

In [23]:
dsl.query("""search publications where FOR.name="" return publications""")

Returned Publications: 0
WARNINGS [1]
Field 'FOR' is deprecated in favor of category_for. Please refer to https://docs.dimensions.ai/dsl/releasenotes.html for more details

## DSL-204 ICRP categorizations for all 5 sources 
https://uberresearch.atlassian.net/browse/DSL-204 (background https://www.icrpartnership.org/)

In [24]:
fields = ["category_icrp_ct", "category_icrp_cso"]
sources = ['publications', 'grants', 'clinical_trials', 'patents', 'policy_documents']

#### Dynamic docs
All good, and policy_documents only have `category_icrp_cso`

In [29]:
%dsldocs policy_documents

,sources,field,type,description,is_filter,is_entity,is_facet
0,policy_documents,FOR,categories,`ANZSRC Fields of Research classification <htt...,True,True,True
1,policy_documents,FOR_first,categories,`ANZSRC Fields of Research classification <htt...,True,True,True
2,policy_documents,category_bra,categories,`Broad Research Areas <https://app.dimensions....,True,True,True
3,policy_documents,category_hra,categories,`Health Research Areas <https://app.dimensions...,True,True,True
4,policy_documents,category_hrcs_hc,categories,`HRCS - Health Categories <https://app.dimensi...,True,True,True
5,policy_documents,category_hrcs_rac,categories,`HRCS – Research Activity Codes <https://app.d...,True,True,True
6,policy_documents,category_icrp_cso,categories,`ICRP Common Scientific Outline <https://app.d...,True,True,True
7,policy_documents,category_rcdc,categories,"`Research, Condition, and Disease Categorizati...",True,True,True
8,policy_documents,date_inserted,date,Date when the record was inserted into Dimensi...,True,False,False
9,policy_documents,id,string,Dimensions policy document ID,True,False,False
10,policy_documents,linkout,string,Original URL for the policy document.,False,False,False
11,policy_documents,publication_ids,string,Dimensions IDs of the publications related to ...,True,False,False
12,policy_documents,publisher_org,organizations,GRID organization publishing the policy document.,True,True,True
13,policy_documents,publisher_org_city,cities,City of the organization publishing the policy...,True,True,True
14,policy_documents,publisher_org_country,countries,Country of the organization publishing the pol...,True,True,True
15,policy_documents,publisher_org_state,states,State of the organization publishing the polic...,True,True,True
16,policy_documents,title,string,Title of the policy document.,True,False,False
17,policy_documents,year,integer,Year of publication of the policy document.,True,False,True

#### Checking fields

In [35]:
for x in sources:
    print("===\n", x)
    for f in fields:
        q = f"""search {x} where {f} is not empty return {x} """
        print("----\n", q)
        data = dsl.query(q, verbose=True)
        q = f"""search {x} where {f}.name="Blood Cancer" return {x} """
        print("----\n", q)
        data = dsl.query(q, verbose=True)
        q = f"""search {x} where {f}.name="3.4 Vaccines" return {x} """
        print("----\n", q)
        data = dsl.query(q, verbose=True)

===
 publications
----
 search publications where category_icrp_ct is not empty return publications
Returned Publications: 20 (total = 4451718)
----
 search publications where category_icrp_ct.name="Blood Cancer" return publications
Returned Publications: 20 (total = 11701)
----
 search publications where category_icrp_ct.name="3.4 Vaccines" return publications
Returned Publications: 0
----
 search publications where category_icrp_cso is not empty return publications
Returned Publications: 20 (total = 2281451)
----
 search publications where category_icrp_cso.name="Blood Cancer" return publications
Returned Publications: 0
----
 search publications where category_icrp_cso.name="3.4 Vaccines" return publications
Returned Publications: 20 (total = 10335)
===
 grants
----
 search grants where category_icrp_ct is not empty return grants
Returned Grants: 20 (total = 315009)
----
 search grants where category_icrp_ct.name="Blood Cancer" return grants
Returned Grants: 20 (total = 1016)
----
 search grants where category_icrp_ct.name="3.4 Vaccines" return grants
Returned Grants: 0
----
 search grants where category_icrp_cso is not empty return grants
Returned Grants: 20 (total = 266298)
----
 search grants where category_icrp_cso.name="Blood Cancer" return grants
Returned Grants: 0
----
 search grants where category_icrp_cso.name="3.4 Vaccines" return grants
Returned Grants: 20 (total = 1288)
===
 clinical_trials
----
 search clinical_trials where category_icrp_ct is not empty return clinical_trials
Returned Clinical_trials: 20 (total = 113802)
----
 search clinical_trials where category_icrp_ct.name="Blood Cancer" return clinical_trials
Returned Clinical_trials: 20 (total = 888)
----
 search clinical_trials where category_icrp_ct.name="3.4 Vaccines" return clinical_trials
Returned Clinical_trials: 0
----
 search clinical_trials where category_icrp_cso is not empty return clinical_trials
Returned Clinical_trials: 20 (total = 66941)
----
 search clinical_trials where category_icrp_cso.name="Blood Cancer" return clinical_trials
Returned Clinical_trials: 0
----
 search clinical_trials where category_icrp_cso.name="3.4 Vaccines" return clinical_trials
Returned Clinical_trials: 20 (total = 454)
===
 patents
----
 search patents where category_icrp_ct is not empty return patents
Returned Patents: 20 (total = 413449)
----
 search patents where category_icrp_ct.name="Blood Cancer" return patents
Returned Patents: 20 (total = 477)
----
 search patents where category_icrp_ct.name="3.4 Vaccines" return patents
Returned Patents: 0
----
 search patents where category_icrp_cso is not empty return patents
Returned Patents: 20 (total = 154346)
----
 search patents where category_icrp_cso.name="Blood Cancer" return patents
Returned Patents: 0
----
 search patents where category_icrp_cso.name="3.4 Vaccines" return patents
Returned Patents: 20 (total = 1691)
===
 policy_documents
----
 search policy_documents where category_icrp_ct is not empty return policy_documents
Returned Errors: 1
Semantic Error
Semantic errors found:
	Field 'category_icrp_ct' is not present in source 'policy_documents'. Available fields are: FOR,FOR_first,HRCS_HC,HRCS_RAC,RCDC,broad_research_areas,category_bra,category_hra,category_hrcs_hc,category_hrcs_rac,category_icrp_cso,category_rcdc,city,country,date_inserted,grid_id,health_research_areas,id,linkout,publication_ids,publisher_org,publisher_org_city,publisher_org_country,publisher_org_state,source_name,state,title,year
----
 search policy_documents where category_icrp_ct.name="Blood Cancer" return policy_documents
Returned Errors: 1
Semantic Error
Semantic errors found:
	Entity 'category_icrp_ct' is not present in source 'policy_documents'. Available entities are: FOR,FOR_first,HRCS_HC,HRCS_RAC,RCDC,broad_research_areas,category_bra,category_hra,category_hrcs_hc,category_hrcs_rac,category_icrp_cso,category_rcdc,city,country,health_research_areas,publisher_org,publisher_org_city,publisher_org_country,publisher_org_state,state
----
 search policy_documents where category_icrp_ct.name="3.4 Vaccines" return policy_documents
Returned Errors: 1
Semantic Error
Semantic errors found:
	Entity 'category_icrp_ct' is not present in source 'policy_documents'. Available entities are: FOR,FOR_first,HRCS_HC,HRCS_RAC,RCDC,broad_research_areas,category_bra,category_hra,category_hrcs_hc,category_hrcs_rac,category_icrp_cso,category_rcdc,city,country,health_research_areas,publisher_org,publisher_org_city,publisher_org_country,publisher_org_state,state
----
 search policy_documents where category_icrp_cso is not empty return policy_documents
Returned Policy_documents: 20 (total = 13673)
----
 search policy_documents where category_icrp_cso.name="Blood Cancer" return policy_documents
Returned Policy_documents: 0
----
 search policy_documents where category_icrp_cso.name="3.4 Vaccines" return policy_documents
Returned Policy_documents: 20 (total = 33)

#### Classify function

In [87]:
q = """
classify(
    title="Burnout and intentions to quit the practice among community pediatricians: associations with specific professional activities",
    abstract="BACKGROUND: Burnout is an occupational disease expressed by loss of mental and physical energy due to prolonged and unsuccessful coping with stressors at work. A prior survey among Israeli pediatricians published in 2006 found a correlation between burnout and job structure match, defined as the match between engagement with, and satisfaction from, specific professional activities. The aims of the present study were to characterize the current levels of burnout and its correlates among community pediatricians, to identify changes over time since the prior survey, and to identify professional activities that may reduce burnout. METHODS: A questionnaire was distributed among pediatricians both at a medical conference and by a web-based survey. RESULTS: Of the 518 pediatricians approached, 238 (46%) responded to the questionnaire. High burnout levels were identified in 33% (95% CI:27-39%) of the respondents. Higher burnout prevalence was found among pediatricians who were not board-certified, salaried, younger, and working long hours. The greater the discrepancy between the engagement of the pediatrician and the satisfaction felt in the measured professional activities, the greater was the burnout level (p < 0.01). The following activities were especially associated with burnout: administrative work (frequent engagement, disliked duty) and research and teaching (infrequent engagement, satisfying activities). A comparison of the engagement-satisfaction match between 2006 and 2017 showed that the discrepancy had increased significantly in research (p < 0.001), student tutoring (P < 0.001), continuing medical education and participation in professional conferences (P = 0.0074), management (p = 0.043) and community health promotion (P = 0.006). A significant correlation was found between burnout and thoughts of quitting pediatrics or medicine (p < 0.001). CONCLUSIONS: Healthcare managers should encourage diversification of the pediatrician's job by enabling greater engagement in the identified anti-burnout professional activities, such as: participation in professional consultations, management, tutoring students and conducting research.",
    system="ICRP_CSO")
"""
dsl.query(q)

In [88]:
q = """
classify(
    title="Cancer Research UK ",
    abstract="Cancer Research UK is a cancer research and awareness charity in the United Kingdom[1] and Isle of Man, formed on 4 February 2002 by the merger of The Cancer Research Campaign and the Imperial Cancer Research Fund.[2] Its aim is to reduce the number of deaths from cancer. As the world's largest independent cancer research charity[3][4] it conducts research into the prevention, diagnosis and treatment of the disease. Research activities are carried out in institutes, universities and hospitals across the UK, both by the charity's own employees and by its grant-funded researchers. It also provides information about cancer and runs campaigns aimed at raising awareness of the disease and influencing public policy.",
    system="ICRP_CSO")
"""
dsl.query(q)

In [89]:
q = """
classify(
    title="Cancer Research",
    abstract="Our pioneering research into cancer prevention, diagnosis and treatment can take years. Monthly donations help us commit to long-term projects and fund life-saving discoveries. Beat Cancer. Make A Monthly Donation. Make A Single Donation. Donate Now.",
    system="ICRP_CT")
"""
dsl.query(q)

## DSL-190 Extract grants function returns null on valid query

https://uberresearch.atlassian.net/browse/DSL-190

In [40]:
dsl.query("""extract_grants(grant_number="185247", funder_name="Swiss National Science Foundation")""")

In [41]:
dsl.query("""extract_grants (funder_name="Swiss National Science Foundation", grant_number="182032")""")

In [43]:
dsl.query("""extract_grants (funder_name="Department of Biotechnology , Ministry of Science and Technology", grant_number="b52cc8da7ebee12d1e42f8e3f9622e9a")""")

## DSL-150 Empty results in facets should return null, not a missing element. 

https://uberresearch.atlassian.net/browse/DSL-150

> TBD have we considered whether we should return null, or an empty list??

In [46]:
%dsldf search publications for "terrorism in sudan" return researchers[research_orgs] limit 10

Returned Researchers: 10

,id,count,research_orgs
0,ur.015464416663.32,289,None
1,ur.014375065773.55,185,None
2,ur.015013745673.43,183,[grid.4827.9]
3,ur.07727306567.82,183,"[grid.454294.a, grid.497469.1, grid.268154.c, ..."
4,ur.011114401075.51,182,"[grid.24433.32, grid.17089.37]"
5,ur.012230242310.55,182,"[grid.5947.f, grid.266436.3, grid.4991.5, grid..."
6,ur.014401065241.55,182,"[grid.5475.3, grid.8509.4, grid.8073.c, grid.1..."
7,ur.016216067525.58,182,"[grid.6935.9, grid.430388.4, grid.261331.4]"
8,ur.07677774373.52,181,None
9,ur.0771415054.83,180,"[grid.50956.3f, grid.261112.7, grid.25879.31, ..."

NOTE: previously returning a dataframe would have resulted in many NaN values (instead of None). 


We can now use `explode` to have one row per item in a list

In [53]:
dsl_last_results.explode('research_orgs')

                   id  count  research_orgs
0  ur.015464416663.32    289           None
1  ur.014375065773.55    185           None
2  ur.015013745673.43    183    grid.4827.9
3   ur.07727306567.82    183  grid.454294.a
3   ur.07727306567.82    183  grid.497469.1
3   ur.07727306567.82    183  grid.268154.c
3   ur.07727306567.82    183  grid.264760.1
3   ur.07727306567.82    183  grid.264756.4
4  ur.011114401075.51    182  grid.24433.32
4  ur.011114401075.51    182  grid.17089.37
5  ur.012230242310.55    182    grid.5947.f
5  ur.012230242310.55    182  grid.266436.3
5  ur.012230242310.55    182    grid.4991.5
5  ur.012230242310.55    182    grid.4241.3
5  ur.012230242310.55    182    grid.5216.0
5  ur.012230242310.55    182    grid.5335.0
5  ur.012230242310.55    182  grid.11047.33
6  ur.014401065241.55    182    grid.5475.3
6  ur.014401065241.55    182    grid.8509.4
6  ur.014401065241.55    182    grid.8073.c
6  ur.014401065241.55    182  grid.11450.31
6  ur.014401065241.55    182    grid.5606.5
7  ur.016216067525.58    182    grid.6935.9
7  ur.016216067525.58    182  grid.430388.4
7  ur.016216067525.58    182  grid.261331.4
8   ur.07677774373.52    181           None
9    ur.0771415054.83    180  grid.50956.3f
9    ur.0771415054.83    180  grid.261112.7
9    ur.0771415054.83    180  grid.25879.31
9    ur.0771415054.83    180    grid.4367.6
9    ur.0771415054.83    180  grid.266436.3
9    ur.0771415054.83    180    grid.5216.0
9    ur.0771415054.83    180  grid.239844.0
9    ur.0771415054.83    180  grid.39382.33

#### Trying this out with a list of queries

print out structure of first 10 results to ensure it's always the same

In [66]:
queries = [
    """search publications for "terrorism in sudan" where pmid is empty return publications[basics+pmid] limit 10""",
    """search grants where active_year is empty return grants[basics+language] limit 10""",
    """search clinical_trials for "aids" where conditions is empty return clinical_trials[basics+conditions] limit 10""",
    """search patents where granted_year is empty return patents[basics+granted_year] limit 10""",
    """search researchers where last_grant_year is empty return researchers[basics+last_grant_year] limit 10""",
]

for q in queries:
    print("===\n", q, "\n===")
    data = dsl.query(q, verbose=False)
    source = q.split()[1]
    for x in getattr(data, source): 
        print(x.keys())

===
 search publications for "terrorism in sudan" where pmid is empty return publications[basics+pmid] limit 10
===
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
dict_keys(['pmid', 'type', 'journal', 'year', 'title', 'id', 'pages', 'issue', 'author_affiliations', 'volume'])
===
 search grants where active_year is empty return grants[basics+language] limit 10
===
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
dict_keys(['funders', 'original_title', 'project_num', 'language', 'active_year', 'title', 'start_year', 'id', 'title_language', 'funding_org_name', 'end_date', 'start_date'])
===
 search clinical_trials for "aids" where conditions is empty return clinical_trials[basics+conditions] limit 10
===
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
dict_keys(['conditions', 'title', 'id', 'active_years', 'investigator_details'])
===
 search patents where granted_year is empty return patents[basics+granted_year] limit 10
===
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
dict_keys(['assignee_names', 'inventor_names', 'filing_status', 'times_cited', 'assignees', 'year', 'title', 'granted_year', 'id', 'publication_date'])
===
 search researchers where last_grant_year is empty return researchers[basics+last_grant_year] limit 10
===
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])
dict_keys(['last_grant_year', 'orcid_id', 'last_name', 'id', 'research_orgs', 'first_name'])

## DSL-295 Patent.jurisdiction becomes a facet
https://uberresearch.atlassian.net/browse/DSL-295

Docs look good

In [84]:
%dsldocs patents

,sources,field,type,description,is_filter,is_entity,is_facet
0,patents,abstract,string,Abstract or description of the patent.,False,False,False
1,patents,additional_filters,string,"Additional filters describing the patents, e.g...",True,False,False
2,patents,assignee_cities,cities,"City of the assignees of the patent, expressed...",True,True,True
3,patents,assignee_countries,countries,"Country of the assignees of the patent, expres...",True,True,True
4,patents,assignee_names,string,Name of the GRID assignees of the patent.,True,False,False
5,patents,assignee_state_codes,states,"State of the assignee, expressed using GeoName...",True,True,True
6,patents,assignee_state_names,string,"State name of the assignee, as a string.",True,False,True
7,patents,assignees,organizations,GRID organisations who own or have owned the r...,True,True,True
8,patents,associated_grant_ids,string,Dimensions IDs of the grants associated to the...,True,False,False
9,patents,category_bra,categories,`Broad Research Areas <https://app.dimensions....,True,True,True
10,patents,category_for,categories,`ANZSRC Fields of Research classification <htt...,True,True,True
11,patents,category_hra,categories,`Health Research Areas <https://app.dimensions...,True,True,True
12,patents,category_hrcs_hc,categories,`HRCS - Health Categories <https://app.dimensi...,True,True,True
13,patents,category_hrcs_rac,categories,`HRCS – Research Activity Codes <https://app.d...,True,True,True
14,patents,category_icrp_cso,categories,`ICRP Common Scientific Outline <https://app.d...,True,True,True
15,patents,category_icrp_ct,categories,`ICRP Cancer Types <https://app.dimensions.ai/...,True,True,True
16,patents,category_rcdc,categories,"`Research, Condition, and Disease Categorizati...",True,True,True
17,patents,cited_by_ids,string,Dimensions IDs of the patents that cite this p...,True,False,False
18,patents,cpc,string,`Cooperative Patent Classification Categorizat...,True,False,True
19,patents,current_assignee_names,string,Names of the GRID organisations currently hold...,True,False,False
20,patents,current_assignees,organizations,GRID organisations currenlty owning the patent.,True,True,True
21,patents,date,date,Date when the patent was filed.,True,False,False
22,patents,date_inserted,date,Date when the record was inserted into Dimensi...,True,False,False
23,patents,expiration_date,date,Date when the patent expires.,True,False,False
24,patents,filing_status,string,Filing Status of the patent e.g. 'Application'...,True,False,False
25,patents,funder_groups,org_groups,Group of the organization that funded the patent.,True,True,True
26,patents,funders,organizations,GRID organisations funding the patent.,True,True,True
27,patents,granted_date,date,The date on which the official body grants the...,True,False,False
28,patents,granted_year,integer,The year on which the official body grants the...,True,False,True
29,patents,id,string,Dimensions patent ID,True,False,False
30,patents,inventor_names,string,Names of the people who invented the patent.,True,False,False
31,patents,ipcr,string,`International Patent Classification Reform Ca...,True,False,True
32,patents,jurisdiction,string,"The jurisdiction where the patent was granted,...",True,False,True
33,patents,legal_status,string,"The legal status of the patent, e.g. 'Granted'...",True,False,False
34,patents,original_assignee_names,string,Name of the GRID organisation that first owned...,True,False,False
35,patents,original_assignees,organizations,GRID organisations that first owned the patent.,True,True,True
36,patents,priority_date,date,The earliest filing date in a family of patent...,True,False,False
37,patents,priority_year,integer,The filing year of the earliest application of...,True,False,True
38,patents,publication_date,date,Date of publication of a patent.,True,False,False
39,patents,publication_ids,string,Dimensions IDs of the publications related to ...,True,False,False
40,patents,publication_year,integer,Year of publication of a patent.,True,False,True
41,patents,reference_ids,string,Dimensions IDs of the patents which are cited ...,True,False,False
42,patents,times_cited,integer,The number of times the patent has been cited ...,True,False,True
43,patents,title,string,The title of the patent.,False,False,False
44,patents,year,integer,The year the patent was filed.,True,False,True

In [85]:
%dsldf search patents for "graphene" return jurisdiction

Returned Jurisdiction: 15

    id  count
0   US  34052
1   WO  16998
2   EP  12210
3   CA   2752
4   IN   2247
5   AU   2033
6   GB    986
7   RU    939
8   FR    748
9   DE    726
10  NL    165
11  CH     37
12  HK     25
13  IE      1
14  NZ      1