# QA of DSL Release v1.26
The purpose of this notebook is to review and test the new features in this DSL version.

Docs: https://docs.dimensions.ai/dsl/1.26.0-preview/

## Prerequisites 

Please install the latest versions of these libraries to run this notebook.

In [47]:
#
# load common libraries
import pandas as pd
from pandas.io.json import json_normalize

import time
import json
from tqdm.notebook import tqdm as progress

import plotly.express as px
from plotly.offline import plot 

import dimcli
from dimcli.shortcuts import *

dimcli.login(instance="test")
dsl = dimcli.Dsl()

Dimcli - Dimensions API Client (v0.7.1.1)
Connected to: https://integration.ds-metrics.com - DSL v1.26
Method: dsl.ini file

---

## [DSL-458] Expert search 500 errors

https://uberresearch.atlassian.net/browse/DSL-458

In [48]:
%%dsl 

identify experts 
    from concepts ["ambipolar electric field effect", "two-dimensional semimetal", "room-temperature mobility", "electric field effects", "field effects", "graphitic films", "gate voltage", "conductance band", "square centimeter", "films"]
    where research_org_countries is not empty
    and year >= 2013
return experts
annotate coauthorship, organizational overlap
with ["ur.012332544274.51", "ur.012364005435.27"]

## [DSL-263] Faceting on grants researchers

https://uberresearch.atlassian.net/browse/DSL-263

In [49]:
%%dsldf

search grants where researchers.id in ["ur.0723426172.10", "ur.01277776417.51"] 
return researchers[id+total_grants+last_grant_year]

Returned Researchers: 13

                    id  count  last_grant_year  total_grants
0     ur.0723426172.10      8             2018             8
1   ur.012662217132.90      2             2018            13
2   ur.010520247252.54      1             2003             2
3    ur.01121653260.31      1             2022            18
4    ur.01127672147.84      1             2020            14
5   ur.011316554452.18      1             1998             1
6   ur.012167132327.75      1             2025            11
7   ur.012237141052.77      1             1996             1
8   ur.012455520474.57      1             2003             6
9    ur.01274135317.46      1             2018             4
10  ur.013362317204.29      1             2024            18
11  ur.016620004052.08      1             1996             1
12     ur.057767065.52      1             2007             4

In [50]:
%%dsldf

search grants where researchers.id in ["ur.0723426172.10", "ur.01277776417.51"] 
return researchers[all]

Returned Researchers: 13

,id,count,total_grants,obsolete,first_publication_year,last_publication_year,first_name,research_orgs,first_grant_year,current_research_org,nih_ppid,last_name,total_publications,last_grant_year,orcid_id
0,ur.0723426172.10,8,8,0,1980.0,2020.0,Kari,"[grid.412578.d, grid.170205.1, grid.415598.4, ...",1984,grid.14013.37,"[3321173, 8267810, 3321174]",Stefansson,639,2018,NaN
1,ur.012662217132.90,2,13,0,1972.0,2020.0,Raymond Philip,"[grid.266093.8, grid.412578.d, grid.170205.1, ...",1977,grid.412578.d,"[1865773, 3384368, 3384366]",Roos,178,2018,[0000-0002-0613-4048]
2,ur.010520247252.54,1,2,0,NaN,NaN,Raymond P,NaN,1984,NaN,[3384367],Roos,0,2003,NaN
3,ur.01121653260.31,1,18,0,1983.0,2020.0,Teepu,"[grid.240684.c, grid.265008.9, grid.83440.3b, ...",1984,grid.16753.36,[1889160],Siddique,181,2022,[0000-0001-7293-9146]
4,ur.01127672147.84,1,14,0,1984.0,2020.0,Mark E,"[grid.268187.2, grid.214572.7, grid.65456.34, ...",1984,grid.438717.e,"[2167445, 3346234, 3346233]",Gurney,121,2020,NaN
5,ur.011316554452.18,1,1,0,NaN,NaN,Richard,NaN,1984,NaN,[3389056],Miller,0,1998,NaN
6,ur.012167132327.75,1,11,0,1987.0,2020.0,Deborah J,"[grid.5379.8, grid.265892.2, grid.170205.1]",1986,grid.170205.1,"[1878789, 3229826, 3229825]",Nelson,91,2025,NaN
7,ur.012237141052.77,1,1,0,NaN,NaN,Mark,NaN,1988,NaN,[3346235],Gurneyh,0,1996,NaN
8,ur.012455520474.57,1,6,0,1978.0,2020.0,Sara,[grid.170205.1],1979,grid.170205.1,"[3143586, 3412092, 3412091]",Szuchet,70,2003,NaN
9,ur.01274135317.46,1,4,0,1986.0,2020.0,Jeffrey R,"[grid.421812.c, grid.170205.1, grid.410540.4, ...",2004,NaN,[1904928],Gulcher,122,2018,NaN
10,ur.013362317204.29,1,18,0,1977.0,2020.0,Richard J,"[grid.426108.9, grid.170205.1, grid.10698.36, ...",1975,grid.16753.36,"[3389060, 6232691]",Miller,385,2024,NaN
11,ur.016620004052.08,1,1,0,NaN,NaN,Barry G W,NaN,1988,NaN,[3197114],Arnason,0,1996,NaN
12,ur.057767065.52,1,4,0,1961.0,2019.0,Barry G W,"[grid.265008.9, grid.417923.a, grid.412578.d, ...",1977,NaN,[2418447],Arnason,259,2007,NaN

## [DSL-324] Emptiness filter fails on grant.investigator_details

https://uberresearch.atlassian.net/browse/DSL-324

In [51]:
%%dsl
search grants for "malaria" where investigator_details is not empty return grants[investigator_details]

Returned Grants: 20 (total = 10341)

In [52]:
dsl_last_results.as_dataframe_investigators()

,last_name,affiliations,id,first_name,middle_name,role,grant_id,grant_title,grant_start_date,grant_end_date
0,Florin,"[{'country_code': 'CH', 'state': None, 'city':...",ur.016225703001.43,Marie-Valentine,None,PI,NaN,NaN,NaN,NaN
1,Hol,"[{'city': '', 'name': 'To Be Named North Ameri...",None,Felix,Jh,PI,NaN,NaN,NaN,NaN
2,Gill,"[{'name': 'SGNT INC', 'country_code': 'US', 'c...",None,Joshua,None,PI,NaN,NaN,NaN,NaN
3,Invernale,"[{'name': 'HOUR 72, INC.', 'country_code': 'US...",None,Michael,None,PI,NaN,NaN,NaN,NaN
4,KAMDEM,"[{'city_id': '2220957', 'country': 'CAMEROON',...",None,COLINCE,None,PI,NaN,NaN,NaN,NaN
5,Bischof,[{'name': 'University of Minnesota-Twin Cities...,None,John,None,PI,NaN,NaN,NaN,NaN
6,HOFFMAN,"[{'city_id': '4367175', 'country': 'UNITED STA...",None,STEPHEN LEV,None,PI,NaN,NaN,NaN,NaN
7,BAKER,"[{'city_id': '4174757', 'country': 'UNITED STA...",None,BILL J,None,PI,NaN,NaN,NaN,NaN
8,DORSEY,"[{'city_id': '5391959', 'country': 'UNITED STA...",None,MATTHEW G,None,PI,NaN,NaN,NaN,NaN
9,ROSENTHAL,NaN,None,PHILIP JON,None,Co-PI,NaN,NaN,NaN,NaN
10,WEINBERGER,"[{'city_id': '5391959', 'country': 'UNITED STA...",None,LEOR S,None,PI,NaN,NaN,NaN,NaN
11,MULLIGAN,"[{'city_id': '5128581', 'country': 'UNITED STA...",ur.0633747707.55,MARK JOSEPH,None,PI,NaN,NaN,NaN,NaN
12,CAO,"[{'city_id': '2034937', 'country': 'CHINA', 'c...",ur.01366702556.41,YAMING,None,PI,NaN,NaN,NaN,NaN
13,CHIBALE,"[{'city_id': '7302802', 'country': 'SOUTH AFRI...",ur.01223360152.24,KELLY,None,PI,NaN,NaN,NaN,NaN
14,FERRINS,NaN,ur.0723077743.12,LORI,None,Co-PI,NaN,NaN,NaN,NaN
15,ZUERCHER,NaN,ur.014071562725.37,WILLIAM,None,Co-PI,NaN,NaN,NaN,NaN
16,SUN,"[{'city_id': '4843786', 'country': 'UNITED STA...",ur.01361753422.99,JIANJUN,None,PI,NaN,NaN,NaN,NaN
17,Lima,"[{'state': 'SP', 'state_code': None, 'country_...",None,Maria,Regina D'Império,PI,NaN,NaN,NaN,NaN
18,Julien,NaN,None,Jean-Philippe,,PI,NaN,NaN,NaN,NaN
19,HART,"[{'city_id': '5037649', 'country': 'UNITED STA...",ur.01025026003.63,GEOFFREY T,None,PI,NaN,NaN,NaN,NaN
20,GREENHOUSE,"[{'city_id': '5391959', 'country': 'UNITED STA...",ur.01000010550.11,BRYAN R,None,PI,NaN,NaN,NaN,NaN
21,JAGANNATHAN,NaN,ur.0766431731.44,PRASANNA,None,Co-PI,NaN,NaN,NaN,NaN
22,BUTTE,NaN,ur.0625713706.08,ATUL J.,None,Co-PI,NaN,NaN,NaN,NaN
23,Gazzinelli,"[{'state': 'SP', 'state_code': None, 'country_...",None,Ricardo,Tostes,PI,NaN,NaN,NaN,NaN
24,MAZITSCHEK,"[{'city_id': '4931972', 'country': 'UNITED STA...",ur.0654245120.91,RALPH,None,PI,NaN,NaN,NaN,NaN
25,WIRTH,NaN,ur.01251127422.38,DYANN F,None,Co-PI,NaN,NaN,NaN,NaN

## [DSL-269] Inconsistencies in Publications research_org_state_names vs research_org_state_codes

https://uberresearch.atlassian.net/browse/DSL-269

In [53]:
%%dsl
search publications where research_org_state_codes="CA-ON" return publications

Returned Publications: 20 (total = 1174552)

In [54]:
%%dsl 
search publications where research_org_state_names="Ontario" 
  return publications

Returned Publications: 20 (total = 1174552)

In [55]:
%%dsl 
search publications where research_org_state_names="Ontario" 
  and research_org_state_codes!="CA-ON" 
  return publications[research_org_state_names+research_org_state_codes] limit 100

Returned Publications: 0

## [DSL-457] category_sdg in publications broken

https://uberresearch.atlassian.net/browse/DSL-457

In [56]:
%%dsldf 

search publications return category_sdg

Returned Category_sdg: 17

       id    count                                       name
0   40007  1393336              7 Affordable and Clean Energy
1   40003  1312660               3 Good Health and Well Being
2   40016   668961  16 Peace, Justice and Strong Institutions
3   40004   539488                        4 Quality Education
4   40013   442810                          13 Climate Action
5   40008   237138          8 Decent Work and Economic Growth
6   40011   204164      11 Sustainable Cities and Communities
7   40010   170157                    10 Reduced Inequalities
8   40002   124774                              2 Zero Hunger
9   40006    73088               6 Clean Water and Sanitation
10  40014    63860                        14 Life Below Water
11  40015    63233                            15 Life on Land
12  40012    60710  12 Responsible Consumption and Production
13  40001    45273                               1 No Poverty
14  40005    22524                          5 Gender Equality
15  40009    19998  9 Industry, Innovation and Infrastructure
16  40017    10743              17 Partnerships for the Goals

In [57]:
%%dsldf
search publications where category_sdg.name="11 Sustainable Cities and Communities" return publications

Returned Publications: 20 (total = 204164)

,year,issue,type,volume,author_affiliations,id,title,pages,journal.id,journal.title
0,2020,1,article,16,"[[{'first_name': 'Menno', 'last_name': 'Yap', ...",pub.1107667522,Crowding valuation in urban tram and bus trans...,1-20,jour.1145297,Transportmetrica A Transport Science
1,2020,1,article,16,"[[{'first_name': 'Yunzhe', 'last_name': 'Liu',...",pub.1105205926,Understanding public transit patterns with ope...,1-37,jour.1145297,Transportmetrica A Transport Science
2,2020,1,article,6,"[[{'first_name': 'Kangkang', 'last_name': 'Gu'...",pub.1126372661,Spatial planning for urban ventilation corrido...,1747946,jour.1149989,Ecosystem Health and Sustainability
3,2020,1,article,6,"[[{'first_name': 'Wen', 'last_name': 'Wu', 'ra...",pub.1127576580,Change of impervious surface area and its impa...,1767511,jour.1149989,Ecosystem Health and Sustainability
4,2020,1,article,6,"[[{'first_name': 'Qicheng', 'last_name': 'Zhon...",pub.1125684642,A conceptual framework for ex ante valuation o...,1743206,jour.1149989,Ecosystem Health and Sustainability
5,2020,1,article,6,"[[{'first_name': 'Hua', 'last_name': 'Ma', 'ra...",pub.1124300554,How does environmental concern influence publi...,1722033,jour.1149989,Ecosystem Health and Sustainability
6,2020,1,article,6,"[[{'first_name': 'Fangqi', 'last_name': 'Zhao'...",pub.1126182990,The compactness of spatial structure in Chines...,1743763,jour.1149989,Ecosystem Health and Sustainability
7,2020,2,article,28,"[[{'first_name': 'Nikolay K.', 'last_name': 'K...",pub.1128390840,The accessibility of the center of Moscow as a...,334-346,jour.1299696,RUDN Journal of Economics
8,2020,6,article,142,"[[{'first_name': 'Sean', 'last_name': 'Lin', '...",pub.1125587329,Understanding the Effects of Capturing Climate...,NaN,jour.1049907,Journal of Solar Energy Engineering
9,2020,2,article,4,"[[{'first_name': 'Gökçen', 'last_name': 'Firde...",pub.1123969916,"Evaluation of Aesthetic, Functional, and Envir...",67-86,jour.1298918,Contemporary Urban Affairs
10,2020,1,article,20,"[[{'first_name': 'Siri', 'last_name': 'Wiig', ...",pub.1126815036,Defining the boundaries and operational concep...,330,jour.1327417,BMC Health Services Research
11,2020,1,article,10,"[[{'first_name': 'Chundi', 'last_name': 'Chen'...",pub.1128558788,Walls offer potential to improve urban biodive...,9905,jour.1045337,Scientific Reports
12,2020,1,article,18,"[[{'first_name': 'Stephen R.', 'last_name': 'H...",pub.1128669838,How to strengthen a health research system: WH...,72,jour.1032049,Health Research Policy and Systems
13,2020,1,article,9,"[[{'first_name': 'Ghazaleh', 'last_name': 'Rab...",pub.1127883142,Factors affecting severe weather threat index ...,9,jour.1136119,Environmental Systems Research
14,2020,1,article,7,"[[{'first_name': 'Pilar Maria', 'last_name': '...",pub.1124349387,"Migration, translation, and transformation of ...",3,jour.1136463,"City, Territory and Architecture"
15,2020,1,article,19,"[[{'first_name': 'Shew Fung', 'last_name': 'Wo...",pub.1126125703,Association between long-term exposure to ambi...,37,jour.1327425,Environmental Health
16,2020,1,article,10,"[[{'first_name': 'Naresh D.', 'last_name': 'Sa...",pub.1125616352,Circular manufacturing of chitinous bio-compos...,4632,jour.1045337,Scientific Reports
17,2020,1,article,7,"[[{'first_name': 'Michele', 'last_name': 'Vale...",pub.1125738864,Among territorial project and architectural de...,7,jour.1136463,"City, Territory and Architecture"
18,2020,1,article,11,"[[{'first_name': 'Huanbi', 'last_name': 'Yue',...",pub.1125754114,Stronger policy required to substantially redu...,1462,jour.1043282,Nature Communications
19,2020,1,article,20,"[[{'first_name': 'Rebecca', 'last_name': 'King...",pub.1128556243,A process for developing a sustainable and sca...,950,jour.1024954,BMC Public Health

## [DSL-378] Funder grant numbers inconsistency

https://uberresearch.atlassian.net/browse/DSL-378

#### Exact match on grants core fails

In [58]:
%dsldf search grants where grant_number="HL117648" and funders.name="NIH"

Returned Grants: 0
WARNINGS [1]
Please review your query, as it contains an entity filter (funders.name) that can lead to incomplete results. More details on https://docs.dimensions.ai/dsl/language.html#literal-fields-vs-entity-fields

Empty DataFrame
Columns: []
Index: []

#### Partial match, but with funder name, fails

In [59]:
%dsldf search grants where grant_number~"HL117648" and funders.name="NIH"

Returned Grants: 0
WARNINGS [1]
Please review your query, as it contains an entity filter (funders.name) that can lead to incomplete results. More details on https://docs.dimensions.ai/dsl/language.html#literal-fields-vs-entity-fields

Empty DataFrame
Columns: []
Index: []

#### Partial match, without funder name, succeeds

In [60]:
%dsl search grants where grant_number~"HL117648"

Returned Grants: 1 (total = 1)

#### Interestingly, 'NIH' doesn't appear anywhere in the funder JSON info

In [61]:
dsl_last_results.grants[0]['funders'][0]

{'id': 'grid.279885.9',
 'types': ['Facility'],
 'name': 'National Heart Lung and Blood Institute',
 'latitude': 39.00428,
 'city_name': 'Bethesda',
 'country_name': 'United States',
 'linkout': ['http://www.nhlbi.nih.gov/'],
 'state_name': 'Maryland',
 'longitude': -77.100945,
 'acronym': 'NHLBI'}

#### Hence also a partial match on the funder name fails

In [62]:
%dsldf search grants where grant_number~"HL117648" and funders.name~"NIH"

Returned Grants: 0
WARNINGS [1]
Please review your query, as it contains an entity filter (funders.name) that can lead to incomplete results. More details on https://docs.dimensions.ai/dsl/language.html#literal-fields-vs-entity-fields

Empty DataFrame
Columns: []
Index: []

#### Function with NIH as funder name works - maybe this is taken from GRID?

In [63]:
%dsl extract_grants(grant_number="HL117648", funder_name="NIH")

#### Function with wrong funder name fails

In [64]:
%dsl extract_grants(grant_number="HL117648", funder_name="NH")

#### Looking at GRID, the term NIH is not even in there.. prob it's the parent org

In [65]:
%dsldf search organizations where id="grid.279885.9" return organizations[basics+external_ids_fundref]

Returned Organizations: 1 (total = 1)

,latitude,types,acronym,country_name,external_ids_fundref,name,state_name,longitude,id,linkout,city_name
0,39.00428,[Facility],NHLBI,United States,[100000050],National Heart Lung and Blood Institute,Maryland,-77.100945,grid.279885.9,[http://www.nhlbi.nih.gov/],Bethesda

#### Function can also work with fundref ID which wouldn't be available via DSL (it's in the org core)

In [66]:
%dsl extract_grants(grant_number="HL117648", fundref="100000050")

## [DSL-414] patent funder countries

https://uberresearch.atlassian.net/browse/DSL-414

In [67]:
%dsldf search patents where funder_countries is not empty return funder_countries

Returned Funder_countries: 1

   id   count           name
0  US  181423  United States

In [68]:
%dsldf search patents where funder_countries = "ENG" return patents

Returned Patents: 0

Empty DataFrame
Columns: []
Index: []

In [69]:
%dsldf search patents where funder_countries.name = "United States" return patents

Returned Patents: 20 (total = 181423)

,year,times_cited,assignees,granted_year,inventor_names,filing_status,assignee_names,id,title,publication_date
0,2002,1,"[{'id': 'grid.453773.1', 'name': 'Wisconsin Al...",2003.0,"[Brent H. McCown, Eric L. Zeldin, Peter Normin...",Grant,"[Wisconsin Alumni Research Foundation, WISCONS...",US-PP14225-P2,Cranberry variety named ‘HyRed’,2003-10-14
1,2001,0,"[{'id': 'grid.16750.35', 'name': 'Princeton Un...",NaN,[Kevan Shokat],Application,"[Princeton University, UNIV PRINCETON]",US-20020146797-A1,Engineered protein kinases which can utilize m...,2002-10-10
2,2001,5,"[{'id': 'grid.239395.7', 'name': 'Beth Israel ...",2003.0,"[Kiflai Bein, Michael Simons]",Grant,"[Beth Israel Deaconess Medical Center Inc, BET...",US-6667388-B2,Peptide inhibitor of MMP activity and angiogen...,2003-12-23
3,2003,0,"[{'id': 'grid.30389.31', 'name': 'University o...",2003.0,"[Lin Song Li, Quanxi Jia]",Grant,"[University of California, UNIV CALIFORNIA]",US-6656390-B2,Preparation of energy storage materials,2003-12-02
4,2001,27,"[{'id': 'grid.265892.2', 'name': 'University o...",2004.0,"[Jeffrey A. Engler, Jae Hwy Lee, James F. Coll...",Grant,[University of Alabama at Birmingham Research ...,US-6743893-B2,Receptor-mediated uptake of peptides that bind...,2004-06-01
5,2001,10,"[{'id': 'grid.4367.6', 'name': 'Washington Uni...",2003.0,"[David H. Perlmutter, Nancy Marcus]",Grant,"[Washington University in St Louis, UNIV ST LO...",US-6656912-B2,Methods to treat α1-antitrypsin deficiency,2003-12-02
6,2002,0,"[{'id': 'grid.284601.9', 'name': 'IM Systems (...",2003.0,"[David K. Neumann, Thomas L. Henshaw]",Grant,"[Neumann Systems Group Inc, NEUMANN INFORMATIO...",US-6658038-B2,System for producing singlet delta oxygen laser,2003-12-02
7,2001,0,"[{'id': 'grid.266900.b', 'name': 'University o...",2003.0,"[Richard D. Cummings, Rodger P. McEver]",Grant,"[University of Oklahoma, UNIV OKLAHOMA]",US-6545123-B2,Synthetic glycosulfopeptides and methods of sy...,2003-04-08
8,2001,3,"[{'id': 'grid.85084.31', 'name': 'United State...",2002.0,"[Michael A. Hiskey, David E. Chavez, Darren Naud]",Grant,"[US Department of Energy, US ENERGY]",US-6342589-B1,"Preparation of 3,3′-azobis(6-amino-1,2,4,5-tet...",2002-01-29
9,2001,2,"[{'id': 'grid.420747.2', 'name': 'Honeywell (U...",2002.0,"[Steven E. Gianoulakis, Avijit K. Ray-Chaudhuri]",Grant,[National Technology and Engineering Solutions...,US-6441885-B2,Low thermal distortion extreme-UV lithography ...,2002-08-27
10,1999,92,"[{'id': 'grid.21729.3f', 'name': 'Columbia Uni...",2002.0,"[Jan Kitajewski, Hendrik Uyttendaele]",Grant,"[Columbia University of New York, UNIV COLUMBIA]",US-6379925-B1,Angiogenic modulation by notch signal transduc...,2002-04-30
11,1999,8,"[{'id': 'grid.214007.0', 'name': 'Scripps Rese...",2002.0,"[Chi-Huey Wong, Francisco Moris-Varas]",Grant,"[Scripps Research Institute, SCRIPPS RESEARCH ...",US-6462193-B1,Hydroxyazepanes as inhibitors of glycosidase a...,2002-10-08
12,2001,0,NaN,2003.0,[Nada H. Saab-Ishmail],Grant,[SAAB-ISHMAIL NADA H.],US-6583280-B1,Polyamine analogues having antiproliferative a...,2003-06-24
13,1996,10,"[{'id': 'grid.21729.3f', 'name': 'Columbia Uni...",2001.0,"[Paul B. Fisher, Jorge A. Leon]",Grant,"[Columbia University of New York, UNIV COLUMBIA]",US-6187819-B1,Protein kinase C activators and their use in d...,2001-02-13
14,1999,20,"[{'id': 'grid.164295.d', 'name': 'University o...",2001.0,"[Suzanne Ostrand-Rosenberg, Sivasubramanian Ba...",Grant,"[Harvard College, Dana-Farber Cancer Institute...",US-6319709-B1,Tumor cells with increased immunogenicity and ...,2001-11-20
15,1999,3,"[{'id': 'grid.423597.e', 'name': 'Brookhaven S...",2002.0,[Paul I. Freimuth],Grant,"[Brookhaven Science Associates LLC, BROOKHAVEN...",US-6395875-B1,Recombinant soluble adenovirus receptor,2002-05-28
16,1999,4,"[{'id': 'grid.30389.31', 'name': 'University o...",2001.0,"[Mark Tessier-Lavigne, E. David Leonardo, Lind...",Grant,"[University of California, UNIV CALIFORNIA]",US-6277585-B1,Netrin receptors,2001-08-21
17,1999,0,"[{'id': 'grid.434172.7', 'name': 'Micron Techn...",2002.0,[James J. Alwan],Grant,"[Micron Technology Inc, MICRON TECHNOLOGY INC]",US-6409835-B1,Apparatuses for forming layers,2002-06-25
18,1999,0,"[{'id': 'grid.38142.3c', 'name': 'Harvard Univ...",2001.0,"[Stephen M. Beverley, Angela K. Cruz]",Grant,"[Harvard College, HARVARD COLLEGE]",US-6228649-B1,Double targeted gene replacement in unicellula...,2001-05-08
19,1996,46,NaN,2000.0,[Jeffery W. Kelly],Grant,[KELLY; JEFFERY W.],US-6034211-A,β-sheet nucleating peptidomimetics,2000-03-07

## [DSL-311] Upgrade hrcs_rac_v2 

https://uberresearch.atlassian.net/browse/DSL-311

In [70]:
for s in G.sources():
    q = f"""search {s} where category_hrcs_rac is not empty return category_hrcs_rac"""
    dsl.query(q).as_dataframe()

Returned Category_hrcs_rac: 20
Returned Category_hrcs_rac: 20
Returned Category_hrcs_rac: 20
Returned Category_hrcs_rac: 20
Returned Category_hrcs_rac: 20
Returned Errors: 1
Semantic Error
Semantic errors found:
	Facet 'category_hrcs_rac' is not present in source 'researchers'. Available facets are: current_research_org,first_grant_year,first_publication_year,last_grant_year,last_publication_year,research_orgs,total_grants,total_publications
	Field 'category_hrcs_rac' is not present in source 'researchers'. Available fields are: current_research_org,first_grant_year,first_name,first_publication_year,id,last_grant_year,last_name,last_publication_year,nih_ppid,obsolete,orcid_id,redirect,research_orgs,total_grants,total_publications
Returned Errors: 1
Semantic Error
Semantic errors found:
	Facet 'category_hrcs_rac' is not present in source 'organizations'. Available facets are: city_name,country_name,nuts_level1_code,nuts_level1_name,nuts_level2_code,nuts_level2_name,nuts_level3_code,nuts_level3_name,state_name,types
	Field 'category_hrcs_rac' is not present in source 'organizations'. Available fields are: acronym,city_name,cnrs_ids,country_name,established,external_ids_fundref,hesa_ids,id,isni_ids,latitude,linkout,longitude,name,nuts_level1_code,nuts_level1_name,nuts_level2_code,nuts_level2_name,nuts_level3_code,nuts_level3_name,organization_child_ids,organization_parent_ids,organization_related_ids,orgref_ids,ror_ids,state_name,types,ucas_ids,ukprn_ids,wikidata_ids,wikipedia_url
Returned Category_hrcs_rac: 20

## [DSL-292] Add ROR IDs 

https://uberresearch.atlassian.net/browse/DSL-292

In [71]:
%dsldf search organizations where ror_ids is not empty return organizations[id+name+ror_ids]

Returned Organizations: 20 (total = 96592)

,ror_ids,name,id
0,[https://ror.org/0121dpf30],Health Resources and Services Administration,grid.454842.b
1,[https://ror.org/03t3qg659],Substance Abuse and Mental Health Services Adm...,grid.413730.2
2,[https://ror.org/034xvzb47],United States Food and Drug Administration,grid.417587.8
3,[https://ror.org/05rsv9s98],United States Department of Veterans Affairs,grid.418356.d
4,[https://ror.org/03jmfdf59],Agency for Healthcare Research and Quality,grid.413404.6
5,[https://ror.org/042twtr12],Centers for Disease Control and Prevention,grid.416738.f
6,[https://ror.org/0493hgw16],National Institute on Minority Health and Heal...,grid.281076.a
7,[https://ror.org/02xey9a22],Fogarty International Center,grid.453035.4
8,[https://ror.org/04byxyr05],National Institute of Child Health and Human D...,grid.420089.7
9,[https://ror.org/040gcmg81],National Cancer Institute,grid.48336.3a
10,[https://ror.org/04pw6fb54],National Center for Advancing Translational Sc...,grid.429651.d
11,[https://ror.org/00190t495],National Center for Complementary and Integrat...,grid.280655.c
12,[https://ror.org/03wkg3b53],National Eye Institute,grid.280030.9
13,[https://ror.org/012pb6c26],National Heart Lung and Blood Institute,grid.279885.9
14,[https://ror.org/00baak391],National Human Genome Research Institute,grid.280128.1
15,[https://ror.org/043z4tv69],National Institute of Allergy and Infectious D...,grid.419681.3
16,[https://ror.org/006zn3t30],National Institute of Arthritis and Musculoske...,grid.420086.8
17,[https://ror.org/00372qc85],National Institute of Biomedical Imaging and B...,grid.280347.a
18,[https://ror.org/004a2wv92],National Institute of Dental and Craniofacial ...,grid.419633.a
19,[https://ror.org/00adh9b73],National Institute of Diabetes and Digestive a...,grid.419635.c

In [72]:
%dsldf search organizations where ror_ids = "https://ror.org/0493hgw16" return organizations[id+name+ror_ids]

Returned Organizations: 1 (total = 1)

,ror_ids,name,id
0,[https://ror.org/0493hgw16],National Institute on Minority Health and Heal...,grid.281076.a

In [73]:
%dsldf search organizations where ror_ids in ["https://ror.org/0493hgw16", "https://ror.org/006zn3t30"] return organizations[id+name+ror_ids]

Returned Organizations: 2 (total = 2)

,ror_ids,name,id
0,[https://ror.org/0493hgw16],National Institute on Minority Health and Heal...,grid.281076.a
1,[https://ror.org/006zn3t30],National Institute of Arthritis and Musculoske...,grid.420086.8

In [74]:
%dsldf search organizations return ror_ids

Returned Errors: 1
Semantic Error
Semantic errors found:
	Facet 'ror_ids' is not present in source 'organizations'. Available facets are: city_name,country_name,nuts_level1_code,nuts_level1_name,nuts_level2_code,nuts_level2_name,nuts_level3_code,nuts_level3_name,state_name,types

## [DSL-449] Add is multivalue to describe

https://uberresearch.atlassian.net/browse/DSL-449

In [75]:
z = dsl.query("describe source grants")
for x in z['fields']:
    print(x, z['fields'][x]['is_multivalue'])

funding_cad False
original_title False
funding_org_city False
funding_nzd False
funding_currency False
start_date False
category_hrcs_rac True
concepts True
grant_number False
research_org_cities True
category_bra True
category_sdg True
category_hra True
date_inserted False
investigator_details False
language False
category_rcdc True
category_icrp_cso True
funding_aud False
research_org_state_codes True
language_title False
active_year True
category_hrcs_hc True
research_org_countries True
funding_eur False
category_uoa True
researchers True
abstract False
title False
funding_org_name False
funding_usd False
funders True
start_year False
category_icrp_ct True
category_for True
funding_chf False
research_orgs True
funder_countries True
funding_org_acronym False
funding_gbp False
foa_number False
linkout False
end_date False
funding_jpy False
id False

## [DSL-411] NUTS level 3

https://uberresearch.atlassian.net/browse/DSL-441

In [76]:
%dsldf search organizations return nuts_level3_code

Returned Nuts_level3_code: 20

       id  count
0   UKI32   1964
1   CZ020   1150
2   FR101    956
3   SE110    666
4   DE300    516
5   ES300    479
6   BE100    467
7   CZ064    433
8   ES511    401
9   IE021    391
10  ITI43    384
11  AT130    373
12  DE21H    338
13  PL127    338
14  UKH12    322
15  HU101    300
16  FI1B1    299
17  NL310    288
18  ITC4C    271
19  PT170    263

In [77]:
%dsldf search organizations return nuts_level3_name

Returned Nuts_level3_name: 20

                                                   id  count
0                                         Westminster   1964
1                                    Středočeský kraj   1150
2                                               Paris    956
3                                      Stockholms län    666
4                                              Berlin    516
5                                              Madrid    479
6   Arr. de Bruxelles-Capitale / Arr. van Brussel-...    467
7                                   Jihomoravský kraj    433
8                                           Barcelona    401
9                                              Dublin    391
10                                               Roma    384
11                                               Wien    373
12                                    Miasto Warszawa    338
13                                 München, Landkreis    338
14                                  Cambridgeshire CC    322
15                                           Budapest    300
16                                   Helsinki-Uusimaa    299
17                                            Utrecht    288
18                                             Milano    271
19                       Área Metropolitana de Lisboa    263

## [DSL-444] Function expressions: funding_per_year, citations_per_year

https://uberresearch.atlassian.net/browse/DSL-444

https://docs.dimensions.ai/dsl/1.26.0-preview/language.html#returning-complex-calculations-using-result-function-expressions

In [78]:
%dsl search grants for "malaria" return funding_per_year(2010, 2020, "CAD")

Returned Funding_per_year: 11

In [79]:
currencies = ['CAD','CHF','EUR','NZD','CNY','GBP','JPY','USD','AUD']

for x in currencies:
    q = f"""search grants for "malaria" return funding_per_year(2010, 2020, "{x}")"""
    print("--", q)
    display(dsl.query(q).funding_per_year)

-- search grants for "malaria" return funding_per_year(2010, 2020, "CAD")
Returned Funding_per_year: 11

{'2010': 714438383.0,
 '2011': 639584017.0,
 '2012': 636685852.0,
 '2013': 680469990.0,
 '2014': 797477635.0,
 '2015': 845116461.0,
 '2016': 907046992.0,
 '2017': 961895216.0,
 '2018': 1002570100.0,
 '2019': 1009336646.0,
 '2020': 763784737.0}

-- search grants for "malaria" return funding_per_year(2010, 2020, "CHF")
Returned Funding_per_year: 11

{'2010': 712034761.0,
 '2011': 601163025.0,
 '2012': 593538936.0,
 '2013': 623430563.0,
 '2014': 681810929.0,
 '2015': 659332212.0,
 '2016': 682002492.0,
 '2017': 729045258.0,
 '2018': 758867462.0,
 '2019': 758368535.0,
 '2020': 571708061.0}

-- search grants for "malaria" return funding_per_year(2010, 2020, "EUR")
Returned Funding_per_year: 11

{'2010': 498393351.0,
 '2011': 462421916.0,
 '2012': 481587449.0,
 '2013': 506655420.0,
 '2014': 557482218.0,
 '2015': 592285726.0,
 '2016': 624646865.0,
 '2017': 658154046.0,
 '2018': 664884945.0,
 '2019': 675584804.0,
 '2020': 522800302.0}

-- search grants for "malaria" return funding_per_year(2010, 2020, "NZD")
Returned Funding_per_year: 11

{'2010': 970763980.0,
 '2011': 834028128.0,
 '2012': 800441029.0,
 '2013': 822396175.0,
 '2014': 899279859.0,
 '2015': 946009404.0,
 '2016': 994424048.0,
 '2017': 1046006784.0,
 '2018': 1110122325.0,
 '2019': 1144622730.0,
 '2020': 876189255.0}

-- search grants for "malaria" return funding_per_year(2010, 2020, "CNY")
Returned Funding_per_year: 11

{'2010': 4573220721.0,
 '2011': 4177059756.0,
 '2012': 4070502750.0,
 '2013': 4174070435.0,
 '2014': 4570007249.0,
 '2015': 4321067157.0,
 '2016': 4558185715.0,
 '2017': 4977229594.0,
 '2018': 5148539103.0,
 '2019': 5229645967.0,
 '2020': 4055035047.0}

-- search grants for "malaria" return funding_per_year(2010, 2020, "GBP")
Returned Funding_per_year: 11

{'2010': 427786561.0,
 '2011': 397323102.0,
 '2012': 398612712.0,
 '2013': 423533921.0,
 '2014': 456959392.0,
 '2015': 445237882.0,
 '2016': 498094332.0,
 '2017': 564430186.0,
 '2018': 584096306.0,
 '2019': 592462475.0,
 '2020': 447752460.0}

-- search grants for "malaria" return funding_per_year(2010, 2020, "JPY")
Returned Funding_per_year: 11

{'2010': 60819072188.0,
 '2011': 52969774460.0,
 '2012': 51488087145.0,
 '2013': 61017229522.0,
 '2014': 75716398290.0,
 '2015': 80064946273.0,
 '2016': 77562338025.0,
 '2017': 82382722361.0,
 '2018': 85879381291.0,
 '2019': 83999138377.0,
 '2020': 63758961958.0}

-- search grants for "malaria" return funding_per_year(2010, 2020, "USD")
Returned Funding_per_year: 11

{'2010': 669425658.0,
 '2011': 632544077.0,
 '2012': 635179423.0,
 '2013': 666380790.0,
 '2014': 739678665.0,
 '2015': 695722790.0,
 '2016': 699163780.0,
 '2017': 742566861.0,
 '2018': 775274558.0,
 '2019': 767161714.0,
 '2020': 585991567.0}

-- search grants for "malaria" return funding_per_year(2010, 2020, "AUD")
Returned Funding_per_year: 11

{'2010': 772338127.0,
 '2011': 648514621.0,
 '2012': 624176921.0,
 '2013': 678057492.0,
 '2014': 801846332.0,
 '2015': 870883646.0,
 '2016': 925662419.0,
 '2017': 969844002.0,
 '2018': 1028127632.0,
 '2019': 1077344636.0,
 '2020': 837545442.0}

In [80]:
topics = ['malaria', 'graphene', ]

for x in topics:
    q = f"""search publications for "{x}" return citations_per_year(2010, 2020)"""
    print("--", q)
    display(dsl.query(q).citations_per_year)

-- search publications for "malaria" return citations_per_year(2010, 2020)
Returned Citations_per_year: 11

{'2010': 403334.0,
 '2011': 466738.0,
 '2012': 535644.0,
 '2013': 605954.0,
 '2014': 677422.0,
 '2015': 740835.0,
 '2016': 809767.0,
 '2017': 906091.0,
 '2018': 971640.0,
 '2019': 1089685.0,
 '2020': 725488.0}

-- search publications for "graphene" return citations_per_year(2010, 2020)
Returned Citations_per_year: 11

{'2010': 123040.0,
 '2011': 209820.0,
 '2012': 324282.0,
 '2013': 456540.0,
 '2014': 641735.0,
 '2015': 906591.0,
 '2016': 1166402.0,
 '2017': 1519509.0,
 '2018': 1729124.0,
 '2019': 2228775.0,
 '2020': 1789468.0}

## [DSL-475] Grants category sdg

https://uberresearch.atlassian.net/browse/DSL-475

In [81]:
%dsldf search grants where category_sdg is not empty return grants

Returned Grants: 20 (total = 557816)

,funders,start_year,original_title,active_year,title_language,start_date,language,project_num,id,title,funding_org_name,end_date
0,"[{'id': 'grid.484521.e', 'types': ['Nonprofit'...",2021,APPROACH to Enriching the Real World Evidence ...,[2021],en,2021-11-30,en,2018-HRSI-1548,grant.8690978,APPROACH to Enriching the Real World Evidence ...,New Brunswick Health Research Foundation,NaN
1,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Knowledge Transfer in Global Gender Programmes...,"[2021, 2022, 2023, 2024]",en,2021-10-01,en,894029,grant.9064813,Knowledge Transfer in Global Gender Programmes...,European Commission,2024-09-30
2,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,The molecular mechanisms of sex determination ...,"[2021, 2022, 2023]",en,2021-09-01,en,895744,grant.9064941,The molecular mechanisms of sex determination ...,European Commission,2023-08-31
3,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Mass cytometry nanotools for intracellular tar...,"[2021, 2022, 2023]",en,2021-09-01,en,895664,grant.9064723,Mass cytometry nanotools for intracellular tar...,European Commission,2023-08-31
4,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Understanding the Dynamic Nature of Catalysts ...,"[2021, 2022, 2023]",en,2021-09-01,en,897197,grant.9064835,Understanding the Dynamic Nature of Catalysts ...,European Commission,2023-08-31
5,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Diffiusion of laws addressing anti-LGBT violen...,"[2021, 2022, 2023]",en,2021-09-01,en,895099,grant.9065543,Diffiusion of laws addressing anti-LGBT violen...,European Commission,2023-08-31
6,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Origins of Scarcity: Labour and the Metabolism...,"[2021, 2022, 2023]",en,2021-09-01,en,890611,grant.9064894,Origins of Scarcity: Labour and the Metabolism...,European Commission,2023-08-31
7,"[{'id': 'grid.422239.c', 'types': ['Government...",2021,Thought Crime in Anglo-American Law and Legal ...,"[2021, 2022]",en,2021-09-01,en,FEL-268081-20,grant.8857915,Thought Crime in Anglo-American Law and Legal ...,National Endowment for the Humanities,2022-08-31
8,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Analyzing emerging patterns of mortality throu...,"[2021, 2022, 2023]",en,2021-09-01,en,896821,grant.9065026,Analyzing emerging patterns of mortality throu...,European Commission,2023-08-31
9,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,From the sky to the sea: genomic insights into...,"[2021, 2022, 2023]",en,2021-09-01,en,890257,grant.9065473,From the sky to the sea: genomic insights into...,European Commission,2023-08-31
10,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,"Speaking Freely: Linguistic Domination, Republ...","[2021, 2022, 2023]",en,2021-09-01,en,892537,grant.9065506,"Speaking Freely: Linguistic Domination, Republ...",European Commission,2023-08-31
11,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,From Demos to Ethnos: Popular Revolt and Elite...,"[2021, 2022, 2023]",en,2021-09-01,en,897686,grant.9066082,From Demos to Ethnos: Popular Revolt and Elite...,European Commission,2023-08-31
12,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Evolutionary processes in calcifying organisms...,"[2021, 2022, 2023]",en,2021-09-01,en,896119,grant.9065564,Evolutionary processes in calcifying organisms...,European Commission,2023-08-31
13,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Advanced Solutions for Asphalt Pavements,"[2021, 2022, 2023]",en,2021-09-01,en,886828,grant.9065855,Advanced Solutions for Asphalt Pavements,European Commission,2023-08-31
14,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Living Together: a study of Hansalim as a mode...,"[2021, 2022, 2023, 2024]",en,2021-09-01,en,892403,grant.9064709,Living Together: a study of Hansalim as a mode...,European Commission,2024-08-31
15,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Group effects of news evaluation in social media,"[2021, 2022, 2023, 2024]",en,2021-09-01,en,889635,grant.9065272,Group effects of news evaluation in social media,European Commission,2024-08-31
16,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Deciphering fundamental constraints on pathoge...,"[2021, 2022, 2023]",en,2021-09-01,en,890630,grant.9064570,Deciphering fundamental constraints on pathoge...,European Commission,2023-08-31
17,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,The Metabolic Niche Framework – Linking Metabo...,"[2021, 2022, 2023]",en,2021-09-01,en,893895,grant.9064605,The Metabolic Niche Framework – Linking Metabo...,European Commission,2023-08-31
18,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Parallel Lives: Dependency and Backwardness,"[2021, 2022, 2023, 2024]",en,2021-09-01,en,893523,grant.9064805,Parallel Lives: Dependency and Backwardness,European Commission,2024-08-31
19,"[{'id': 'grid.270680.b', 'types': ['Government...",2021,Factors driving mother-to-infant microbiota tr...,"[2021, 2022, 2023]",en,2021-09-01,en,898088,grant.9064970,Factors driving mother-to-infant microbiota tr...,European Commission,2023-08-31

In [82]:
%dsldf search grants return category_sdg

Returned Category_sdg: 17

       id   count                                       name
0   40007  148851              7 Affordable and Clean Energy
1   40003  107885               3 Good Health and Well Being
2   40004   88292                        4 Quality Education
3   40013   77467                          13 Climate Action
4   40016   46669  16 Peace, Justice and Strong Institutions
5   40011   33447      11 Sustainable Cities and Communities
6   40008   19349          8 Decent Work and Economic Growth
7   40002   17067                              2 Zero Hunger
8   40010   12567                    10 Reduced Inequalities
9   40012   12246  12 Responsible Consumption and Production
10  40015   11363                            15 Life on Land
11  40014    9659                        14 Life Below Water
12  40006    8344               6 Clean Water and Sanitation
13  40009    3755  9 Industry, Innovation and Infrastructure
14  40001    3631                               1 No Poverty
15  40005    1810                          5 Gender Equality
16  40017    1638              17 Partnerships for the Goals

## [DSL-479] Update datasets license

https://uberresearch.atlassian.net/browse/DSL-479

In [83]:
%dsldf search datasets for "machine learning" return datasets[id+license]

Returned Datasets: 20 (total = 5548)
WARNINGS [1]
Field 'license' is deprecated in favor of license_name. Please refer to https://docs.dimensions.ai/dsl/releasenotes.html for more details

,id,license.url,license.name,license.value
0,5715196,https://opensource.org/licenses/MIT,MIT,3
1,12463832,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
2,1604916,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
3,1604917,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
4,11319911,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
5,3793596,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
6,3793131,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
7,3824103,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
8,6215084,https://creativecommons.org/licenses/by/4.0/,CC BY + CC0,47
9,6215069,https://creativecommons.org/licenses/by/4.0/,CC BY + CC0,47
10,9900956,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
11,8960102,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
12,11563686,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
13,3407182,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
14,1606311,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
15,7790087,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
16,7594967,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
17,12053637,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
18,12019617,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1
19,9119699,https://creativecommons.org/licenses/by/4.0/,CC BY 4.0,1

In [84]:
%dsldf search datasets for "machine learning" return datasets[id+license_name+license_url]

Returned Datasets: 20 (total = 5548)

   license_name                                   license_url        id
0           MIT           https://opensource.org/licenses/MIT   5715196
1     CC BY 4.0  https://creativecommons.org/licenses/by/4.0/  12463832
2     CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   1604916
3     CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   1604917
4     CC BY 4.0  https://creativecommons.org/licenses/by/4.0/  11319911
5     CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   3793596
6     CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   3793131
7     CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   3824103
8   CC BY + CC0  https://creativecommons.org/licenses/by/4.0/   6215084
9   CC BY + CC0  https://creativecommons.org/licenses/by/4.0/   6215069
10    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   9900956
11    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   8960102
12    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/  11563686
13    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   3407182
14    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   1606311
15    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   7790087
16    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   7594967
17    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/  12053637
18    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/  12019617
19    CC BY 4.0  https://creativecommons.org/licenses/by/4.0/   9119699

In [85]:
%dsldf search datasets for "machine learning" return license_name

Returned License_name: 16

                 id  count
0         CC BY 4.0   3888
1       CC BY + CC0    621
2      CC BY-NC 4.0    538
3               CC0    364
4               MIT     72
5      CC BY-SA 4.0     19
6          GPL 3.0+     13
7        Apache 2.0     10
8      In Copyright      8
9      BSD 3-Clause      3
10         GPL 2.0+      3
11            CC BY      2
12        CC BY 1.0      2
13  CC BY-NC-ND 4.0      2
14              GPL      2
15  CC BY-NC-SA 4.0      1

## [DSL-478] Datasets category sdg

https://uberresearch.atlassian.net/browse/DSL-478

In [86]:
%dsldf search datasets where category_sdg is not empty return datasets

Returned Datasets: 20 (total = 75182)

,year,authors,id,title,keywords,journal.id,journal.title
0,2012,"[{'name': 'Alfred K. Njamnshi', 'orcid': ''}, ...",354171,Data on subjects investigated in the present s...,"[subjects, investigated]",jour.1037994,PLoS Neglected Tropical Diseases
1,2012,"[{'name': 'Elodie Descloux', 'orcid': ''}, {'n...",354132,Correlations between meteorological variables ...,"[meteorological, variables, dengue, outbreaks]",jour.1037994,PLoS Neglected Tropical Diseases
2,2012,"[{'name': 'Kirsten E. Lyke', 'orcid': ''}, {'n...",353865,Intracellular Cytokine Expression to Antigen S...,"[cytokine, antigen]",jour.1037553,PLoS ONE
3,2012,"[{'name': 'Kirsten E. Lyke', 'orcid': ''}, {'n...",353833,CD25hi Depletion Assay Results.,"[depletion, assay]",jour.1037553,PLoS ONE
4,2012,"[{'name': 'Dieudonné Nkoghe', 'orcid': ''}, {'...",353502,Distribution of suspected and confirmed cases ...,"[suspected, confirmed, cases, 2010, chikunguny...",jour.1037994,PLoS Neglected Tropical Diseases
5,2012,"[{'name': 'Laura Helena Andrade', 'orcid': ''}...",353374,Associations of exposure to crime-related§ tra...,"[traumatic, events, 12-month, disorders]",jour.1037553,PLoS ONE
6,2012,"[{'name': 'Allen H. Hurlbert', 'orcid': ''}, {...",128386,Spatiotemporal Variation in Avian Migration Ph...,"[spatiotemporal, avian, reveals, effects]",jour.1037553,PLoS ONE
7,2012,"[{'name': 'Tim M. Daw', 'orcid': ''}, {'name':...",128886,To Fish or Not to Fish: Factors at Multiple Sc...,"[livelihood, conservation policy imperatives, ...",jour.1037553,PLoS ONE
8,2012,"[{'name': 'Xin-Ju Xiao', 'orcid': ''}, {'name'...",129831,Predicted Disappearance of Cephalantheropsis o...,"[predicted, disappearance, luofu, changes, rai...",jour.1037553,PLoS ONE
9,2012,"[{'name': 'Anna V. Protasio', 'orcid': ''}, {'...",129798,A Systematically Improved High Quality Genome ...,"[systematically, genome, transcriptome, fluke]",jour.1037994,PLoS Neglected Tropical Diseases
10,2012,"[{'name': 'Rori V. Rohlfs', 'orcid': ''}, {'na...",129111,Familial Identification: Population Structure ...,"[familial, distinguishability]",jour.1034974,PLOS Genetics
11,2012,"[{'name': 'Darren M. Soanes', 'orcid': ''}, {'...",129032,Genome-wide Transcriptional Profiling of Appre...,"[genome-wide, transcriptional, profiling, appr...",jour.1034963,PLoS Pathogens
12,2012,"[{'name': 'Susanne H. Sheehy', 'orcid': ''}, {...",128506,Phase Ia Clinical Evaluation of the Safety and...,"[ia, immunogenicity, blood-stage, antigen, ama...",jour.1037553,PLoS ONE
13,2012,"[{'name': 'Felix C. Mark', 'orcid': ''}, {'nam...",128467,Mitochondrial Function in Antarctic Notothenii...,"[mitochondrial, antarctic, nototheniids, trans...",jour.1037553,PLoS ONE
14,2012,"[{'name': 'James W. Rudge', 'orcid': ''}, {'na...",128466,Health System Resource Gaps and Associated Mor...,"[gaps, pandemic, influenza, asian, territories]",jour.1037553,PLoS ONE
15,2012,"[{'name': 'Ambak K. Rai', 'orcid': ''}, {'name...",129088,Regulatory T Cells Suppress T Cell Activation ...,"[cells, suppress, activation, pathologic, visc...",jour.1037553,PLoS ONE
16,2012,"[{'name': 'James G. Kahn', 'orcid': ''}, {'nam...",129048,"Integrated HIV Testing, Malaria, and Diarrhea ...","[hiv, diarrhea, modeled, cost-effectiveness]",jour.1037553,PLoS ONE
17,2012,"[{'name': 'Justin Komguep Nono', 'orcid': ''},...",128440,Excretory/Secretory-Products of Echinococcus m...,"[larvae, induce, apoptosis, tolerogenic, prope...",jour.1037994,PLoS Neglected Tropical Diseases
18,2012,"[{'name': 'Anna de Breij', 'orcid': ''}, {'nam...",128969,Table S1 - Differences in Acinetobacter bauman...,"[differences, strains, innate, morbidity, pneu...",jour.1037553,PLoS ONE
19,2012,"[{'name': 'Ing-Kit Lee', 'orcid': ''}, {'name'...",128405,Table S1 - Fatal Dengue Hemorrhagic Fever in A...,"[dengue, hemorrhagic, emphasizing, evolutionar...",jour.1037994,PLoS Neglected Tropical Diseases

In [87]:
%dsldf search datasets return category_sdg

Returned Category_sdg: 17

       id  count                                       name
0   40003  29150               3 Good Health and Well Being
1   40013  18434                          13 Climate Action
2   40007   9283              7 Affordable and Clean Energy
3   40008   3369          8 Decent Work and Economic Growth
4   40014   3176                        14 Life Below Water
5   40004   2979                        4 Quality Education
6   40016   2308  16 Peace, Justice and Strong Institutions
7   40006   2016               6 Clean Water and Sanitation
8   40002   1850                              2 Zero Hunger
9   40015   1303                            15 Life on Land
10  40011   1010      11 Sustainable Cities and Communities
11  40010    920                    10 Reduced Inequalities
12  40001    398                               1 No Poverty
13  40012    373  12 Responsible Consumption and Production
14  40005    279                          5 Gender Equality
15  40009    102  9 Industry, Innovation and Infrastructure
16  40017     34              17 Partnerships for the Goals

## [DSL-477] Clinical trails mesh terms

https://uberresearch.atlassian.net/browse/DSL-477

In [88]:
%dsldf search clinical_trials where mesh_terms is not empty return clinical_trials[id+mesh_terms]

Returned Clinical_trials: 20 (total = 284983)

                                           mesh_terms           id
0                           [Head and Neck Neoplasms]  NCT02318277
1           [Substance Withdrawal Syndrome, Syndrome]  NCT02318290
2   [Rhinitis, Rhinitis, Allergic, Rhinitis, Aller...  NCT02318303
3   [Urinary Bladder Neoplasms, Carcinoma, Transit...  NCT02318329
4                                        [Thrombosis]  NCT02318342
5                   [Wounds and Injuries, Hemorrhage]  NCT02318355
6    [Carcinoma, Non-Small-Cell Lung, Lung Neoplasms]  NCT02318368
7   [Hereditary Sensory and Motor Neuropathy, Nerv...  NCT02318381
8                                         [Neoplasms]  NCT02318394
9              [Osteoarthritis, Osteoarthritis, Knee]  NCT02318407
10  [Stillbirth, Maternal Death, Obstetric Labor C...  NCT02318420
11                 [Osteoarthritis, Radius Fractures]  NCT02318433
12                                         [Epilepsy]  NCT02318446
13      [Muscle Weakness, Gait Disorders, Neurologic]  NCT02318459
14           [Venous Thrombosis, Thrombosis, Rupture]  NCT02318472
15                [Myocardial Infarction, Infarction]  NCT02318498
16                                   [Osteoarthritis]  NCT02318511
17                   [Lung Diseases, Fungal, Mycoses]  NCT02318524
18                [Syndrome, Lennox Gastaut Syndrome]  NCT02318537
19  [Syndrome, Spasms, Infantile, Epilepsies, Myoc...  NCT02318563

In [89]:
%dsldf search clinical_trials return mesh_terms

Returned Mesh_terms: 20

                                id  count
0                Diabetes Mellitus   7871
1                 Breast Neoplasms   7790
2                         Syndrome   7182
3        Diabetes Mellitus, Type 2   5967
4                        Neoplasms   5624
5                        Carcinoma   5488
6                   Lung Neoplasms   5021
7                        Infection   4956
8                         Leukemia   4939
9                       Depression   4808
10                    Hypertension   4775
11                        Lymphoma   4725
12             Prostatic Neoplasms   4227
13         Coronary Artery Disease   3903
14  Carcinoma, Non-Small-Cell Lung   3865
15                         Disease   3851
16             Depressive Disorder   3839
17                  HIV Infections   3699
18                          Stroke   3588
19                   Heart Failure   3554

In [90]:
%dsldf search clinical_trials where mesh_terms = "Stroke" return category_for

Returned Category_for: 20

      id  count                                               name
0   2211   3385                     11 Medical and Health Sciences
1   3053   1579                             1103 Clinical Sciences
2   3120   1444                                 1109 Neurosciences
3   3177    816             1117 Public Health and Health Services
4   3048    519    1102 Cardiorespiratory Medicine and Haematology
5   2217    311               17 Psychology and Cognitive Sciences
6   3468    309                                    1701 Psychology
7   3097     65             1106 Human Movement and Sports Science
8   3164     57      1115 Pharmacology and Pharmaceutical Sciences
9   2208     53              08 Information and Computing Sciences
10  2746     51  0801 Artificial Intelligence and Image Processing
11  2209     22                                     09 Engineering
12  2837     20                        0903 Biomedical Engineering
13  2206     13                             06 Biological Sciences
14  3079     12        1104 Complementary and Alternative Medicine
15  2620     11                                      0604 Genetics
16  3128      8                                       1110 Nursing
17  3103      7                                    1107 Immunology
18  3142      4                   1112 Oncology and Carcinogenesis
19  3158      4         1114 Paediatrics and Reproductive Medicine

## [DSL-284] Drill down syntax

https://uberresearch.atlassian.net/browse/DSL-284

### 1) If you don't return any publications data, publications without researchers lead to lots of empty rows. We decided to leave as is for now

In [91]:
%%dsldf
search publications return publications[unnest(researchers)]

Returned Publications: 32 (total = 110778116)

,researchers.id,researchers.first_name,researchers.last_name,researchers.orcid_id,researchers.research_orgs
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,ur.07430064243.75,Nathaly,Aya Pastrana,[0000-0002-0321-2397],[grid.29078.34]
4,ur.0722036447.03,Claire,Somerville,NaN,[grid.424404.2]
5,ur.0663400406.47,L Suzanne,Suggs,NaN,"[grid.264797.9, grid.483659.5, grid.7445.2, gr..."
6,ur.015114237435.63,Mahendra M,Reddy,[0000-0001-9726-6064],"[grid.414953.e, grid.416263.4]"
7,ur.0670077515.38,Pruthu,Thekkur,[0000-0001-5257-5074],"[grid.8195.5, grid.414953.e, grid.483403.8, gr..."
8,ur.015065241447.02,Nagesh,Ramya,[0000-0001-6319-7275],NaN
9,ur.010761343641.82,Prasanna B T,Kamath,NaN,NaN
10,ur.0746304355.66,Suresh G,Shastri,NaN,"[grid.464881.7, grid.454780.a, grid.452679.b, ..."
11,ur.01124645367.27,Palanivel,Chinnakali,[0000-0001-8320-1016],"[grid.414611.7, grid.414953.e, grid.198530.6]"
12,ur.013042103661.54,Abhay Subhashrao,Nirgude,NaN,"[grid.419776.a, grid.416738.f, grid.413027.3]"
13,ur.0664030760.88,Narasimhaiah,Somashekar,NaN,[grid.419776.a]
14,ur.013130304214.27,Benjamin-Samuel,Schlüter,NaN,[grid.7942.8]
15,ur.01065454262.07,Bruno,Masquelier,[0000-0002-9585-891X],"[grid.77048.3c, grid.7942.8]"
16,ur.016452515157.97,Charlotte Jessica Eland,Metcalf,NaN,"[grid.29857.31, grid.16750.35, grid.420089.7, ..."
17,NaN,NaN,NaN,NaN,NaN
18,ur.0644571555.93,Georg,Satzinger,NaN,"[grid.6190.e, grid.10388.32]"
19,ur.01137217365.42,Hans-Joachim,Ziegeler,NaN,"[grid.10392.39, grid.6190.e]"
20,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN

In this case it's ok

In [92]:
%%dsldf
search publications return publications[doi+unnest(researchers)]

Returned Publications: 32 (total = 110778116)

,doi,researchers.id,researchers.first_name,researchers.last_name,researchers.orcid_id,researchers.research_orgs
0,10.1515/9789048550531-003,NaN,NaN,NaN,NaN,NaN
1,10.1515/9783110823547-013,NaN,NaN,NaN,NaN,NaN
2,10.1515/9783110907452,NaN,NaN,NaN,NaN,NaN
3,10.1080/16549716.2019.1711335,ur.07430064243.75,Nathaly,Aya Pastrana,[0000-0002-0321-2397],[grid.29078.34]
4,10.1080/16549716.2019.1711335,ur.0722036447.03,Claire,Somerville,NaN,[grid.424404.2]
5,10.1080/16549716.2019.1711335,ur.0663400406.47,L Suzanne,Suggs,NaN,"[grid.264797.9, grid.483659.5, grid.7445.2, gr..."
6,10.1080/16549716.2019.1704540,ur.015114237435.63,Mahendra M,Reddy,[0000-0001-9726-6064],"[grid.414953.e, grid.416263.4]"
7,10.1080/16549716.2019.1704540,ur.0670077515.38,Pruthu,Thekkur,[0000-0001-5257-5074],"[grid.8195.5, grid.414953.e, grid.483403.8, gr..."
8,10.1080/16549716.2019.1704540,ur.015065241447.02,Nagesh,Ramya,[0000-0001-6319-7275],NaN
9,10.1080/16549716.2019.1704540,ur.010761343641.82,Prasanna B T,Kamath,NaN,NaN
10,10.1080/16549716.2019.1704540,ur.0746304355.66,Suresh G,Shastri,NaN,"[grid.464881.7, grid.454780.a, grid.452679.b, ..."
11,10.1080/16549716.2019.1704540,ur.01124645367.27,Palanivel,Chinnakali,[0000-0001-8320-1016],"[grid.414611.7, grid.414953.e, grid.198530.6]"
12,10.1080/16549716.2019.1704540,ur.013042103661.54,Abhay Subhashrao,Nirgude,NaN,"[grid.419776.a, grid.416738.f, grid.413027.3]"
13,10.1080/16549716.2019.1704540,ur.0664030760.88,Narasimhaiah,Somashekar,NaN,[grid.419776.a]
14,10.1080/16549716.2020.1717411,ur.013130304214.27,Benjamin-Samuel,Schlüter,NaN,[grid.7942.8]
15,10.1080/16549716.2020.1717411,ur.01065454262.07,Bruno,Masquelier,[0000-0002-9585-891X],"[grid.77048.3c, grid.7942.8]"
16,10.1080/16549716.2020.1717411,ur.016452515157.97,Charlotte Jessica Eland,Metcalf,NaN,"[grid.29857.31, grid.16750.35, grid.420089.7, ..."
17,10.1515/9783110950762-012,NaN,NaN,NaN,NaN,NaN
18,10.1515/9783110922035-011,ur.0644571555.93,Georg,Satzinger,NaN,"[grid.6190.e, grid.10388.32]"
19,10.1515/9783110922035-011,ur.01137217365.42,Hans-Joachim,Ziegeler,NaN,"[grid.10392.39, grid.6190.e]"
20,10.1515/9783110922035-006,NaN,NaN,NaN,NaN,NaN
21,10.1515/9783110939996-010,NaN,NaN,NaN,NaN,NaN
22,10.1515/9783110841794-004,NaN,NaN,NaN,NaN,NaN
23,10.1515/9783110832181-026,NaN,NaN,NaN,NaN,NaN
24,10.1515/9789048550531-011,NaN,NaN,NaN,NaN,NaN
25,10.1515/9783110841794-008,NaN,NaN,NaN,NaN,NaN
26,10.1515/9783110953909-015,NaN,NaN,NaN,NaN,NaN
27,10.1515/9783110939996-015,NaN,NaN,NaN,NaN,NaN
28,10.1515/9783110934212-010,NaN,NaN,NaN,NaN,NaN
29,10.1515/9783110934212-011,NaN,NaN,NaN,NaN,NaN
30,10.1515/9783110950762-017,NaN,NaN,NaN,NaN,NaN
31,10.1515/9783110823547-011,NaN,NaN,NaN,NaN,NaN

### 2) Unnesting category_uoa or category_hra

In [98]:
%%dsldf
search publications return publications[doi+title+unnest(category_uoa)]

Returned Publications: 20 (total = 110778116)

,doi,title,category_uoa.id,category_uoa.name
0,10.1515/9789048550531-003,2. The Sunflowers in Perspective,NaN,NaN
1,10.1515/9783110823547-013,Literature,NaN,NaN
2,10.1515/9783110907452,Die Standesordnungen der freien Berufe,NaN,NaN
3,10.1080/16549716.2019.1711335,The gender responsiveness of social marketing ...,30003,"A03 Allied Health Professions, Dentistry, Nurs..."
4,10.1080/16549716.2019.1704540,To start or to complete? – Challenges in imple...,30002,"A02 Public Health, Health Services and Primary..."
5,10.1080/16549716.2020.1717411,Long-term trends in seasonality of mortality i...,30002,"A02 Public Health, Health Services and Primary..."
6,10.1515/9783110950762-012,"Eine Warnung an alle, dy sych etwaz duncken: D...",NaN,NaN
7,10.1515/9783110922035-011,Marienklagen und Pietà,NaN,NaN
8,10.1515/9783110922035-006,Johannes Taulers Via negationis,NaN,NaN
9,10.1515/9783110939996-010,"Die editorische Einheit ,Textstufe'",NaN,NaN
10,10.1515/9783110841794-004,ad Iliadis librum Ζ,NaN,NaN
11,10.1515/9783110832181-026,De dato patris luminum,NaN,NaN
12,10.1515/9789048550531-011,Experimental Methods and Conditions Used for I...,NaN,NaN
13,10.1515/9783110841794-008,In volumine primo corrigenda,NaN,NaN
14,10.1515/9783110953909-015,Index grammaticus et rhetoricus,NaN,NaN
15,10.1515/9783110939996-015,Die Darstellung von Textunsicherheiten und nic...,NaN,NaN
16,10.1515/9783110934212-010,Zur Geschichte von Georg Hermanns Nachlaß. Ein...,NaN,NaN
17,10.1515/9783110934212-011,Anhang,NaN,NaN
18,10.1515/9783110950762-017,Vom Mittelhochdeutschen zum Frühneuhochdeutsch...,NaN,NaN
19,10.1515/9783110823547-011,Representations of Skalds in the Sagas 1: Soci...,NaN,NaN

In [99]:
%%dsldf
search publications return publications[doi+title+unnest(category_hra)]

Returned Publications: 20 (total = 110778116)

,doi,title,category_hra.id,category_hra.name
0,10.1515/9789048550531-003,2. The Sunflowers in Perspective,NaN,NaN
1,10.1515/9783110823547-013,Literature,NaN,NaN
2,10.1515/9783110907452,Die Standesordnungen der freien Berufe,NaN,NaN
3,10.1080/16549716.2019.1711335,The gender responsiveness of social marketing ...,3903,Population & Society
4,10.1080/16549716.2019.1704540,To start or to complete? – Challenges in imple...,3903,Population & Society
5,10.1080/16549716.2020.1717411,Long-term trends in seasonality of mortality i...,3903,Population & Society
6,10.1515/9783110950762-012,"Eine Warnung an alle, dy sych etwaz duncken: D...",NaN,NaN
7,10.1515/9783110922035-011,Marienklagen und Pietà,NaN,NaN
8,10.1515/9783110922035-006,Johannes Taulers Via negationis,NaN,NaN
9,10.1515/9783110939996-010,"Die editorische Einheit ,Textstufe'",NaN,NaN
10,10.1515/9783110841794-004,ad Iliadis librum Ζ,NaN,NaN
11,10.1515/9783110832181-026,De dato patris luminum,NaN,NaN
12,10.1515/9789048550531-011,Experimental Methods and Conditions Used for I...,NaN,NaN
13,10.1515/9783110841794-008,In volumine primo corrigenda,NaN,NaN
14,10.1515/9783110953909-015,Index grammaticus et rhetoricus,NaN,NaN
15,10.1515/9783110939996-015,Die Darstellung von Textunsicherheiten und nic...,NaN,NaN
16,10.1515/9783110934212-010,Zur Geschichte von Georg Hermanns Nachlaß. Ein...,NaN,NaN
17,10.1515/9783110934212-011,Anhang,NaN,NaN
18,10.1515/9783110950762-017,Vom Mittelhochdeutschen zum Frühneuhochdeutsch...,NaN,NaN
19,10.1515/9783110823547-011,Representations of Skalds in the Sagas 1: Soci...,NaN,NaN

In [103]:
dsl_last_results.groupby('category_hra.name').count()

                      doi  title  category_hra.id
category_hra.name
Population & Society    3      3                3

### 3) Unnesting funders

In [104]:
%%dsldf
search publications for "solar cells" return publications[doi+title+unnest(funders)]

Returned Publications: 20 (total = 1280149)

,doi,title,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.city_name,funders.latitude,funders.longitude,funders.types
0,10.7591/9781501734977-013,11. Technologies of Power: The Andean Case,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10.1080/16549716.2020.1760490,Eco-epidemiological assessment of the COVID-19...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10.36019/9780813595948-007,"5. Genetic Research on Chronic, Severe Mental ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.11129/9783955534578-014,"Powerhouse Kjørbo Bærum, NO",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10.1515/9783050088570-102,Von Engels redigierte Übersetzungen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10.1515/9780691202808-009,I. JAINISM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10.1515/9780691202808-010,II. SĀṄKHYA AND YOGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10.1515/9780691202808-011,III. BRĀHMANISM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10.1515/9783050078038-006,Heft 2. Exzerpte zur Geschichte Spaniens aus W...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.15828/2075-8545-2019-11-6-719-729,The inventions in nanotechnologies as practica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10.4491/eer.2019.387,Comments on waste to energy technologies in th...,grid.419696.5,National Natural Science Foundation of China,NSFC,[http://www.nsfc.gov.cn/publish/portal1/],China,Beijing,40.005177,116.33983,[Government]
11,10.4491/eer.2019.432,Modelling inactivation kinetics of waterborne ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10.22363/2313-0660-2020-20-1-67-83,South Africa’s Shrinking Sovereignty: Economic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10.35940/ijitee.b6601.129219,Modeling and Simulation of Hybrid Micro Grid E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,10.1680/jnaen.19.00036,Investigation of Heat Transfer Performance and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10.1680/jnaen.19.00059,Natural Dye Sensitized Photo Electrochemical C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10.1016/j.njas.2020.100327,Estimating crop yield supply responses to be u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,10.1186/s41938-019-0201-1,Increasing the efficacy of the cotton leaf wor...,grid.5018.c,Hungarian Academy of Sciences,MTA,[http://mta.hu/english/],Hungary,Budapest,47.501080,19.04650,[Government]
18,10.1186/s11671-020-03330-z,Strain Engineering on the Electronic and Optic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,10.1186/s42269-020-00359-z,"Effect of garlic extract, ascorbic acid and ni...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4) Unnesting research_org_countries

In [105]:
%%dsldf
search publications for "solar cells" return publications[doi+title+unnest(research_org_countries)]

Returned Publications: 22 (total = 1280149)

,doi,title,research_org_countries.id,research_org_countries.name
0,10.7591/9781501734977-013,11. Technologies of Power: The Andean Case,NaN,NaN
1,10.1080/16549716.2020.1760490,Eco-epidemiological assessment of the COVID-19...,GB,United Kingdom
2,10.1080/16549716.2020.1760490,Eco-epidemiological assessment of the COVID-19...,SE,Sweden
3,10.1080/16549716.2020.1760490,Eco-epidemiological assessment of the COVID-19...,ZA,South Africa
4,10.36019/9780813595948-007,"5. Genetic Research on Chronic, Severe Mental ...",NaN,NaN
5,10.11129/9783955534578-014,"Powerhouse Kjørbo Bærum, NO",NaN,NaN
6,10.1515/9783050088570-102,Von Engels redigierte Übersetzungen,NaN,NaN
7,10.1515/9780691202808-009,I. JAINISM,NaN,NaN
8,10.1515/9780691202808-010,II. SĀṄKHYA AND YOGA,NaN,NaN
9,10.1515/9780691202808-011,III. BRĀHMANISM,NaN,NaN
10,10.1515/9783050078038-006,Heft 2. Exzerpte zur Geschichte Spaniens aus W...,NaN,NaN
11,10.15828/2075-8545-2019-11-6-719-729,The inventions in nanotechnologies as practica...,NaN,NaN
12,10.4491/eer.2019.387,Comments on waste to energy technologies in th...,NaN,NaN
13,10.4491/eer.2019.432,Modelling inactivation kinetics of waterborne ...,NaN,NaN
14,10.22363/2313-0660-2020-20-1-67-83,South Africa’s Shrinking Sovereignty: Economic...,ZA,South Africa
15,10.35940/ijitee.b6601.129219,Modeling and Simulation of Hybrid Micro Grid E...,NaN,NaN
16,10.1680/jnaen.19.00036,Investigation of Heat Transfer Performance and...,TN,Tunisia
17,10.1680/jnaen.19.00059,Natural Dye Sensitized Photo Electrochemical C...,IN,India
18,10.1016/j.njas.2020.100327,Estimating crop yield supply responses to be u...,NL,Netherlands
19,10.1186/s41938-019-0201-1,Increasing the efficacy of the cotton leaf wor...,EG,Egypt
20,10.1186/s11671-020-03330-z,Strain Engineering on the Electronic and Optic...,CN,China
21,10.1186/s42269-020-00359-z,"Effect of garlic extract, ascorbic acid and ni...",EG,Egypt

### 5) Query generator for all entity+multivalue fields - unnest single field + ID

In [118]:
sources = G.sources()

def get_fields(source):
    "get all entity+multivalue fields for a source"
    res = []
    z = dsl.query(f"describe source {source}")
    for x in z['fields']:
        if z['fields'][x]['is_multivalue'] and z['fields'][x]['is_entity']:
            res += [x]
    return res

q = """search {} where {} is not empty return {}[id+unnest({})]"""

for s in sources:
    print("\n***********************")
    print("SOURCE:", s)
    print("***********************")
    fields = get_fields(s)
    print("Fields: ", fields)
    for f in fields:
        query = q.format(s, f, s, f)
        print("\n====\n", query, "\n====\n")
        try:
            display(dsl.query(query).as_dataframe().head(5))
        except:
            print("Error")
        time.sleep(1)

***********************
SOURCE: publications
***********************
Fields:  ['category_hrcs_rac', 'open_access_categories', 'research_org_cities', 'category_bra', 'category_sdg', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'research_org_state_codes', 'category_hrcs_hc', 'research_org_countries', 'category_uoa', 'researchers', 'funders', 'category_icrp_ct', 'category_for', 'funder_countries', 'research_orgs']

====
 search publications where category_hrcs_rac is not empty return publications[id+unnest(category_hrcs_rac)]
====

Returned Publications: 44 (total = 7428858)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,pub.1124196727,10204,2.4 Surveillance and distribution
1,pub.1124196727,10200,2 Aetiology
2,pub.1124099280,10800,8 Health and Social Care Services Research
3,pub.1124099280,10801,8.1 Organisation and delivery of services
4,pub.1124012124,10606,6.6 Psychological and behavioural

====
 search publications where open_access_categories is not empty return publications[id+unnest(open_access_categories)]
====

Returned Publications: 23 (total = 110778115)

,id,open_access_categories.id,open_access_categories.name,open_access_categories.description
0,pub.1125801740,closed,Closed,No freely available copy has been identified
1,pub.1125632078,closed,Closed,No freely available copy has been identified
2,pub.1096916023,closed,Closed,No freely available copy has been identified
3,pub.1124196727,oa_all,All OA,Article is freely available
4,pub.1124196727,gold_bronze,Bronze,"Freely available on publisher page, but withou..."

====
 search publications where research_org_cities is not empty return publications[id+unnest(research_org_cities)]
====

Returned Publications: 64 (total = 56237927)

               id  research_org_cities.id research_org_cities.name
0  pub.1124196727                 2657896                   Zürich
1  pub.1124196727                 2659836                   Lugano
2  pub.1124196727                 2660646                   Genève
3  pub.1124099280                 1259425               Puducherry
4  pub.1124099280                 1266305                    Kolār

====
 search publications where category_bra is not empty return publications[id+unnest(category_bra)]
====

Returned Publications: 20 (total = 13857027)

               id category_bra.id              category_bra.name
0  pub.1124196727            4003                  Public Health
1  pub.1124099280            4003                  Public Health
2  pub.1124649186            4003                  Public Health
3  pub.1125117746            4001  Clinical Medicine and Science
4  pub.1124012124            4001  Clinical Medicine and Science

====
 search publications where category_sdg is not empty return publications[id+unnest(category_sdg)]
====

Returned Publications: 21 (total = 5181744)

               id category_sdg.id             category_sdg.name
0  pub.1124196727           40003  3 Good Health and Well Being
1  pub.1124099280           40003  3 Good Health and Well Being
2  pub.1124649186           40003  3 Good Health and Well Being
3  pub.1120255465           40003  3 Good Health and Well Being
4  pub.1124959719           40003  3 Good Health and Well Being

====
 search publications where category_hra is not empty return publications[id+unnest(category_hra)]
====

Returned Publications: 20 (total = 13953249)

               id category_hra.id     category_hra.name
0  pub.1124196727            3903  Population & Society
1  pub.1124099280            3903  Population & Society
2  pub.1124649186            3903  Population & Society
3  pub.1125117746            3901              Clinical
4  pub.1124012124            3901              Clinical

====
 search publications where category_rcdc is not empty return publications[id+unnest(category_rcdc)]
====

Returned Publications: 104 (total = 23201432)

               id category_rcdc.id             category_rcdc.name
0  pub.1124196727              498  Behavioral and Social Science
1  pub.1124196727              558                     Prevention
2  pub.1124196727              507              Clinical Research
3  pub.1124099280              533            Infectious Diseases
4  pub.1124099280              559                  Rare Diseases

====
 search publications where category_icrp_cso is not empty return publications[id+unnest(category_icrp_cso)]
====

Returned Publications: 28 (total = 2446258)

,id,category_icrp_cso.id,category_icrp_cso.name
0,pub.1117132771,3755,3.1 Interventions to Prevent Cancer: Personal ...
1,pub.1125149605,3772,6.1 Patient Care and Survivorship Issues
2,pub.1125149605,3751,2.1 Exogenous Factors in the Origin and Cause ...
3,pub.1029979382,3748,1.3 Cancer Initiation: Oncogenes and Tumor Sup...
4,pub.1126842899,3755,3.1 Interventions to Prevent Cancer: Personal ...

====
 search publications where research_org_state_codes is not empty return publications[id+unnest(research_org_state_codes)]
====

Returned Publications: 33 (total = 21485854)

               id research_org_state_codes.id research_org_state_codes.name
0  pub.1124649186                       US-NJ                    New Jersey
1  pub.1128218814                       CA-ON                       Ontario
2  pub.1124948447                       US-MA                 Massachusetts
3  pub.1128226413                       US-MA                 Massachusetts
4  pub.1124012126                       US-NY                      New York

====
 search publications where category_hrcs_hc is not empty return publications[id+unnest(category_hrcs_hc)]
====

Returned Publications: 21 (total = 11470644)

               id category_hrcs_hc.id     category_hrcs_hc.name
0  pub.1124196727                 890  Generic Health Relevance
1  pub.1124099280                 898                 Infection
2  pub.1125117746                 905             Mental Health
3  pub.1124012124                 905             Mental Health
4  pub.1124873363                 905             Mental Health

====
 search publications where research_org_countries is not empty return publications[id+unnest(research_org_countries)]
====

Returned Publications: 33 (total = 57829109)

               id research_org_countries.id research_org_countries.name
0  pub.1124196727                        CH                 Switzerland
1  pub.1124099280                        IN                       India
2  pub.1124099280                        FR                      France
3  pub.1124649186                        US               United States
4  pub.1124649186                        MG                  Madagascar

====
 search publications where category_uoa is not empty return publications[id+unnest(category_uoa)]
====

Returned Publications: 21 (total = 55175625)

,id,category_uoa.id,category_uoa.name
0,pub.1124196727,30003,"A03 Allied Health Professions, Dentistry, Nurs..."
1,pub.1124099280,30002,"A02 Public Health, Health Services and Primary..."
2,pub.1124649186,30002,"A02 Public Health, Health Services and Primary..."
3,pub.1125117746,30004,"A04 Psychology, Psychiatry and Neuroscience"
4,pub.1124012124,30004,"A04 Psychology, Psychiatry and Neuroscience"

====
 search publications where researchers is not empty return publications[id+unnest(researchers)]
====

Returned Publications: 70 (total = 70149134)

,id,researchers.id,researchers.first_name,researchers.last_name,researchers.orcid_id,researchers.research_orgs
0,pub.1124196727,ur.07430064243.75,Nathaly,Aya Pastrana,[0000-0002-0321-2397],[grid.29078.34]
1,pub.1124196727,ur.0722036447.03,Claire,Somerville,NaN,[grid.424404.2]
2,pub.1124196727,ur.0663400406.47,L Suzanne,Suggs,NaN,"[grid.264797.9, grid.483659.5, grid.7445.2, gr..."
3,pub.1124099280,ur.015114237435.63,Mahendra M,Reddy,[0000-0001-9726-6064],"[grid.414953.e, grid.416263.4]"
4,pub.1124099280,ur.0670077515.38,Pruthu,Thekkur,[0000-0001-5257-5074],"[grid.8195.5, grid.414953.e, grid.483403.8, gr..."

====
 search publications where funders is not empty return publications[id+unnest(funders)]
====

Returned Publications: 27 (total = 12276163)

,id,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.city_name,funders.latitude,funders.longitude,funders.types,funders.state_name
0,pub.1124056741,grid.420488.2,Dutch Research Council,NWO,[http://www.nwo.nl/],Netherlands,The Hague,52.080480,4.344407,[Government],NaN
1,pub.1124056741,grid.37640.36,South London and Maudsley NHS Foundation Trust,NaN,[http://www.slam.nhs.uk/],United Kingdom,London,51.468727,-0.092638,[Healthcare],NaN
2,pub.1124056741,grid.451056.3,National Institute for Health Research,NIHR,[http://www.nihr.ac.uk/],United Kingdom,London,51.502705,-0.125350,[Government],NaN
3,pub.1124012127,grid.483733.8,Fundación Alicia Koplowitz,NaN,[https://www.fundacionaliciakoplowitz.org/],Spain,Madrid,40.461178,-3.686480,[Nonprofit],NaN
4,pub.1125121608,grid.416868.5,National Institute of Mental Health,NIMH,[https://www.nimh.nih.gov/index.shtml],United States,Bethesda,39.003693,-77.104570,[Facility],Maryland

====
 search publications where category_icrp_ct is not empty return publications[id+unnest(category_icrp_ct)]
====

Returned Publications: 21 (total = 4701651)

               id category_icrp_ct.id       category_icrp_ct.name
0  pub.1117132771                3816    Not Site-Specific Cancer
1  pub.1127491594                3808                Liver Cancer
2  pub.1128779542                3816    Not Site-Specific Cancer
3  pub.1124668399                3817  Oral Cavity and Lip Cancer
4  pub.1124654429                3809                 Lung Cancer

====
 search publications where category_for is not empty return publications[id+unnest(category_for)]
====

Returned Publications: 50 (total = 81540137)

               id category_for.id                       category_for.name
0  pub.1124196727            3177  1117 Public Health and Health Services
1  pub.1124196727            2211          11 Medical and Health Sciences
2  pub.1124099280            3177  1117 Public Health and Health Services
3  pub.1124099280            2211          11 Medical and Health Sciences
4  pub.1124099280            3053                  1103 Clinical Sciences

====
 search publications where funder_countries is not empty return publications[id+unnest(funder_countries)]
====

Returned Publications: 23 (total = 12276163)

               id funder_countries.id funder_countries.name
0  pub.1124056741                  NL           Netherlands
1  pub.1124056741                  GB        United Kingdom
2  pub.1124012127                  ES                 Spain
3  pub.1125121608                  US         United States
4  pub.1127332794                  US         United States

====
 search publications where research_orgs is not empty return publications[id+unnest(research_orgs)]
====

Returned Publications: 60 (total = 48516375)

,id,research_orgs.id,research_orgs.name,research_orgs.acronym,research_orgs.linkout,research_orgs.country_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,research_orgs.types,research_orgs.state_name
0,pub.1124196727,grid.424404.2,Graduate Institute of International and Develo...,IHEID,[http://graduateinstitute.ch/home.html],Switzerland,Geneva,46.220810,6.143778,[Education],NaN
1,pub.1124196727,grid.483659.5,Swiss School of Public Health,NaN,[http://www.ssphplus.ch/sharepoint/startseite_...,Switzerland,Zurich,47.375465,8.545143,[Education],NaN
2,pub.1124196727,grid.29078.34,University of Italian Switzerland,USI,[http://www.usi.ch/en/index.htm],Switzerland,Lugano,46.011000,8.958000,[Education],Ticino
3,pub.1124099280,grid.452679.b,National AIDS Control Organisation,NACO,[http://www.naco.gov.in/NACO/],India,New Delhi,28.615486,77.218610,[Government],NaN
4,pub.1124099280,grid.414953.e,Jawaharlal Institute of Post Graduate Medical ...,JIPMER,[http://jipmer.edu.in/],India,Puducherry,11.954301,79.796960,[Education],NaN

***********************
SOURCE: grants
***********************
Fields:  ['category_hrcs_rac', 'research_org_cities', 'category_bra', 'category_sdg', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'research_org_state_codes', 'category_hrcs_hc', 'research_org_countries', 'category_uoa', 'researchers', 'funders', 'category_icrp_ct', 'category_for', 'research_orgs', 'funder_countries']

====
 search grants where category_hrcs_rac is not empty return grants[id+unnest(category_hrcs_rac)]
====

Returned Grants: 54 (total = 837330)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,grant.8950252,10101,1.1 Normal biological development and functioning
1,grant.8950252,10100,1 Underpinning Research
2,grant.9065905,10100,1 Underpinning Research
3,grant.9065905,10101,1.1 Normal biological development and functioning
4,grant.9065593,10100,1 Underpinning Research

====
 search grants where research_org_cities is not empty return grants[id+unnest(research_org_cities)]
====

Returned Grants: 21 (total = 4962231)

              id  research_org_cities.id  research_org_cities.name
0  grant.8690978                 6075081                 Miramichi
1  grant.8715161                 2774326  Klagenfurt am Wörthersee
2  grant.8950252                 2792073          Louvain-la-Neuve
3  grant.9064813                 3054643                  Budapest
4  grant.9064813                 6167865                   Toronto

====
 search grants where category_bra is not empty return grants[id+unnest(category_bra)]
====

Returned Grants: 20 (total = 1034199)

              id category_bra.id              category_bra.name
0  grant.8690978            4001  Clinical Medicine and Science
1  grant.8950252            4000                  Basic Science
2  grant.9065175            4000                  Basic Science
3  grant.9065905            4000                  Basic Science
4  grant.9065593            4000                  Basic Science

====
 search grants where category_sdg is not empty return grants[id+unnest(category_sdg)]
====

Returned Grants: 21 (total = 557816)

              id category_sdg.id             category_sdg.name
0  grant.8690978           40003  3 Good Health and Well Being
1  grant.9064813           40005             5 Gender Equality
2  grant.9064941           40003  3 Good Health and Well Being
3  grant.9064723           40003  3 Good Health and Well Being
4  grant.9064835           40013             13 Climate Action

====
 search grants where category_hra is not empty return grants[id+unnest(category_hra)]
====

Returned Grants: 20 (total = 1168058)

              id category_hra.id category_hra.name
0  grant.8950252            3900        Biomedical
1  grant.9065175            3900        Biomedical
2  grant.9065905            3900        Biomedical
3  grant.9065593            3900        Biomedical
4  grant.9064421            3900        Biomedical

====
 search grants where category_rcdc is not empty return grants[id+unnest(category_rcdc)]
====

Returned Grants: 52 (total = 1622369)

              id category_rcdc.id category_rcdc.name
0  grant.8690978              445      Heart Disease
1  grant.8690978              331     Cardiovascular
2  grant.8950252              338      Biotechnology
3  grant.8950252              526           Genetics
4  grant.9065175              526           Genetics

====
 search grants where category_icrp_cso is not empty return grants[id+unnest(category_icrp_cso)]
====

Returned Grants: 27 (total = 285609)

,id,category_icrp_cso.id,category_icrp_cso.name
0,grant.9065905,3746,1.1 Normal Functioning
1,grant.9065593,3746,1.1 Normal Functioning
2,grant.9064955,3746,1.1 Normal Functioning
3,grant.9065061,3752,2.2 Endogenous Factors in the Origin and Cause...
4,grant.9065061,3748,1.3 Cancer Initiation: Oncogenes and Tumor Sup...

====
 search grants where research_org_state_codes is not empty return grants[id+unnest(research_org_state_codes)]
====

Returned Grants: 23 (total = 1989310)

              id research_org_state_codes.id research_org_state_codes.name
0  grant.8690978                       CA-NB                 New Brunswick
1  grant.9064813                       CA-ON                       Ontario
2  grant.9065112                       US-DC          District of Columbia
3  grant.9065590                       US-CA                    California
4  grant.8857915                       US-MI                      Michigan

====
 search grants where category_hrcs_hc is not empty return grants[id+unnest(category_hrcs_hc)]
====

Returned Grants: 21 (total = 1032824)

              id category_hrcs_hc.id     category_hrcs_hc.name
0  grant.8690978                 894            Cardiovascular
1  grant.8950252                 890  Generic Health Relevance
2  grant.9064813                 890  Generic Health Relevance
3  grant.9065175                 890  Generic Health Relevance
4  grant.9065905                 890  Generic Health Relevance

====
 search grants where research_org_countries is not empty return grants[id+unnest(research_org_countries)]
====

Returned Grants: 21 (total = 5219894)

              id research_org_countries.id research_org_countries.name
0  grant.8690978                        CA                      Canada
1  grant.8715161                        AT                     Austria
2  grant.8950252                        BE                     Belgium
3  grant.9064813                        HU                     Hungary
4  grant.9064813                        CA                      Canada

====
 search grants where category_uoa is not empty return grants[id+unnest(category_uoa)]
====

Returned Grants: 20 (total = 3541410)

,id,category_uoa.id,category_uoa.name
0,grant.8690978,30002,"A02 Public Health, Health Services and Primary..."
1,grant.8715161,30030,D30 Philosophy
2,grant.8950252,30005,A05 Biological Sciences
3,grant.9064813,30019,C19 Politics and International Studies
4,grant.9065175,30005,A05 Biological Sciences

====
 search grants where researchers is not empty return grants[id+unnest(researchers)]
====

Returned Grants: 30 (total = 4781226)

,id,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,researchers.orcid_id
0,grant.8690978,ur.01103433444.38,Sohrab R,Lutchmedial,"[grid.63984.30, grid.416505.3, grid.428748.5, ...",NaN
1,grant.8715161,ur.016564317465.72,Charles,Wolfe,[grid.7520.0],NaN
2,grant.8950252,ur.0674515014.41,Corentin,Claeys Bouuaert,"[grid.7942.8, grid.51462.34]",[0000-0001-5801-7313]
3,grant.8857915,ur.07527230477.18,Gabriel S,Mendlow,[grid.214458.e],NaN
4,grant.8857910,ur.07435366721.01,Christopher,Dunn,[grid.265219.b],NaN

====
 search grants where funders is not empty return grants[id+unnest(funders)]
====

Returned Grants: 20 (total = 5418764)

,id,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.state_name,funders.city_name,funders.latitude,funders.longitude,funders.types
0,grant.8690978,grid.484521.e,New Brunswick Health Research Foundation,NBHRF,[http://www.nbhrf.com/?lipi=urn%3Ali%3Apage%3A...,Canada,New Brunswick,Fredericton,45.931892,-66.660590,[Nonprofit]
1,grant.8715161,grid.25111.36,FWF Austrian Science Fund,FWF,[https://www.fwf.ac.at/en/],Austria,NaN,Vienna,48.219303,16.352383,[Nonprofit]
2,grant.8950252,grid.424470.1,Fund for Scientific Research,FRS FNRS,[http://www.fnrs.be/],Belgium,NaN,Brussels,50.836940,4.370708,[Nonprofit]
3,grant.9064813,grid.270680.b,European Commission,EC,[http://ec.europa.eu/index_en.htm],Belgium,NaN,Brussels,50.851650,4.363670,[Government]
4,grant.9065175,grid.270680.b,European Commission,EC,[http://ec.europa.eu/index_en.htm],Belgium,NaN,Brussels,50.851650,4.363670,[Government]

====
 search grants where category_icrp_ct is not empty return grants[id+unnest(category_icrp_ct)]
====

Returned Grants: 20 (total = 338850)

              id category_icrp_ct.id     category_icrp_ct.name
0  grant.9065905                3816  Not Site-Specific Cancer
1  grant.9065593                3816  Not Site-Specific Cancer
2  grant.9064723                3816  Not Site-Specific Cancer
3  grant.9064955                3816  Not Site-Specific Cancer
4  grant.9065061                3807      Leukemia / Leukaemia

====
 search grants where category_for is not empty return grants[id+unnest(category_for)]
====

Returned Grants: 68 (total = 3543701)

,id,category_for.id,category_for.name
0,grant.8690978,3048,1102 Cardiorespiratory Medicine and Haematology
1,grant.8690978,2790,0806 Information Systems
2,grant.8690978,2211,11 Medical and Health Sciences
3,grant.8690978,2208,08 Information and Computing Sciences
4,grant.8715161,2222,22 Philosophy and Religious Studies

====
 search grants where research_orgs is not empty return grants[id+unnest(research_orgs)]
====

Returned Grants: 21 (total = 4843688)

,id,research_orgs.id,research_orgs.name,research_orgs.linkout,research_orgs.country_name,research_orgs.state_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,research_orgs.types,research_orgs.acronym
0,grant.8690978,grid.428748.5,Horizon Health Network,[http://en.horizonnb.ca/],Canada,New Brunswick,Miramichi,45.301910,-66.084630,[Healthcare],NaN
1,grant.8715161,grid.7520.0,University of Klagenfurt,[http://www.uni-klu.ac.at/main/inhalt/1.htm],Austria,Kärnten,Klagenfurt,46.616310,14.265279,[Education],AAU
2,grant.8950252,grid.7942.8,Catholic University of Louvain,[http://www.uclouvain.be/en-index.html],Belgium,NaN,Louvain-la-Neuve,50.669613,4.612264,[Education],UCL
3,grant.9064813,grid.5146.6,Central European University,[http://www.ceu.edu/],Hungary,NaN,Budapest,47.500347,19.051785,[Education],CEU
4,grant.9064813,grid.17063.33,University of Toronto,[http://www.utoronto.ca/],Canada,Ontario,Toronto,43.661667,-79.395000,[Education],NaN

====
 search grants where funder_countries is not empty return grants[id+unnest(funder_countries)]
====

Returned Grants: 20 (total = 5418764)

              id funder_countries.id funder_countries.name
0  grant.8690978                  CA                Canada
1  grant.8715161                  AT               Austria
2  grant.8950252                  BE               Belgium
3  grant.9064813                  BE               Belgium
4  grant.9065175                  BE               Belgium

***********************
SOURCE: patents
***********************
Fields:  ['category_hrcs_rac', 'category_bra', 'assignee_cities', 'category_hra', 'assignees', 'category_rcdc', 'assignee_countries', 'assignee_state_codes', 'category_icrp_cso', 'category_hrcs_hc', 'researchers', 'original_assignees', 'funders', 'category_icrp_ct', 'category_for', 'funder_countries', 'current_assignees']

====
 search patents where category_hrcs_rac is not empty return patents[id+unnest(category_hrcs_rac)]
====

Returned Patents: 40 (total = 607748)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,EP-2131725-A1,10401,4.1 Discovery and preclinical testing of marke...
1,EP-2131725-A1,10400,"4 Detection, Screening and Diagnosis"
2,WO-2009158477-A1,10501,5.1 Pharmaceuticals
3,WO-2009158477-A1,10500,5 Development of Treatments and Therapeutic In...
4,AU-2006234627-C1,10501,5.1 Pharmaceuticals

====
 search patents where category_bra is not empty return patents[id+unnest(category_bra)]
====

Returned Patents: 20 (total = 935320)

                 id category_bra.id              category_bra.name
0     EP-0850417-B2            4000                  Basic Science
1     EP-2131651-A1            4001  Clinical Medicine and Science
2  WO-2009156873-A1            4000                  Basic Science
3     EP-1728532-B1            4001  Clinical Medicine and Science
4      CA-2416480-C            4001  Clinical Medicine and Science

====
 search patents where assignee_cities is not empty return patents[id+unnest(assignee_cities)]
====

Returned Patents: 25 (total = 23852937)

              id  assignee_cities.id assignee_cities.name
0  EP-1409282-B1             2825297            Stuttgart
1  EP-0868664-B1             4954380              Waltham
2  EP-0861808-B1             1850147                Tokyo
3  EP-0850417-B2             2886242                 Köln
4  EP-0805365-B1             1850147                Tokyo

====
 search patents where category_hra is not empty return patents[id+unnest(category_hra)]
====

Returned Patents: 20 (total = 882767)

                 id category_hra.id category_hra.name
0     EP-0850417-B2            3900        Biomedical
1  WO-2009158477-A1            3900        Biomedical
2  WO-2009156873-A1            3900        Biomedical
3     EP-1728532-B1            3900        Biomedical
4  WO-2009148654-A2            3900        Biomedical

====
 search patents where assignees is not empty return patents[id+unnest(assignees)]
====

Returned Patents: 26 (total = 23896677)

,id,assignees.id,assignees.name,assignees.country_name,assignees.city_name,assignees.acronym
0,EP-1409282-B1,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,NaN
1,EP-0868664-B1,grid.418190.5,Thermo Fisher Scientific (United States),United States,Waltham,Life Technologies
2,EP-0861808-B1,grid.471210.1,Kuraray (Japan),Japan,Tokyo,NaN
3,EP-0850417-B2,grid.59409.31,Miltenyi Biotec (Germany),Germany,Cologne,NaN
4,EP-0805365-B1,grid.471143.4,Fujikura (Japan),Japan,Tokyo,NaN

====
 search patents where category_rcdc is not empty return patents[id+unnest(category_rcdc)]
====

Returned Patents: 33 (total = 4581907)

              id category_rcdc.id                   category_rcdc.name
0  EP-0850417-B2              503                               Cancer
1   GB-2460638-A              507                    Clinical Research
2  EP-2130033-A2              337                       Bioengineering
3  EP-2131404-A3              521  Eye Disease and Disorders of Vision
4  EP-2131651-A1              387                        Neurosciences

====
 search patents where assignee_countries is not empty return patents[id+unnest(assignee_countries)]
====

Returned Patents: 24 (total = 36421697)

                 id assignee_countries.id assignee_countries.name
0     EP-1409282-B1                    DE                 Germany
1  WO-2009149128-A2                    US           United States
2     EP-0868664-B1                    US           United States
3     EP-0861808-B1                    JP                   Japan
4     EP-0860530-B1                    IT                   Italy

====
 search patents where assignee_state_codes is not empty return patents[id+unnest(assignee_state_codes)]
====

Returned Patents: 22 (total = 9361922)

              id assignee_state_codes.id assignee_state_codes.name
0  EP-0868664-B1                   US-MA             Massachusetts
1  EP-0747276-B2                   US-IL                  Illinois
2   GB-2460642-A                   US-CA                California
3  EP-2129934-A1                   US-MI                  Michigan
4  EP-2131651-A1                   US-NY                  New York

====
 search patents where category_icrp_cso is not empty return patents[id+unnest(category_icrp_cso)]
====

Returned Patents: 21 (total = 154346)

,id,category_icrp_cso.id,category_icrp_cso.name
0,WO-2009148654-A2,3767,5.3 Systemic Therapies - Discovery and Develop...
1,AU-2008205459-A2,3746,1.1 Normal Functioning
2,AU-2008205459-A2,3750,1.5 Resources and Infrastructure
3,GB-0918822-D0,3767,5.3 Systemic Therapies - Discovery and Develop...
4,EP-2138179-A1,3767,5.3 Systemic Therapies - Discovery and Develop...

====
 search patents where category_hrcs_hc is not empty return patents[id+unnest(category_hrcs_hc)]
====

Returned Patents: 21 (total = 1077606)

                   id category_hrcs_hc.id    category_hrcs_hc.name
0       EP-2131725-A1                 894           Cardiovascular
1  DE-602004023858-D1                 906  Metabolic and Endocrine
2    AU-2009233659-A1                 902                      Ear
3       EP-1737425-B1                 898                Infection
4       EP-1728532-B1                 894           Cardiovascular

====
 search patents where researchers is not empty return patents[id+unnest(researchers)]
====

Returned Patents: 50 (total = 664542)

,id,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,researchers.orcid_id
0,EP-2130555-A1,ur.0744243704.42,Wilfried,Weber,"[grid.5963.9, grid.5801.c, grid.419481.1]",NaN
1,EP-2130555-A1,ur.0671634306.63,Martin Anton,Fussenegger,"[grid.22069.3f, grid.7400.3, grid.5801.c, grid...",NaN
2,EP-2131721-A1,ur.01355071476.34,Liang,Chen,[grid.266876.b],NaN
3,DE-102008026713-A1,ur.0576337551.79,Felix,Baitalow,[grid.6862.a],NaN
4,DE-102008026713-A1,ur.01261314263.13,Steffen,Hausdorf,[grid.6862.a],NaN

====
 search patents where original_assignees is not empty return patents[id+unnest(original_assignees)]
====

Returned Patents: 24 (total = 20991384)

,id,original_assignees.id,original_assignees.name,original_assignees.country_name,original_assignees.city_name,original_assignees.acronym
0,EP-1409282-B1,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,NaN
1,EP-0868664-B1,grid.418190.5,Thermo Fisher Scientific (United States),United States,Waltham,Life Technologies
2,EP-0861808-B1,grid.471210.1,Kuraray (Japan),Japan,Tokyo,NaN
3,EP-0850417-B2,grid.59409.31,Miltenyi Biotec (Germany),Germany,Cologne,NaN
4,EP-0805365-B1,grid.471143.4,Fujikura (Japan),Japan,Tokyo,NaN

====
 search patents where funders is not empty return patents[id+unnest(funders)]
====

Returned Patents: 24 (total = 181423)

,id,funders.id,funders.name,funders.acronym,funders.country_name,funders.city_name
0,US-PP14225-P2,grid.417548.b,United States Department of Agriculture,USDA,United States,Washington D.C.
1,US-20020146797-A1,grid.457768.f,Directorate for Biological Sciences,NSF BIO,United States,Arlington
2,US-20020146797-A1,grid.48336.3a,National Cancer Institute,NCI,United States,Rockville
3,US-6667388-B2,grid.279885.9,National Heart Lung and Blood Institute,NHLBI,United States,Bethesda
4,US-6656390-B2,grid.85084.31,United States Department of Energy,DOE,United States,Washington D.C.

====
 search patents where category_icrp_ct is not empty return patents[id+unnest(category_icrp_ct)]
====

Returned Patents: 34 (total = 413449)

                 id category_icrp_ct.id     category_icrp_ct.name
0     EP-1990065-B1                3790             Breast Cancer
1     CA-2683629-A1                3810                  Melanoma
2  WO-2009148654-A2                3816  Not Site-Specific Cancer
3       NZ-549408-A                3816  Not Site-Specific Cancer
4       NZ-549408-A                3790             Breast Cancer

====
 search patents where category_for is not empty return patents[id+unnest(category_for)]
====

Returned Patents: 42 (total = 34590974)

,id,category_for.id,category_for.name
0,EP-1409282-B1,2867,0906 Electrical and Electronic Engineering
1,EP-1409282-B1,2209,09 Engineering
2,WO-2009149128-A2,2790,0806 Information Systems
3,WO-2009149128-A2,2208,08 Information and Computing Sciences
4,WO-2009149128-A2,2746,0801 Artificial Intelligence and Image Processing

====
 search patents where funder_countries is not empty return patents[id+unnest(funder_countries)]
====

Returned Patents: 20 (total = 181423)

                  id funder_countries.id funder_countries.name
0      US-PP14225-P2                  US         United States
1  US-20020146797-A1                  US         United States
2      US-6667388-B2                  US         United States
3      US-6656390-B2                  US         United States
4      US-6743893-B2                  US         United States

====
 search patents where current_assignees is not empty return patents[id+unnest(current_assignees)]
====

Returned Patents: 25 (total = 19706083)

,id,current_assignees.id,current_assignees.name,current_assignees.country_name,current_assignees.city_name,current_assignees.acronym
0,EP-1409282-B1,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,NaN
1,EP-0868664-B1,grid.418190.5,Thermo Fisher Scientific (United States),United States,Waltham,Life Technologies
2,EP-0861808-B1,grid.471210.1,Kuraray (Japan),Japan,Tokyo,NaN
3,EP-0850417-B2,grid.59409.31,Miltenyi Biotec (Germany),Germany,Cologne,NaN
4,EP-0805365-B1,grid.471143.4,Fujikura (Japan),Japan,Tokyo,NaN

***********************
SOURCE: clinical_trials
***********************
Fields:  ['category_hrcs_rac', 'category_bra', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'category_hrcs_hc', 'researchers', 'funders', 'category_icrp_ct', 'category_for', 'research_orgs', 'funder_countries']

====
 search clinical_trials where category_hrcs_rac is not empty return clinical_trials[id+unnest(category_hrcs_rac)]
====

Returned Clinical_trials: 45 (total = 274177)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,NCT02318277,10600,6 Evaluation of Treatments and Therapeutic Int...
1,NCT02318277,10601,6.1 Pharmaceuticals
2,NCT02318277,10602,6.2 Cellular and gene therapies
3,NCT02318290,10400,"4 Detection, Screening and Diagnosis"
4,NCT02318290,10402,4.2 Evaluation of markers and technologies

====
 search clinical_trials where category_bra is not empty return clinical_trials[id+unnest(category_bra)]
====

Returned Clinical_trials: 20 (total = 389903)

            id category_bra.id              category_bra.name
0  NCT02318277            4001  Clinical Medicine and Science
1  NCT02318290            4001  Clinical Medicine and Science
2  NCT02318303            4001  Clinical Medicine and Science
3  NCT02318316            4001  Clinical Medicine and Science
4  NCT02318329            4001  Clinical Medicine and Science

====
 search clinical_trials where category_hra is not empty return clinical_trials[id+unnest(category_hra)]
====

Returned Clinical_trials: 20 (total = 382544)

            id category_hra.id category_hra.name
0  NCT02318264            3901          Clinical
1  NCT02318277            3901          Clinical
2  NCT02318290            3901          Clinical
3  NCT02318303            3901          Clinical
4  NCT02318316            3901          Clinical

====
 search clinical_trials where category_rcdc is not empty return clinical_trials[id+unnest(category_rcdc)]
====

Returned Clinical_trials: 102 (total = 469721)

            id category_rcdc.id                         category_rcdc.name
0  NCT02318264              508  Clinical Trials and Supportive Activities
1  NCT02318264              507                          Clinical Research
2  NCT02318277              558                                 Prevention
3  NCT02318277              508  Clinical Trials and Supportive Activities
4  NCT02318277              583                            Vaccine Related

====
 search clinical_trials where category_icrp_cso is not empty return clinical_trials[id+unnest(category_icrp_cso)]
====

Returned Clinical_trials: 25 (total = 72142)

,id,category_icrp_cso.id,category_icrp_cso.name
0,NCT02318329,3768,5.4 Systemic Therapies - Clinical Applications
1,NCT02318368,3768,5.4 Systemic Therapies - Clinical Applications
2,NCT02318615,3772,6.1 Patient Care and Survivorship Issues
3,NCT02318771,3768,5.4 Systemic Therapies - Clinical Applications
4,NCT02318784,3768,5.4 Systemic Therapies - Clinical Applications

====
 search clinical_trials where category_hrcs_hc is not empty return clinical_trials[id+unnest(category_hrcs_hc)]
====

Returned Clinical_trials: 22 (total = 339630)

            id category_hrcs_hc.id     category_hrcs_hc.name
0  NCT02318290                 890  Generic Health Relevance
1  NCT02318316                 896               Respiratory
2  NCT02318329                 911                    Cancer
3  NCT02318342                 894            Cardiovascular
4  NCT02318368                 911                    Cancer

====
 search clinical_trials where researchers is not empty return clinical_trials[id+unnest(researchers)]
====

Returned Clinical_trials: 29 (total = 235339)

,id,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,researchers.orcid_id
0,NCT02318277,ur.01333126237.14,Lance,Leopold,"[grid.417921.8, grid.189509.c, grid.25879.31]",NaN
1,NCT02318290,ur.01365714423.46,David R,Williamson,"[grid.86715.3d, grid.416099.3, grid.414056.2, ...",NaN
2,NCT02318303,ur.0616562311.43,Sudeesh K,Tantry,NaN,NaN
3,NCT02318316,ur.0605601036.59,Zeki,Yildirim,"[grid.25769.3f, grid.411137.1, grid.440464.6, ...",NaN
4,NCT02318342,ur.01266104554.36,Raj R,Makkar,"[grid.416553.0, grid.414288.3, grid.168010.e, ...",NaN

====
 search clinical_trials where funders is not empty return clinical_trials[id+unnest(funders)]
====

Returned Clinical_trials: 27 (total = 173141)

,id,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.state_name,funders.city_name,funders.latitude,funders.longitude,funders.types
0,NCT02318277,grid.418152.b,AstraZeneca (United States),AstraZeneca,[http://www.astrazeneca-us.com/home/],United States,Delaware,Wilmington,39.785908,-75.548960,[Company]
1,NCT02318316,grid.426409.d,Scientific and Technological Research Council ...,TÜBİTAK,[http://www.tubitak.gov.tr/en],Turkey,NaN,Ankara,39.904716,32.858597,[Government]
2,NCT02318329,grid.410425.6,City Of Hope National Medical Center,NaN,[http://www.cityofhope.org/],United States,California,Duarte,34.129635,-117.970764,[Healthcare]
3,NCT02318329,grid.65499.37,Dana-Farber Cancer Institute,NaN,[http://www.dana-farber.org/],United States,Massachusetts,Boston,42.337890,-71.107285,[Facility]
4,NCT02318355,grid.427669.8,Carolinas Healthcare System,NaN,[http://www.carolinashealthcare.org/],United States,North Carolina,Charlotte,35.203964,-80.839165,[Healthcare]

====
 search clinical_trials where category_icrp_ct is not empty return clinical_trials[id+unnest(category_icrp_ct)]
====

Returned Clinical_trials: 27 (total = 125719)

            id category_icrp_ct.id   category_icrp_ct.name
0  NCT02318316                3807    Leukemia / Leukaemia
1  NCT02318329                3835          Stomach Cancer
2  NCT02318329                3815  Non-Hodgkin's Lymphoma
3  NCT02318368                3809             Lung Cancer
4  NCT02318615                3790           Breast Cancer

====
 search clinical_trials where category_for is not empty return clinical_trials[id+unnest(category_for)]
====

Returned Clinical_trials: 45 (total = 479749)

            id category_for.id                       category_for.name
0  NCT02318264            2211          11 Medical and Health Sciences
1  NCT02318264            3053                  1103 Clinical Sciences
2  NCT02318277            2211          11 Medical and Health Sciences
3  NCT02318277            3053                  1103 Clinical Sciences
4  NCT02318290            3177  1117 Public Health and Health Services

====
 search clinical_trials where research_orgs is not empty return clinical_trials[id+unnest(research_orgs)]
====

Returned Clinical_trials: 105 (total = 524812)

,id,research_orgs.id,research_orgs.name,research_orgs.acronym,research_orgs.linkout,research_orgs.country_name,research_orgs.state_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,research_orgs.types
0,NCT02318277,grid.417921.8,Incyte (United States),Incyte,[http://www.incyte.com/],United States,Delaware,Wilmington,39.762733,-75.55364,[Company]
1,NCT02318277,grid.418152.b,AstraZeneca (United States),AstraZeneca,[http://www.astrazeneca-us.com/home/],United States,Delaware,Wilmington,39.785908,-75.54896,[Company]
2,NCT02318290,grid.416099.3,Montreal General Hospital,MGH,[https://muhc.ca/mgh/dashboard],Canada,Quebec,Montreal,45.497300,-73.58850,[Healthcare]
3,NCT02318290,grid.414056.2,Sacred Heart Hospital of Montreal,HSCM,[http://www.hscm.ca/],Canada,Quebec,Montreal,45.533180,-73.71488,[Healthcare]
4,NCT02318303,grid.462347.0,Glenmark Pharmaceuticals (India),NaN,[http://www.glenmarkpharma.com/],India,NaN,Mumbai,19.117860,72.85562,[Company]

====
 search clinical_trials where funder_countries is not empty return clinical_trials[id+unnest(funder_countries)]
====

Returned Clinical_trials: 27 (total = 173141)

            id funder_countries.id funder_countries.name
0  NCT02318277                  US         United States
1  NCT02318316                  TR                Turkey
2  NCT02318329                  US         United States
3  NCT02318329                  US         United States
4  NCT02318355                  US         United States

***********************
SOURCE: policy_documents
***********************
Fields:  ['category_hrcs_rac', 'category_bra', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'category_hrcs_hc', 'category_icrp_ct', 'category_for']

====
 search policy_documents where category_hrcs_rac is not empty return policy_documents[id+unnest(category_hrcs_rac)]
====

Returned Policy_documents: 24 (total = 63990)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,policy.643723,10801,8.1 Organisation and delivery of services
1,policy.643724,10801,8.1 Organisation and delivery of services
2,policy.643725,10801,8.1 Organisation and delivery of services
3,policy.643728,10801,8.1 Organisation and delivery of services
4,policy.643733,10801,8.1 Organisation and delivery of services

====
 search policy_documents where category_bra is not empty return policy_documents[id+unnest(category_bra)]
====

Returned Policy_documents: 20 (total = 59665)

              id category_bra.id         category_bra.name
0  policy.643720            4002  Health Services Research
1  policy.643723            4002  Health Services Research
2  policy.643724            4002  Health Services Research
3  policy.643737            4003             Public Health
4  policy.643738            4002  Health Services Research

====
 search policy_documents where category_hra is not empty return policy_documents[id+unnest(category_hra)]
====

Returned Policy_documents: 20 (total = 144233)

              id category_hra.id          category_hra.name
0  policy.643712            3902  Health services & systems
1  policy.643714            3902  Health services & systems
2  policy.643722            3902  Health services & systems
3  policy.643723            3902  Health services & systems
4  policy.643724            3902  Health services & systems

====
 search policy_documents where category_rcdc is not empty return policy_documents[id+unnest(category_rcdc)]
====

Returned Policy_documents: 62 (total = 207807)

              id category_rcdc.id             category_rcdc.name
0  policy.643712              443                Health Services
1  policy.643712              507              Clinical Research
2  policy.643714              558                     Prevention
3  policy.643714              498  Behavioral and Social Science
4  policy.643714              533            Infectious Diseases

====
 search policy_documents where category_icrp_cso is not empty return policy_documents[id+unnest(category_icrp_cso)]
====

Returned Policy_documents: 41 (total = 15096)

,id,category_icrp_cso.id,category_icrp_cso.name
0,policy.643724,3775,6.4 Cost Analyses and Health Care Delivery
1,policy.643729,3771,5.7 Resources and Infrastructure Related to Tr...
2,policy.643737,3763,4.3 Technology and/or Marker Testing in a Clin...
3,policy.643738,3763,4.3 Technology and/or Marker Testing in a Clin...
4,policy.643738,3764,4.4 Resources and Infrastructure Related to De...

====
 search policy_documents where category_hrcs_hc is not empty return policy_documents[id+unnest(category_hrcs_hc)]
====

Returned Policy_documents: 28 (total = 171019)

              id category_hrcs_hc.id     category_hrcs_hc.name
0  policy.643712                 890  Generic Health Relevance
1  policy.643714                 890  Generic Health Relevance
2  policy.643714                 898                 Infection
3   policy.64372                 890  Generic Health Relevance
4  policy.643720                 890  Generic Health Relevance

====
 search policy_documents where category_icrp_ct is not empty return policy_documents[id+unnest(category_icrp_ct)]
====

Returned Policy_documents: 20 (total = 17033)

              id category_icrp_ct.id     category_icrp_ct.name
0  policy.643724                3816  Not Site-Specific Cancer
1  policy.643729                3816  Not Site-Specific Cancer
2  policy.643737                3792           Cervical Cancer
3  policy.643738                3793   Colon and Rectal Cancer
4  policy.643787                3793   Colon and Rectal Cancer

====
 search policy_documents where category_for is not empty return policy_documents[id+unnest(category_for)]
====

Returned Policy_documents: 52 (total = 416103)

,id,category_for.id,category_for.name
0,policy.643711,2215,"15 Commerce, Management, Tourism and Services"
1,policy.643711,3335,"1502 Banking, Finance and Investment"
2,policy.643712,3416,1605 Policy and Administration
3,policy.643712,2216,16 Studies in Human Society
4,policy.643712,3342,1503 Business and Management

***********************
SOURCE: researchers
***********************
Fields:  ['research_orgs']

====
 search researchers where research_orgs is not empty return researchers[id+unnest(research_orgs)]
====

Returned Researchers: 23 (total = 33141440)

,id,research_orgs.id,research_orgs.name,research_orgs.linkout,research_orgs.country_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,research_orgs.types,research_orgs.acronym,research_orgs.state_name
0,ur.07675167317.47,grid.440633.6,University of Bío-Bío,[http://www.ubiobio.cl/w/],Chile,Concepción,-36.822200,-73.013600,[Education],NaN,NaN
1,ur.013610440106.26,grid.412028.d,Hebei University of Engineering,[http://www.hebeu.edu.cn/en/index.html],China,Handan,36.633310,114.505720,[Education],HBUE,NaN
2,ur.013224634223.02,grid.429211.d,Institute of Hydrobiology,[http://english.ihb.cas.cn/],China,Wuhan,30.544794,114.357025,[Facility],IHB,NaN
3,ur.013224634223.02,grid.410726.6,University of Chinese Academy of Sciences,[http://www.ucas.ac.cn/],China,Beijing,39.909058,116.250570,[Education],UCAS,NaN
4,ur.012500504077.24,grid.6612.3,University of Basel,[https://www.unibas.ch/de],Switzerland,Basel,47.558580,7.583600,[Education],NaN,Basel-Stadt

***********************
SOURCE: organizations
***********************
Fields:  []

***********************
SOURCE: datasets
***********************
Fields:  ['category_hrcs_rac', 'research_org_states', 'research_org_cities', 'category_bra', 'category_sdg', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'category_hrcs_hc', 'research_org_countries', 'researchers', 'funders', 'category_icrp_ct', 'category_for', 'funder_countries', 'research_orgs']

====
 search datasets where category_hrcs_rac is not empty return datasets[id+unnest(category_hrcs_rac)]
====

Returned Datasets: 48 (total = 118944)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,354047,10200,2 Aetiology
1,354047,10201,2.1 Biological and endogenous factors
2,354001,10200,2 Aetiology
3,354001,10205,2.5 Research design and methodologies (aetiology)
4,342185,10600,6 Evaluation of Treatments and Therapeutic Int...

====
 search datasets where research_org_states is not empty return datasets[id+unnest(research_org_states)]
====

Returned Datasets: 22 (total = 1045583)

       id research_org_states.id research_org_states.name
0  354641                    NaN                      NaN
1  354605                    NaN                      NaN
2  354569                    NaN                      NaN
3  354373                  US-NM               New Mexico
4  354340                  US-FL                  Florida

====
 search datasets where research_org_cities is not empty return datasets[id+unnest(research_org_cities)]
====

Returned Datasets: 56 (total = 1044912)

       id  research_org_cities.id research_org_cities.name
0  354641                 2987914                Perpignan
1  354641                 2988507                    Paris
2  354641                 2972315                 Toulouse
3  354641                 3028409         Castanet-Tolosan
4  354605                 2987914                Perpignan

====
 search datasets where category_bra is not empty return datasets[id+unnest(category_bra)]
====

Returned Datasets: 20 (total = 154567)

       id category_bra.id              category_bra.name
0  354047            4001  Clinical Medicine and Science
1  342554            4000                  Basic Science
2  353585            4000                  Basic Science
3  342185            4001  Clinical Medicine and Science
4  128699            4000                  Basic Science

====
 search datasets where category_sdg is not empty return datasets[id+unnest(category_sdg)]
====

Returned Datasets: 21 (total = 75182)

       id category_sdg.id             category_sdg.name
0  354171           40003  3 Good Health and Well Being
1  354132           40003  3 Good Health and Well Being
2  353865           40003  3 Good Health and Well Being
3  353833           40003  3 Good Health and Well Being
4  353502           40003  3 Good Health and Well Being

====
 search datasets where category_hra is not empty return datasets[id+unnest(category_hra)]
====

Returned Datasets: 20 (total = 161899)

       id category_hra.id category_hra.name
0  354047            3900        Biomedical
1  342554            3900        Biomedical
2  342185            3901          Clinical
3  128699            3900        Biomedical
4  128693            3901          Clinical

====
 search datasets where category_rcdc is not empty return datasets[id+unnest(category_rcdc)]
====

Returned Datasets: 56 (total = 337134)

       id category_rcdc.id                         category_rcdc.name
0  354605              507                          Clinical Research
1  354605              508  Clinical Trials and Supportive Activities
2  354569              533                        Infectious Diseases
3  354308              526                                   Genetics
4  354279              526                                   Genetics

====
 search datasets where category_icrp_cso is not empty return datasets[id+unnest(category_icrp_cso)]
====

Returned Datasets: 21 (total = 161336)

,id,category_icrp_cso.id,category_icrp_cso.name
0,354569,3768,5.4 Systemic Therapies - Clinical Applications
1,353788,3746,1.1 Normal Functioning
2,353721,3746,1.1 Normal Functioning
3,342554,3747,1.2 Cancer Initiation: Alterations in Chromosomes
4,342185,3772,6.1 Patient Care and Survivorship Issues

====
 search datasets where category_hrcs_hc is not empty return datasets[id+unnest(category_hrcs_hc)]
====

Returned Datasets: 23 (total = 181407)

       id category_hrcs_hc.id category_hrcs_hc.name
0  354047                 911                Cancer
1  353905                 898             Infection
2  353865                 898             Infection
3  353833                 898             Infection
4  353746                 911                Cancer

====
 search datasets where research_org_countries is not empty return datasets[id+unnest(research_org_countries)]
====

Returned Datasets: 56 (total = 1045583)

       id research_org_countries.id research_org_countries.name
0  354641                        FR                      France
1  354641                        FR                      France
2  354641                        FR                      France
3  354641                        FR                      France
4  354605                        FR                      France

====
 search datasets where researchers is not empty return datasets[id+unnest(researchers)]
====

Returned Datasets: 127 (total = 1094415)

,id,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,researchers.orcid_id
0,354641,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",NaN
1,354641,ur.0645601133.04,Jérôme,Boissier,"[grid.452507.1, grid.411175.7, grid.4444.0, gr...",[0000-0002-0793-3108]
2,354641,ur.01062502717.22,Benjamin Ernest Franois,Gourbal,"[grid.4444.0, grid.411065.7, grid.462844.8, gr...",[0000-0003-2097-2563]
3,354641,ur.01217330625.93,Vincent,Pradines,"[grid.4444.0, grid.503102.5, grid.419564.b, gr...",NaN
4,354641,ur.010351273013.64,Vincent,Collière,"[grid.15781.3a, grid.4444.0, grid.462228.8, gr...",NaN

====
 search datasets where funders is not empty return datasets[id+unnest(funders)]
====

Returned Datasets: 27 (total = 673893)

,id,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.state_name,funders.city_name,funders.latitude,funders.longitude,funders.types
0,354171,grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],United States,Maryland,Bethesda,39.003826,-77.101180,[Facility]
1,354171,grid.52788.30,Wellcome Trust,WT,[http://www.wellcome.ac.uk/],United Kingdom,NaN,London,51.525867,-0.135005,[Nonprofit]
2,353996,grid.248883.d,Canadian Institutes of Health Research,CIHR,[http://www.cihr-irsc.gc.ca/e/193.html],Canada,Ontario,Ottawa,45.381893,-75.745224,[Government]
3,353964,grid.248883.d,Canadian Institutes of Health Research,CIHR,[http://www.cihr-irsc.gc.ca/e/193.html],Canada,Ontario,Ottawa,45.381893,-75.745224,[Government]
4,353934,grid.248883.d,Canadian Institutes of Health Research,CIHR,[http://www.cihr-irsc.gc.ca/e/193.html],Canada,Ontario,Ottawa,45.381893,-75.745224,[Government]

====
 search datasets where category_icrp_ct is not empty return datasets[id+unnest(category_icrp_ct)]
====

Returned Datasets: 28 (total = 67533)

       id category_icrp_ct.id            category_icrp_ct.name
0  354084                3816         Not Site-Specific Cancer
1  354047                3809                      Lung Cancer
2  354047                3796  Esophageal / Oesophageal Cancer
3  353926                3835                   Stomach Cancer
4  353746                3793          Colon and Rectal Cancer

====
 search datasets where category_for is not empty return datasets[id+unnest(category_for)]
====

Returned Datasets: 42 (total = 712374)

       id category_for.id                              category_for.name
0  354605            2211                 11 Medical and Health Sciences
1  354605            3164  1115 Pharmacology and Pharmaceutical Sciences
2  354569            2211                 11 Medical and Health Sciences
3  354569            3053                         1103 Clinical Sciences
4  354340            2211                 11 Medical and Health Sciences

====
 search datasets where funder_countries is not empty return datasets[id+unnest(funder_countries)]
====

Returned Datasets: 27 (total = 673883)

       id funder_countries.id funder_countries.name
0  354171                  US         United States
1  354171                  GB        United Kingdom
2  353996                  CA                Canada
3  353964                  CA                Canada
4  353934                  CA                Canada

====
 search datasets where research_orgs is not empty return datasets[id+unnest(research_orgs)]
====

Returned Datasets: 56 (total = 1069454)

,id,research_orgs.id,research_orgs.name,research_orgs.linkout,research_orgs.country_name,research_orgs.state_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,research_orgs.types,research_orgs.acronym
0,354641,grid.11136.34,University of Perpignan,[http://www.univ-perp.fr/],France,Languedoc-Roussillon,Perpignan,42.683300,2.901670,[Education],NaN
1,354641,grid.4444.0,French National Centre for Scientific Research,[http://www.cnrs.fr/index.php],France,NaN,Paris,48.847664,2.264034,[Government],CNRS
2,354641,grid.462228.8,Laboratoire de Chimie de Coordination,[http://www.lcc-toulouse.fr/lcc/?lang=en],France,NaN,Toulouse,43.557655,1.463439,[Facility],LCC
3,354641,grid.503395.9,Palumed (France),[http://lasersprint.com/palumed/?article15],France,NaN,Castanet-Tolosan,43.512910,1.521538,[Company],NaN
4,354605,grid.11136.34,University of Perpignan,[http://www.univ-perp.fr/],France,Languedoc-Roussillon,Perpignan,42.683300,2.901670,[Education],NaN

### 6) Query generator for all entity+multivalue fields - unnest various fields at the same time

Each field is added every iteration to the return unnest statement..

In [126]:
sources = G.sources()

def get_fields(source):
    "get all entity+multivalue fields for a source"
    res = []
    z = dsl.query(f"describe source {source}")
    for x in z['fields']:
        if z['fields'][x]['is_multivalue'] and z['fields'][x]['is_entity']:
            res += [x]
    return res

q = """search {} where {} is not empty return {}[id{}]"""

for s in sources:
    print("\n***********************")
    print("SOURCE:", s)
    print("***********************")
    fields = get_fields(s)
    print("Fields: ", fields)
    unnest_bit = ""
    for f in fields:
        unnest_bit += f"+unnest({f})"
        query = q.format(s, f, s, unnest_bit)
        print("\n====\n", query, "\n====\n")
        try:
            display(dsl.query(query).as_dataframe().head(5))
        except:
            print("Error")
        time.sleep(1)

***********************
SOURCE: publications
***********************
Fields:  ['category_hrcs_rac', 'open_access_categories', 'research_org_cities', 'category_bra', 'category_sdg', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'research_org_state_codes', 'category_hrcs_hc', 'research_org_countries', 'category_uoa', 'researchers', 'funders', 'category_icrp_ct', 'category_for', 'funder_countries', 'research_orgs']

====
 search publications where category_hrcs_rac is not empty return publications[id+unnest(category_hrcs_rac)]
====

Returned Publications: 44 (total = 7428858)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,pub.1124196727,10204,2.4 Surveillance and distribution
1,pub.1124196727,10200,2 Aetiology
2,pub.1124099280,10800,8 Health and Social Care Services Research
3,pub.1124099280,10801,8.1 Organisation and delivery of services
4,pub.1124012124,10606,6.6 Psychological and behavioural

====
 search publications where open_access_categories is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)]
====

Returned Publications: 27 (total = 110778115)

,id,open_access_categories.id,open_access_categories.name,open_access_categories.description,category_hrcs_rac.id,category_hrcs_rac.name
0,pub.1125801740,closed,Closed,No freely available copy has been identified,NaN,NaN
1,pub.1125632078,closed,Closed,No freely available copy has been identified,NaN,NaN
2,pub.1096916023,closed,Closed,No freely available copy has been identified,NaN,NaN
3,pub.1124196727,oa_all,All OA,Article is freely available,10204,2.4 Surveillance and distribution
4,pub.1124196727,oa_all,All OA,Article is freely available,10200,2 Aetiology

====
 search publications where research_org_cities is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)]
====

Returned Publications: 193 (total = 56237927)

,id,open_access_categories.id,open_access_categories.name,open_access_categories.description,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name
0,pub.1124196727,oa_all,All OA,Article is freely available,2657896,Zürich,10204,2.4 Surveillance and distribution
1,pub.1124196727,oa_all,All OA,Article is freely available,2657896,Zürich,10200,2 Aetiology
2,pub.1124196727,oa_all,All OA,Article is freely available,2659836,Lugano,10204,2.4 Surveillance and distribution
3,pub.1124196727,oa_all,All OA,Article is freely available,2659836,Lugano,10200,2 Aetiology
4,pub.1124196727,oa_all,All OA,Article is freely available,2660646,Genève,10204,2.4 Surveillance and distribution

====
 search publications where category_bra is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)]
====

Returned Publications: 212 (total = 13857027)

,id,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name,open_access_categories.id,open_access_categories.name,open_access_categories.description
0,pub.1124196727,2657896.0,Zürich,10204,2.4 Surveillance and distribution,4003,Public Health,oa_all,All OA,Article is freely available
1,pub.1124196727,2657896.0,Zürich,10204,2.4 Surveillance and distribution,4003,Public Health,gold_bronze,Bronze,"Freely available on publisher page, but withou..."
2,pub.1124196727,2657896.0,Zürich,10200,2 Aetiology,4003,Public Health,oa_all,All OA,Article is freely available
3,pub.1124196727,2657896.0,Zürich,10200,2 Aetiology,4003,Public Health,gold_bronze,Bronze,"Freely available on publisher page, but withou..."
4,pub.1124196727,2659836.0,Lugano,10204,2.4 Surveillance and distribution,4003,Public Health,oa_all,All OA,Article is freely available

====
 search publications where category_sdg is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)]
====

Returned Publications: 173 (total = 5181744)

,id,category_sdg.id,category_sdg.name,open_access_categories.id,open_access_categories.name,open_access_categories.description,category_bra.id,category_bra.name,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name
0,pub.1124196727,40003,3 Good Health and Well Being,oa_all,All OA,Article is freely available,4003,Public Health,2657896.0,Zürich,10204,2.4 Surveillance and distribution
1,pub.1124196727,40003,3 Good Health and Well Being,oa_all,All OA,Article is freely available,4003,Public Health,2657896.0,Zürich,10200,2 Aetiology
2,pub.1124196727,40003,3 Good Health and Well Being,oa_all,All OA,Article is freely available,4003,Public Health,2659836.0,Lugano,10204,2.4 Surveillance and distribution
3,pub.1124196727,40003,3 Good Health and Well Being,oa_all,All OA,Article is freely available,4003,Public Health,2659836.0,Lugano,10200,2 Aetiology
4,pub.1124196727,40003,3 Good Health and Well Being,oa_all,All OA,Article is freely available,4003,Public Health,2660646.0,Genève,10204,2.4 Surveillance and distribution

====
 search publications where category_hra is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)]
====

Returned Publications: 212 (total = 13953249)

,id,category_sdg.id,category_sdg.name,category_bra.id,category_bra.name,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,open_access_categories.id,open_access_categories.name,open_access_categories.description,research_org_cities.id,research_org_cities.name
0,pub.1124196727,40003,3 Good Health and Well Being,4003,Public Health,3903,Population & Society,10204,2.4 Surveillance and distribution,oa_all,All OA,Article is freely available,2657896.0,Zürich
1,pub.1124196727,40003,3 Good Health and Well Being,4003,Public Health,3903,Population & Society,10204,2.4 Surveillance and distribution,oa_all,All OA,Article is freely available,2659836.0,Lugano
2,pub.1124196727,40003,3 Good Health and Well Being,4003,Public Health,3903,Population & Society,10204,2.4 Surveillance and distribution,oa_all,All OA,Article is freely available,2660646.0,Genève
3,pub.1124196727,40003,3 Good Health and Well Being,4003,Public Health,3903,Population & Society,10204,2.4 Surveillance and distribution,gold_bronze,Bronze,"Freely available on publisher page, but withou...",2657896.0,Zürich
4,pub.1124196727,40003,3 Good Health and Well Being,4003,Public Health,3903,Population & Society,10204,2.4 Surveillance and distribution,gold_bronze,Bronze,"Freely available on publisher page, but withou...",2659836.0,Lugano

====
 search publications where category_rcdc is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)]
====

Returned Publications: 1110 (total = 23201432)

,id,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name,category_sdg.id,category_sdg.name,category_rcdc.id,category_rcdc.name,research_org_cities.id,research_org_cities.name,open_access_categories.id,open_access_categories.name,open_access_categories.description
0,pub.1124196727,3903,Population & Society,10204,2.4 Surveillance and distribution,4003,Public Health,40003,3 Good Health and Well Being,498,Behavioral and Social Science,2657896.0,Zürich,oa_all,All OA,Article is freely available
1,pub.1124196727,3903,Population & Society,10204,2.4 Surveillance and distribution,4003,Public Health,40003,3 Good Health and Well Being,498,Behavioral and Social Science,2657896.0,Zürich,gold_bronze,Bronze,"Freely available on publisher page, but withou..."
2,pub.1124196727,3903,Population & Society,10204,2.4 Surveillance and distribution,4003,Public Health,40003,3 Good Health and Well Being,498,Behavioral and Social Science,2659836.0,Lugano,oa_all,All OA,Article is freely available
3,pub.1124196727,3903,Population & Society,10204,2.4 Surveillance and distribution,4003,Public Health,40003,3 Good Health and Well Being,498,Behavioral and Social Science,2659836.0,Lugano,gold_bronze,Bronze,"Freely available on publisher page, but withou..."
4,pub.1124196727,3903,Population & Society,10204,2.4 Surveillance and distribution,4003,Public Health,40003,3 Good Health and Well Being,498,Behavioral and Social Science,2660646.0,Genève,oa_all,All OA,Article is freely available

====
 search publications where category_icrp_cso is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)]
====

Returned Publications: 1146 (total = 2446258)

,id,category_icrp_cso.id,category_icrp_cso.name,category_hra.id,category_hra.name,open_access_categories.id,open_access_categories.name,open_access_categories.description,category_rcdc.id,category_rcdc.name,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,research_org_cities.id,research_org_cities.name
0,pub.1117132771,3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,oa_all,All OA,Article is freely available,558,Prevention,4003,Public Health,NaN,NaN,NaN,NaN
1,pub.1117132771,3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,oa_all,All OA,Article is freely available,458,Mind and Body,4003,Public Health,NaN,NaN,NaN,NaN
2,pub.1117132771,3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,oa_all,All OA,Article is freely available,507,Clinical Research,4003,Public Health,NaN,NaN,NaN,NaN
3,pub.1117132771,3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,oa_all,All OA,Article is freely available,331,Cardiovascular,4003,Public Health,NaN,NaN,NaN,NaN
4,pub.1117132771,3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,gold_bronze,Bronze,"Freely available on publisher page, but withou...",558,Prevention,4003,Public Health,NaN,NaN,NaN,NaN

====
 search publications where research_org_state_codes is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)]
====

Returned Publications: 3126 (total = 21485854)

,id,category_bra.id,category_bra.name,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name,open_access_categories.id,open_access_categories.name,open_access_categories.description,research_org_cities.id,research_org_cities.name,research_org_state_codes.id,research_org_state_codes.name,category_sdg.id,category_sdg.name,category_hrcs_rac.id,category_hrcs_rac.name
0,pub.1124649186,4003,Public Health,3903,Population & Society,547,Pediatric,oa_all,All OA,Article is freely available,2792073,Louvain-la-Neuve,US-NJ,New Jersey,40003,3 Good Health and Well Being,NaN,NaN
1,pub.1124649186,4003,Public Health,3903,Population & Society,547,Pediatric,oa_all,All OA,Article is freely available,5102922,Princeton,US-NJ,New Jersey,40003,3 Good Health and Well Being,NaN,NaN
2,pub.1124649186,4003,Public Health,3903,Population & Society,547,Pediatric,oa_all,All OA,Article is freely available,2988507,Paris,US-NJ,New Jersey,40003,3 Good Health and Well Being,NaN,NaN
3,pub.1124649186,4003,Public Health,3903,Population & Society,547,Pediatric,oa_all,All OA,Article is freely available,1070940,Antananarivo,US-NJ,New Jersey,40003,3 Good Health and Well Being,NaN,NaN
4,pub.1124649186,4003,Public Health,3903,Population & Society,547,Pediatric,gold_bronze,Bronze,"Freely available on publisher page, but withou...",2792073,Louvain-la-Neuve,US-NJ,New Jersey,40003,3 Good Health and Well Being,NaN,NaN

====
 search publications where category_hrcs_hc is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)]
====

Returned Publications: 3162 (total = 11470644)

,id,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,research_org_cities.id,research_org_cities.name,category_rcdc.id,category_rcdc.name,category_hra.id,category_hra.name,category_sdg.id,category_sdg.name,open_access_categories.id,open_access_categories.name,open_access_categories.description,category_hrcs_hc.id,category_hrcs_hc.name,research_org_state_codes.id,research_org_state_codes.name
0,pub.1124196727,4003,Public Health,10204,2.4 Surveillance and distribution,2657896,Zürich,498,Behavioral and Social Science,3903,Population & Society,40003,3 Good Health and Well Being,oa_all,All OA,Article is freely available,890,Generic Health Relevance,NaN,NaN
1,pub.1124196727,4003,Public Health,10204,2.4 Surveillance and distribution,2657896,Zürich,498,Behavioral and Social Science,3903,Population & Society,40003,3 Good Health and Well Being,gold_bronze,Bronze,"Freely available on publisher page, but withou...",890,Generic Health Relevance,NaN,NaN
2,pub.1124196727,4003,Public Health,10204,2.4 Surveillance and distribution,2657896,Zürich,558,Prevention,3903,Population & Society,40003,3 Good Health and Well Being,oa_all,All OA,Article is freely available,890,Generic Health Relevance,NaN,NaN
3,pub.1124196727,4003,Public Health,10204,2.4 Surveillance and distribution,2657896,Zürich,558,Prevention,3903,Population & Society,40003,3 Good Health and Well Being,gold_bronze,Bronze,"Freely available on publisher page, but withou...",890,Generic Health Relevance,NaN,NaN
4,pub.1124196727,4003,Public Health,10204,2.4 Surveillance and distribution,2657896,Zürich,507,Clinical Research,3903,Population & Society,40003,3 Good Health and Well Being,oa_all,All OA,Article is freely available,890,Generic Health Relevance,NaN,NaN

====
 search publications where research_org_countries is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)]
====

Returned Publications: 2373 (total = 57829109)

,id,category_rcdc.id,category_rcdc.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,research_org_cities.id,research_org_cities.name,research_org_countries.id,...,category_hrcs_rac.name,open_access_categories.id,open_access_categories.name,open_access_categories.description,category_hrcs_hc.id,category_hrcs_hc.name,research_org_state_codes.id,research_org_state_codes.name,category_icrp_cso.id,category_icrp_cso.name
0,pub.1124196727,498,Behavioral and Social Science,3903,Population & Society,4003,Public Health,2657896.0,Zürich,CH,...,2.4 Surveillance and distribution,oa_all,All OA,Article is freely available,890,Generic Health Relevance,NaN,NaN,NaN,NaN
1,pub.1124196727,498,Behavioral and Social Science,3903,Population & Society,4003,Public Health,2657896.0,Zürich,CH,...,2.4 Surveillance and distribution,gold_bronze,Bronze,"Freely available on publisher page, but withou...",890,Generic Health Relevance,NaN,NaN,NaN,NaN
2,pub.1124196727,498,Behavioral and Social Science,3903,Population & Society,4003,Public Health,2657896.0,Zürich,CH,...,2 Aetiology,oa_all,All OA,Article is freely available,890,Generic Health Relevance,NaN,NaN,NaN,NaN
3,pub.1124196727,498,Behavioral and Social Science,3903,Population & Society,4003,Public Health,2657896.0,Zürich,CH,...,2 Aetiology,gold_bronze,Bronze,"Freely available on publisher page, but withou...",890,Generic Health Relevance,NaN,NaN,NaN,NaN
4,pub.1124196727,498,Behavioral and Social Science,3903,Population & Society,4003,Public Health,2659836.0,Lugano,CH,...,2.4 Surveillance and distribution,oa_all,All OA,Article is freely available,890,Generic Health Relevance,NaN,NaN,NaN,NaN

====
 search publications where category_uoa is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)]
====

Returned Publications: 2674 (total = 55175625)

,id,open_access_categories.id,open_access_categories.name,open_access_categories.description,research_org_countries.id,research_org_countries.name,category_uoa.id,category_uoa.name,category_hrcs_hc.id,category_hrcs_hc.name,...,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_hra.id,category_hra.name,research_org_state_codes.id,research_org_state_codes.name,category_icrp_cso.id,category_icrp_cso.name
0,pub.1124196727,oa_all,All OA,Article is freely available,CH,Switzerland,30003,"A03 Allied Health Professions, Dentistry, Nurs...",890,Generic Health Relevance,...,4003,Public Health,10204,2.4 Surveillance and distribution,3903,Population & Society,NaN,NaN,NaN,NaN
1,pub.1124196727,oa_all,All OA,Article is freely available,CH,Switzerland,30003,"A03 Allied Health Professions, Dentistry, Nurs...",890,Generic Health Relevance,...,4003,Public Health,10200,2 Aetiology,3903,Population & Society,NaN,NaN,NaN,NaN
2,pub.1124196727,oa_all,All OA,Article is freely available,CH,Switzerland,30003,"A03 Allied Health Professions, Dentistry, Nurs...",890,Generic Health Relevance,...,4003,Public Health,10204,2.4 Surveillance and distribution,3903,Population & Society,NaN,NaN,NaN,NaN
3,pub.1124196727,oa_all,All OA,Article is freely available,CH,Switzerland,30003,"A03 Allied Health Professions, Dentistry, Nurs...",890,Generic Health Relevance,...,4003,Public Health,10200,2 Aetiology,3903,Population & Society,NaN,NaN,NaN,NaN
4,pub.1124196727,oa_all,All OA,Article is freely available,CH,Switzerland,30003,"A03 Allied Health Professions, Dentistry, Nurs...",890,Generic Health Relevance,...,4003,Public Health,10204,2.4 Surveillance and distribution,3903,Population & Society,NaN,NaN,NaN,NaN

====
 search publications where researchers is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)]
====

Returned Publications: 8018 (total = 70149134)

,id,category_rcdc.id,category_rcdc.name,open_access_categories.id,open_access_categories.name,open_access_categories.description,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,...,category_bra.id,category_bra.name,research_org_countries.id,research_org_countries.name,category_hrcs_hc.id,category_hrcs_hc.name,research_org_state_codes.id,research_org_state_codes.name,category_icrp_cso.id,category_icrp_cso.name
0,pub.1124196727,498,Behavioral and Social Science,oa_all,All OA,Article is freely available,3903,Population & Society,10204,2.4 Surveillance and distribution,...,4003,Public Health,CH,Switzerland,890,Generic Health Relevance,NaN,NaN,NaN,NaN
1,pub.1124196727,498,Behavioral and Social Science,oa_all,All OA,Article is freely available,3903,Population & Society,10204,2.4 Surveillance and distribution,...,4003,Public Health,CH,Switzerland,890,Generic Health Relevance,NaN,NaN,NaN,NaN
2,pub.1124196727,498,Behavioral and Social Science,oa_all,All OA,Article is freely available,3903,Population & Society,10204,2.4 Surveillance and distribution,...,4003,Public Health,CH,Switzerland,890,Generic Health Relevance,NaN,NaN,NaN,NaN
3,pub.1124196727,498,Behavioral and Social Science,oa_all,All OA,Article is freely available,3903,Population & Society,10204,2.4 Surveillance and distribution,...,4003,Public Health,CH,Switzerland,890,Generic Health Relevance,NaN,NaN,NaN,NaN
4,pub.1124196727,498,Behavioral and Social Science,oa_all,All OA,Article is freely available,3903,Population & Society,10204,2.4 Surveillance and distribution,...,4003,Public Health,CH,Switzerland,890,Generic Health Relevance,NaN,NaN,NaN,NaN

====
 search publications where funders is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)]
====

Returned Publications: 52520 (total = 12276163)

,id,category_hrcs_hc.id,category_hrcs_hc.name,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name,category_uoa.id,category_uoa.name,category_hra.id,...,research_org_countries.id,research_org_countries.name,category_bra.id,category_bra.name,researchers.orcid_id,research_org_state_codes.id,research_org_state_codes.name,funders.state_name,category_sdg.id,category_sdg.name
0,pub.1124056741,905,Mental Health,2759794.0,Amsterdam,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",3901,...,NL,Netherlands,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
1,pub.1124056741,905,Mental Health,2759794.0,Amsterdam,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",3901,...,GB,United Kingdom,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
2,pub.1124056741,905,Mental Health,2759794.0,Amsterdam,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",3901,...,CH,Switzerland,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
3,pub.1124056741,905,Mental Health,2759794.0,Amsterdam,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",3901,...,NL,Netherlands,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
4,pub.1124056741,905,Mental Health,2759794.0,Amsterdam,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",3901,...,GB,United Kingdom,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN

====
 search publications where category_icrp_ct is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)]
====

Returned Publications: 7042 (total = 4701651)

,id,category_uoa.id,category_uoa.name,category_icrp_cso.id,category_icrp_cso.name,category_hra.id,category_hra.name,researchers.id,researchers.first_name,researchers.last_name,...,category_rcdc.name,researchers.orcid_id,category_hrcs_hc.id,category_hrcs_hc.name,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name,research_org_state_codes.id,research_org_state_codes.name
0,pub.1117132771,30024,"C24 Sport and Exercise Sciences, Leisure and T...",3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,ur.0612216072.65,Nor Afiah Mohd,Zulkefli,...,Prevention,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pub.1117132771,30024,"C24 Sport and Exercise Sciences, Leisure and T...",3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,ur.0612216072.65,Nor Afiah Mohd,Zulkefli,...,Mind and Body,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pub.1117132771,30024,"C24 Sport and Exercise Sciences, Leisure and T...",3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,ur.0612216072.65,Nor Afiah Mohd,Zulkefli,...,Clinical Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pub.1117132771,30024,"C24 Sport and Exercise Sciences, Leisure and T...",3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,ur.0612216072.65,Nor Afiah Mohd,Zulkefli,...,Cardiovascular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pub.1117132771,30024,"C24 Sport and Exercise Sciences, Leisure and T...",3755,3.1 Interventions to Prevent Cancer: Personal ...,3903,Population & Society,ur.0612216072.65,Nor Afiah Mohd,Zulkefli,...,Prevention,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search publications where category_for is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)]
====

Returned Publications: 47142 (total = 81540137)

,id,category_rcdc.id,category_rcdc.name,category_hrcs_hc.id,category_hrcs_hc.name,research_org_countries.id,research_org_countries.name,category_bra.id,category_bra.name,category_hra.id,...,category_icrp_cso.name,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.city_name,funders.latitude,funders.longitude,funders.types
0,pub.1124196727,498,Behavioral and Social Science,890,Generic Health Relevance,CH,Switzerland,4003,Public Health,3903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pub.1124196727,498,Behavioral and Social Science,890,Generic Health Relevance,CH,Switzerland,4003,Public Health,3903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pub.1124196727,498,Behavioral and Social Science,890,Generic Health Relevance,CH,Switzerland,4003,Public Health,3903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pub.1124196727,498,Behavioral and Social Science,890,Generic Health Relevance,CH,Switzerland,4003,Public Health,3903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pub.1124196727,498,Behavioral and Social Science,890,Generic Health Relevance,CH,Switzerland,4003,Public Health,3903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search publications where funder_countries is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(funder_countries)]
====

Returned Publications: 149908 (total = 12276163)

,id,category_hra.id,category_hra.name,research_org_countries.id,research_org_countries.name,category_hrcs_rac.id,category_hrcs_rac.name,category_uoa.id,category_uoa.name,category_hrcs_hc.id,...,funders.longitude,funders.types,funder_countries.id,funder_countries.name,researchers.orcid_id,research_org_state_codes.id,research_org_state_codes.name,funders.state_name,category_sdg.id,category_sdg.name
0,pub.1124056741,3901,Clinical,NL,Netherlands,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",905,...,4.344407,[Government],NL,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN
1,pub.1124056741,3901,Clinical,NL,Netherlands,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",905,...,4.344407,[Government],GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN
2,pub.1124056741,3901,Clinical,NL,Netherlands,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",905,...,-0.092638,[Healthcare],NL,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN
3,pub.1124056741,3901,Clinical,NL,Netherlands,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",905,...,-0.092638,[Healthcare],GB,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN
4,pub.1124056741,3901,Clinical,NL,Netherlands,10203,"2.3 Psychological, social and economic factors",30004,"A04 Psychology, Psychiatry and Neuroscience",905,...,-0.125350,[Government],NL,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN

====
 search publications where research_orgs is not empty return publications[id+unnest(category_hrcs_rac)+unnest(open_access_categories)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(funder_countries)+unnest(research_orgs)]
====

Returned Publications: 351392 (total = 48516375)

,id,category_hrcs_hc.id,category_hrcs_hc.name,category_hrcs_rac.id,category_hrcs_rac.name,research_org_countries.id,research_org_countries.name,researchers.id,researchers.first_name,researchers.last_name,...,funder_countries.name,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.city_name,funders.latitude,funders.longitude,funders.types
0,pub.1124196727,890,Generic Health Relevance,10204,2.4 Surveillance and distribution,CH,Switzerland,ur.07430064243.75,Nathaly,Aya Pastrana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pub.1124196727,890,Generic Health Relevance,10204,2.4 Surveillance and distribution,CH,Switzerland,ur.07430064243.75,Nathaly,Aya Pastrana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,pub.1124196727,890,Generic Health Relevance,10204,2.4 Surveillance and distribution,CH,Switzerland,ur.07430064243.75,Nathaly,Aya Pastrana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pub.1124196727,890,Generic Health Relevance,10204,2.4 Surveillance and distribution,CH,Switzerland,ur.07430064243.75,Nathaly,Aya Pastrana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pub.1124196727,890,Generic Health Relevance,10204,2.4 Surveillance and distribution,CH,Switzerland,ur.07430064243.75,Nathaly,Aya Pastrana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***********************
SOURCE: grants
***********************
Fields:  ['category_hrcs_rac', 'research_org_cities', 'category_bra', 'category_sdg', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'research_org_state_codes', 'category_hrcs_hc', 'research_org_countries', 'category_uoa', 'researchers', 'funders', 'category_icrp_ct', 'category_for', 'research_orgs', 'funder_countries']

====
 search grants where category_hrcs_rac is not empty return grants[id+unnest(category_hrcs_rac)]
====

Returned Grants: 54 (total = 837330)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,grant.8950252,10101,1.1 Normal biological development and functioning
1,grant.8950252,10100,1 Underpinning Research
2,grant.9065905,10100,1 Underpinning Research
3,grant.9065905,10101,1.1 Normal biological development and functioning
4,grant.9065593,10100,1 Underpinning Research

====
 search grants where research_org_cities is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)]
====

Returned Grants: 32 (total = 4962231)

,id,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name
0,grant.8690978,6075081,Miramichi,NaN,NaN
1,grant.8715161,2774326,Klagenfurt am Wörthersee,NaN,NaN
2,grant.8950252,2792073,Louvain-la-Neuve,10101,1.1 Normal biological development and functioning
3,grant.8950252,2792073,Louvain-la-Neuve,10100,1 Underpinning Research
4,grant.9064813,3054643,Budapest,NaN,NaN

====
 search grants where category_bra is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)]
====

Returned Grants: 49 (total = 1034199)

,id,category_bra.id,category_bra.name,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name
0,grant.8690978,4001,Clinical Medicine and Science,6075081.0,Miramichi,NaN,NaN
1,grant.8950252,4000,Basic Science,2792073.0,Louvain-la-Neuve,10101,1.1 Normal biological development and functioning
2,grant.8950252,4000,Basic Science,2792073.0,Louvain-la-Neuve,10100,1 Underpinning Research
3,grant.9065175,4000,Basic Science,2918632.0,Göttingen,NaN,NaN
4,grant.9065905,4000,Basic Science,2661604.0,Basel,10100,1 Underpinning Research

====
 search grants where category_sdg is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)]
====

Returned Grants: 33 (total = 557816)

,id,category_bra.id,category_bra.name,category_sdg.id,category_sdg.name,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name
0,grant.8690978,4001,Clinical Medicine and Science,40003,3 Good Health and Well Being,6075081,Miramichi,NaN,NaN
1,grant.9064813,NaN,NaN,40005,5 Gender Equality,3054643,Budapest,NaN,NaN
2,grant.9064813,NaN,NaN,40005,5 Gender Equality,6167865,Toronto,NaN,NaN
3,grant.9064941,4000,Basic Science,40003,3 Good Health and Well Being,602150,Umeå,10200,2 Aetiology
4,grant.9064941,4000,Basic Science,40003,3 Good Health and Well Being,602150,Umeå,10202,2.2 Factors relating to physical environment

====
 search grants where category_hra is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)]
====

Returned Grants: 54 (total = 1168058)

,id,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,research_org_cities.id,research_org_cities.name,category_sdg.id,category_sdg.name
0,grant.8950252,3900,Biomedical,4000,Basic Science,10101,1.1 Normal biological development and functioning,2792073.0,Louvain-la-Neuve,NaN,NaN
1,grant.8950252,3900,Biomedical,4000,Basic Science,10100,1 Underpinning Research,2792073.0,Louvain-la-Neuve,NaN,NaN
2,grant.9065175,3900,Biomedical,4000,Basic Science,NaN,NaN,2918632.0,Göttingen,NaN,NaN
3,grant.9065905,3900,Biomedical,4000,Basic Science,10100,1 Underpinning Research,2661604.0,Basel,NaN,NaN
4,grant.9065905,3900,Biomedical,4000,Basic Science,10101,1.1 Normal biological development and functioning,2661604.0,Basel,NaN,NaN

====
 search grants where category_rcdc is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)]
====

Returned Grants: 113 (total = 1622369)

,id,category_bra.id,category_bra.name,research_org_cities.id,research_org_cities.name,category_rcdc.id,category_rcdc.name,category_sdg.id,category_sdg.name,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name
0,grant.8690978,4001,Clinical Medicine and Science,6075081.0,Miramichi,445,Heart Disease,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN
1,grant.8690978,4001,Clinical Medicine and Science,6075081.0,Miramichi,331,Cardiovascular,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN
2,grant.8950252,4000,Basic Science,2792073.0,Louvain-la-Neuve,338,Biotechnology,NaN,NaN,3900,Biomedical,10101,1.1 Normal biological development and functioning
3,grant.8950252,4000,Basic Science,2792073.0,Louvain-la-Neuve,526,Genetics,NaN,NaN,3900,Biomedical,10101,1.1 Normal biological development and functioning
4,grant.8950252,4000,Basic Science,2792073.0,Louvain-la-Neuve,338,Biotechnology,NaN,NaN,3900,Biomedical,10100,1 Underpinning Research

====
 search grants where category_icrp_cso is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)]
====

Returned Grants: 263 (total = 285609)

,id,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name,category_icrp_cso.id,category_icrp_cso.name,category_bra.id,category_bra.name,category_sdg.id,category_sdg.name
0,grant.9065905,3900,Biomedical,526,Genetics,2661604.0,Basel,10100,1 Underpinning Research,3746,1.1 Normal Functioning,4000,Basic Science,NaN,NaN
1,grant.9065905,3900,Biomedical,526,Genetics,2661604.0,Basel,10101,1.1 Normal biological development and functioning,3746,1.1 Normal Functioning,4000,Basic Science,NaN,NaN
2,grant.9065593,3900,Biomedical,559,Rare Diseases,2657896.0,Zürich,10100,1 Underpinning Research,3746,1.1 Normal Functioning,4000,Basic Science,NaN,NaN
3,grant.9065593,3900,Biomedical,559,Rare Diseases,2657896.0,Zürich,10101,1.1 Normal biological development and functioning,3746,1.1 Normal Functioning,4000,Basic Science,NaN,NaN
4,grant.9064955,3900,Biomedical,526,Genetics,2761369.0,Vienna,10100,1 Underpinning Research,3746,1.1 Normal Functioning,4000,Basic Science,NaN,NaN

====
 search grants where research_org_state_codes is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)]
====

Returned Grants: 98 (total = 1989310)

,id,category_sdg.id,category_sdg.name,research_org_cities.id,research_org_cities.name,category_rcdc.id,category_rcdc.name,research_org_state_codes.id,research_org_state_codes.name,category_bra.id,category_bra.name,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name
0,grant.8690978,40003,3 Good Health and Well Being,6075081,Miramichi,445,Heart Disease,CA-NB,New Brunswick,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN
1,grant.8690978,40003,3 Good Health and Well Being,6075081,Miramichi,331,Cardiovascular,CA-NB,New Brunswick,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN
2,grant.9064813,40005,5 Gender Equality,3054643,Budapest,NaN,NaN,CA-ON,Ontario,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.9064813,40005,5 Gender Equality,6167865,Toronto,NaN,NaN,CA-ON,Ontario,NaN,NaN,NaN,NaN,NaN,NaN
4,grant.9065112,NaN,NaN,2759794,Amsterdam,NaN,NaN,US-DC,District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN

====
 search grants where category_hrcs_hc is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)]
====

Returned Grants: 162 (total = 1032824)

,id,category_bra.id,category_bra.name,research_org_state_codes.id,research_org_state_codes.name,research_org_cities.id,research_org_cities.name,category_sdg.id,category_sdg.name,category_rcdc.id,category_rcdc.name,category_hrcs_hc.id,category_hrcs_hc.name,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_icrp_cso.id,category_icrp_cso.name
0,grant.8690978,4001,Clinical Medicine and Science,CA-NB,New Brunswick,6075081.0,Miramichi,40003,3 Good Health and Well Being,445,Heart Disease,894,Cardiovascular,NaN,NaN,NaN,NaN,NaN,NaN
1,grant.8690978,4001,Clinical Medicine and Science,CA-NB,New Brunswick,6075081.0,Miramichi,40003,3 Good Health and Well Being,331,Cardiovascular,894,Cardiovascular,NaN,NaN,NaN,NaN,NaN,NaN
2,grant.8950252,4000,Basic Science,NaN,NaN,2792073.0,Louvain-la-Neuve,NaN,NaN,338,Biotechnology,890,Generic Health Relevance,3900,Biomedical,10101,1.1 Normal biological development and functioning,NaN,NaN
3,grant.8950252,4000,Basic Science,NaN,NaN,2792073.0,Louvain-la-Neuve,NaN,NaN,526,Genetics,890,Generic Health Relevance,3900,Biomedical,10101,1.1 Normal biological development and functioning,NaN,NaN
4,grant.8950252,4000,Basic Science,NaN,NaN,2792073.0,Louvain-la-Neuve,NaN,NaN,338,Biotechnology,890,Generic Health Relevance,3900,Biomedical,10100,1 Underpinning Research,NaN,NaN

====
 search grants where research_org_countries is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)]
====

Returned Grants: 51 (total = 5219894)

,id,research_org_countries.id,research_org_countries.name,category_rcdc.id,category_rcdc.name,research_org_cities.id,research_org_cities.name,research_org_state_codes.id,research_org_state_codes.name,category_sdg.id,...,category_hrcs_hc.id,category_hrcs_hc.name,category_bra.id,category_bra.name,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_icrp_cso.id,category_icrp_cso.name
0,grant.8690978,CA,Canada,445,Heart Disease,6075081.0,Miramichi,CA-NB,New Brunswick,40003,...,894,Cardiovascular,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
1,grant.8690978,CA,Canada,331,Cardiovascular,6075081.0,Miramichi,CA-NB,New Brunswick,40003,...,894,Cardiovascular,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
2,grant.8715161,AT,Austria,NaN,NaN,2774326.0,Klagenfurt am Wörthersee,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.8950252,BE,Belgium,338,Biotechnology,2792073.0,Louvain-la-Neuve,NaN,NaN,NaN,...,890,Generic Health Relevance,4000,Basic Science,3900,Biomedical,10101,1.1 Normal biological development and functioning,NaN,NaN
4,grant.8950252,BE,Belgium,338,Biotechnology,2792073.0,Louvain-la-Neuve,NaN,NaN,NaN,...,890,Generic Health Relevance,4000,Basic Science,3900,Biomedical,10100,1 Underpinning Research,NaN,NaN

====
 search grants where category_uoa is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)]
====

Returned Grants: 51 (total = 3541410)

,id,research_org_cities.id,research_org_cities.name,category_bra.id,category_bra.name,category_uoa.id,category_uoa.name,category_rcdc.id,category_rcdc.name,research_org_countries.id,...,research_org_state_codes.id,research_org_state_codes.name,category_sdg.id,category_sdg.name,category_hrcs_rac.id,category_hrcs_rac.name,category_hra.id,category_hra.name,category_icrp_cso.id,category_icrp_cso.name
0,grant.8690978,6075081.0,Miramichi,4001,Clinical Medicine and Science,30002,"A02 Public Health, Health Services and Primary...",445,Heart Disease,CA,...,CA-NB,New Brunswick,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN,NaN,NaN
1,grant.8690978,6075081.0,Miramichi,4001,Clinical Medicine and Science,30002,"A02 Public Health, Health Services and Primary...",331,Cardiovascular,CA,...,CA-NB,New Brunswick,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN,NaN,NaN
2,grant.8715161,2774326.0,Klagenfurt am Wörthersee,NaN,NaN,30030,D30 Philosophy,NaN,NaN,AT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.8950252,2792073.0,Louvain-la-Neuve,4000,Basic Science,30005,A05 Biological Sciences,338,Biotechnology,BE,...,NaN,NaN,NaN,NaN,10101,1.1 Normal biological development and functioning,3900,Biomedical,NaN,NaN
4,grant.8950252,2792073.0,Louvain-la-Neuve,4000,Basic Science,30005,A05 Biological Sciences,526,Genetics,BE,...,NaN,NaN,NaN,NaN,10101,1.1 Normal biological development and functioning,3900,Biomedical,NaN,NaN

====
 search grants where researchers is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)]
====

Returned Grants: 494 (total = 4781226)

,id,research_org_cities.id,research_org_cities.name,category_hrcs_hc.id,category_hrcs_hc.name,category_rcdc.id,category_rcdc.name,category_uoa.id,category_uoa.name,research_org_countries.id,...,researchers.research_orgs,category_sdg.id,category_sdg.name,research_org_state_codes.id,research_org_state_codes.name,category_hrcs_rac.id,category_hrcs_rac.name,researchers.orcid_id,category_hra.id,category_hra.name
0,grant.8690978,6075081,Miramichi,894,Cardiovascular,445,Heart Disease,30002,"A02 Public Health, Health Services and Primary...",CA,...,"[grid.63984.30, grid.416505.3, grid.428748.5, ...",40003,3 Good Health and Well Being,CA-NB,New Brunswick,NaN,NaN,NaN,NaN,NaN
1,grant.8690978,6075081,Miramichi,894,Cardiovascular,331,Cardiovascular,30002,"A02 Public Health, Health Services and Primary...",CA,...,"[grid.63984.30, grid.416505.3, grid.428748.5, ...",40003,3 Good Health and Well Being,CA-NB,New Brunswick,NaN,NaN,NaN,NaN,NaN
2,grant.8715161,2774326,Klagenfurt am Wörthersee,NaN,NaN,NaN,NaN,30030,D30 Philosophy,AT,...,[grid.7520.0],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.8950252,2792073,Louvain-la-Neuve,890,Generic Health Relevance,338,Biotechnology,30005,A05 Biological Sciences,BE,...,"[grid.7942.8, grid.51462.34]",NaN,NaN,NaN,NaN,10101,1.1 Normal biological development and functioning,[0000-0001-5801-7313],3900,Biomedical
4,grant.8950252,2792073,Louvain-la-Neuve,890,Generic Health Relevance,338,Biotechnology,30005,A05 Biological Sciences,BE,...,"[grid.7942.8, grid.51462.34]",NaN,NaN,NaN,NaN,10100,1 Underpinning Research,[0000-0001-5801-7313],3900,Biomedical

====
 search grants where funders is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)]
====

Returned Grants: 51 (total = 5418764)

,id,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.state_name,funders.city_name,funders.latitude,funders.longitude,...,researchers.first_name,researchers.last_name,researchers.research_orgs,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,researchers.orcid_id,category_icrp_cso.id,category_icrp_cso.name
0,grant.8690978,grid.484521.e,New Brunswick Health Research Foundation,NBHRF,[http://www.nbhrf.com/?lipi=urn%3Ali%3Apage%3A...,Canada,New Brunswick,Fredericton,45.931892,-66.660590,...,Sohrab R,Lutchmedial,"[grid.63984.30, grid.416505.3, grid.428748.5, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,grant.8690978,grid.484521.e,New Brunswick Health Research Foundation,NBHRF,[http://www.nbhrf.com/?lipi=urn%3Ali%3Apage%3A...,Canada,New Brunswick,Fredericton,45.931892,-66.660590,...,Sohrab R,Lutchmedial,"[grid.63984.30, grid.416505.3, grid.428748.5, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,grant.8715161,grid.25111.36,FWF Austrian Science Fund,FWF,[https://www.fwf.ac.at/en/],Austria,NaN,Vienna,48.219303,16.352383,...,Charles,Wolfe,[grid.7520.0],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.8950252,grid.424470.1,Fund for Scientific Research,FRS FNRS,[http://www.fnrs.be/],Belgium,NaN,Brussels,50.836940,4.370708,...,Corentin,Claeys Bouuaert,"[grid.7942.8, grid.51462.34]",3900,Biomedical,10101,1.1 Normal biological development and functioning,[0000-0001-5801-7313],NaN,NaN
4,grant.8950252,grid.424470.1,Fund for Scientific Research,FRS FNRS,[http://www.fnrs.be/],Belgium,NaN,Brussels,50.836940,4.370708,...,Corentin,Claeys Bouuaert,"[grid.7942.8, grid.51462.34]",3900,Biomedical,10100,1 Underpinning Research,[0000-0001-5801-7313],NaN,NaN

====
 search grants where category_icrp_ct is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)]
====

Returned Grants: 299 (total = 338850)

,id,research_org_countries.id,research_org_countries.name,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.city_name,funders.latitude,...,category_hrcs_hc.name,category_icrp_ct.id,category_icrp_ct.name,category_sdg.id,category_sdg.name,funders.state_name,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs
0,grant.9065905,CH,Switzerland,grid.270680.b,European Commission,EC,[http://ec.europa.eu/index_en.htm],Belgium,Brussels,50.85165,...,Generic Health Relevance,3816,Not Site-Specific Cancer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,grant.9065905,CH,Switzerland,grid.270680.b,European Commission,EC,[http://ec.europa.eu/index_en.htm],Belgium,Brussels,50.85165,...,Generic Health Relevance,3816,Not Site-Specific Cancer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,grant.9065593,CH,Switzerland,grid.270680.b,European Commission,EC,[http://ec.europa.eu/index_en.htm],Belgium,Brussels,50.85165,...,Generic Health Relevance,3816,Not Site-Specific Cancer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.9065593,CH,Switzerland,grid.270680.b,European Commission,EC,[http://ec.europa.eu/index_en.htm],Belgium,Brussels,50.85165,...,Generic Health Relevance,3816,Not Site-Specific Cancer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,grant.9064723,ES,Spain,grid.270680.b,European Commission,EC,[http://ec.europa.eu/index_en.htm],Belgium,Brussels,50.85165,...,Cancer,3816,Not Site-Specific Cancer,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN,NaN

====
 search grants where category_for is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)]
====

Returned Grants: 180 (total = 3543701)

,id,research_org_state_codes.id,research_org_state_codes.name,research_org_countries.id,research_org_countries.name,category_rcdc.id,category_rcdc.name,category_for.id,category_for.name,category_hrcs_hc.id,...,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name,researchers.orcid_id,category_hra.id,category_hra.name,category_icrp_cso.id,category_icrp_cso.name,category_icrp_ct.id,category_icrp_ct.name
0,grant.8690978,CA-NB,New Brunswick,CA,Canada,445,Heart Disease,3048,1102 Cardiorespiratory Medicine and Haematology,894,...,Miramichi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,grant.8690978,CA-NB,New Brunswick,CA,Canada,445,Heart Disease,2790,0806 Information Systems,894,...,Miramichi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,grant.8690978,CA-NB,New Brunswick,CA,Canada,445,Heart Disease,2211,11 Medical and Health Sciences,894,...,Miramichi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.8690978,CA-NB,New Brunswick,CA,Canada,445,Heart Disease,2208,08 Information and Computing Sciences,894,...,Miramichi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,grant.8690978,CA-NB,New Brunswick,CA,Canada,331,Cardiovascular,3048,1102 Cardiorespiratory Medicine and Haematology,894,...,Miramichi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search grants where research_orgs is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(research_orgs)]
====

Returned Grants: 192 (total = 4843688)

,id,research_orgs.id,research_orgs.name,research_orgs.linkout,research_orgs.country_name,research_orgs.state_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,research_orgs.types,...,research_orgs.acronym,researchers.orcid_id,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_icrp_ct.id,category_icrp_ct.name,category_icrp_cso.id,category_icrp_cso.name
0,grant.8690978,grid.428748.5,Horizon Health Network,[http://en.horizonnb.ca/],Canada,New Brunswick,Miramichi,45.30191,-66.08463,[Healthcare],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,grant.8690978,grid.428748.5,Horizon Health Network,[http://en.horizonnb.ca/],Canada,New Brunswick,Miramichi,45.30191,-66.08463,[Healthcare],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,grant.8690978,grid.428748.5,Horizon Health Network,[http://en.horizonnb.ca/],Canada,New Brunswick,Miramichi,45.30191,-66.08463,[Healthcare],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.8690978,grid.428748.5,Horizon Health Network,[http://en.horizonnb.ca/],Canada,New Brunswick,Miramichi,45.30191,-66.08463,[Healthcare],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,grant.8690978,grid.428748.5,Horizon Health Network,[http://en.horizonnb.ca/],Canada,New Brunswick,Miramichi,45.30191,-66.08463,[Healthcare],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search grants where funder_countries is not empty return grants[id+unnest(category_hrcs_rac)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(research_org_state_codes)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(category_uoa)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(research_orgs)+unnest(funder_countries)]
====

Returned Grants: 188 (total = 5418764)

,id,category_for.id,category_for.name,category_bra.id,category_bra.name,category_uoa.id,category_uoa.name,research_org_cities.id,research_org_cities.name,researchers.id,...,research_orgs.acronym,category_hrcs_rac.id,category_hrcs_rac.name,researchers.orcid_id,category_hra.id,category_hra.name,category_icrp_cso.id,category_icrp_cso.name,category_icrp_ct.id,category_icrp_ct.name
0,grant.8690978,3048,1102 Cardiorespiratory Medicine and Haematology,4001,Clinical Medicine and Science,30002,"A02 Public Health, Health Services and Primary...",6075081.0,Miramichi,ur.01103433444.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,grant.8690978,3048,1102 Cardiorespiratory Medicine and Haematology,4001,Clinical Medicine and Science,30002,"A02 Public Health, Health Services and Primary...",6075081.0,Miramichi,ur.01103433444.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,grant.8690978,2790,0806 Information Systems,4001,Clinical Medicine and Science,30002,"A02 Public Health, Health Services and Primary...",6075081.0,Miramichi,ur.01103433444.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,grant.8690978,2790,0806 Information Systems,4001,Clinical Medicine and Science,30002,"A02 Public Health, Health Services and Primary...",6075081.0,Miramichi,ur.01103433444.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,grant.8690978,2211,11 Medical and Health Sciences,4001,Clinical Medicine and Science,30002,"A02 Public Health, Health Services and Primary...",6075081.0,Miramichi,ur.01103433444.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***********************
SOURCE: patents
***********************
Fields:  ['category_hrcs_rac', 'category_bra', 'assignee_cities', 'category_hra', 'assignees', 'category_rcdc', 'assignee_countries', 'assignee_state_codes', 'category_icrp_cso', 'category_hrcs_hc', 'researchers', 'original_assignees', 'funders', 'category_icrp_ct', 'category_for', 'funder_countries', 'current_assignees']

====
 search patents where category_hrcs_rac is not empty return patents[id+unnest(category_hrcs_rac)]
====

Returned Patents: 40 (total = 607748)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,EP-2131725-A1,10401,4.1 Discovery and preclinical testing of marke...
1,EP-2131725-A1,10400,"4 Detection, Screening and Diagnosis"
2,WO-2009158477-A1,10501,5.1 Pharmaceuticals
3,WO-2009158477-A1,10500,5 Development of Treatments and Therapeutic In...
4,AU-2006234627-C1,10501,5.1 Pharmaceuticals

====
 search patents where category_bra is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)]
====

Returned Patents: 23 (total = 935320)

,id,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name
0,EP-0850417-B2,4000,Basic Science,NaN,NaN
1,EP-2131651-A1,4001,Clinical Medicine and Science,NaN,NaN
2,WO-2009156873-A1,4000,Basic Science,NaN,NaN
3,EP-1728532-B1,4001,Clinical Medicine and Science,NaN,NaN
4,CA-2416480-C,4001,Clinical Medicine and Science,NaN,NaN

====
 search patents where assignee_cities is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)]
====

Returned Patents: 25 (total = 23852937)

,id,assignee_cities.id,assignee_cities.name,category_bra.id,category_bra.name
0,EP-1409282-B1,2825297,Stuttgart,NaN,NaN
1,EP-0868664-B1,4954380,Waltham,NaN,NaN
2,EP-0861808-B1,1850147,Tokyo,NaN,NaN
3,EP-0850417-B2,2886242,Köln,4000,Basic Science
4,EP-0805365-B1,1850147,Tokyo,NaN,NaN

====
 search patents where category_hra is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)]
====

Returned Patents: 29 (total = 882767)

,id,category_hra.id,category_hra.name,category_bra.id,category_bra.name,assignee_cities.id,assignee_cities.name,category_hrcs_rac.id,category_hrcs_rac.name
0,EP-0850417-B2,3900,Biomedical,4000,Basic Science,2886242.0,Köln,NaN,NaN
1,WO-2009158477-A1,3900,Biomedical,NaN,NaN,NaN,NaN,10501,5.1 Pharmaceuticals
2,WO-2009158477-A1,3900,Biomedical,NaN,NaN,NaN,NaN,10500,5 Development of Treatments and Therapeutic In...
3,WO-2009156873-A1,3900,Biomedical,4000,Basic Science,294514.0,Kfar Saba,NaN,NaN
4,EP-1728532-B1,3900,Biomedical,4001,Clinical Medicine and Science,5037649.0,Minneapolis,NaN,NaN

====
 search patents where assignees is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)]
====

Returned Patents: 39 (total = 23896677)

,id,assignee_cities.id,assignee_cities.name,assignees.id,assignees.name,assignees.country_name,assignees.city_name,assignees.acronym,category_hra.id,category_hra.name,category_bra.id,category_bra.name
0,EP-1409282-B1,2825297,Stuttgart,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,NaN,NaN,NaN,NaN,NaN
1,EP-0868664-B1,4954380,Waltham,grid.418190.5,Thermo Fisher Scientific (United States),United States,Waltham,Life Technologies,NaN,NaN,NaN,NaN
2,EP-0861808-B1,1850147,Tokyo,grid.471210.1,Kuraray (Japan),Japan,Tokyo,NaN,NaN,NaN,NaN,NaN
3,EP-0850417-B2,2886242,Köln,grid.59409.31,Miltenyi Biotec (Germany),Germany,Cologne,NaN,3900,Biomedical,4000,Basic Science
4,EP-0805365-B1,1850147,Tokyo,grid.471143.4,Fujikura (Japan),Japan,Tokyo,NaN,NaN,NaN,NaN,NaN

====
 search patents where category_rcdc is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)]
====

Returned Patents: 62 (total = 4581907)

,id,assignee_cities.id,assignee_cities.name,assignees.id,assignees.name,assignees.country_name,assignees.city_name,category_bra.id,category_bra.name,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name,assignees.acronym,category_hrcs_rac.id,category_hrcs_rac.name
0,EP-0850417-B2,2886242.0,Köln,grid.59409.31,Miltenyi Biotec (Germany),Germany,Cologne,4000,Basic Science,3900,Biomedical,503,Cancer,NaN,NaN,NaN
1,GB-2460638-A,2745912.0,Utrecht,grid.5132.5,Leiden University,Netherlands,Leiden,NaN,NaN,NaN,NaN,507,Clinical Research,NaN,NaN,NaN
2,GB-2460638-A,2745912.0,Utrecht,grid.5477.1,Utrecht University,Netherlands,Utrecht,NaN,NaN,NaN,NaN,507,Clinical Research,NaN,NaN,NaN
3,GB-2460638-A,2745912.0,Utrecht,grid.438100.e,Technology Foundation STW,Netherlands,Utrecht,NaN,NaN,NaN,NaN,507,Clinical Research,NaN,NaN,NaN
4,GB-2460638-A,2751773.0,Leiden,grid.5132.5,Leiden University,Netherlands,Leiden,NaN,NaN,NaN,NaN,507,Clinical Research,NaN,NaN,NaN

====
 search patents where assignee_countries is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)]
====

Returned Patents: 61 (total = 36421697)

,id,assignee_cities.id,assignee_cities.name,assignees.id,assignees.name,assignees.country_name,assignees.city_name,assignee_countries.id,assignee_countries.name,assignees.acronym,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name,category_bra.id,category_bra.name
0,EP-1409282-B1,2825297.0,Stuttgart,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,DE,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WO-2009149128-A2,NaN,NaN,NaN,NaN,NaN,NaN,US,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EP-0868664-B1,4954380.0,Waltham,grid.418190.5,Thermo Fisher Scientific (United States),United States,Waltham,US,United States,Life Technologies,NaN,NaN,NaN,NaN,NaN,NaN
3,EP-0861808-B1,1850147.0,Tokyo,grid.471210.1,Kuraray (Japan),Japan,Tokyo,JP,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EP-0860530-B1,NaN,NaN,NaN,NaN,NaN,NaN,IT,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search patents where assignee_state_codes is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)]
====

Returned Patents: 87 (total = 9361922)

,id,assignee_cities.id,assignee_cities.name,assignees.id,assignees.name,assignees.acronym,assignees.country_name,assignees.city_name,assignee_state_codes.id,assignee_state_codes.name,assignee_countries.id,assignee_countries.name,category_bra.id,category_bra.name,category_rcdc.id,category_rcdc.name,category_hrcs_rac.id,category_hrcs_rac.name
0,EP-0868664-B1,4954380,Waltham,grid.418190.5,Thermo Fisher Scientific (United States),Life Technologies,United States,Waltham,US-MA,Massachusetts,US,United States,NaN,NaN,NaN,NaN,NaN,NaN
1,EP-0747276-B2,4887398,Chicago,grid.423121.7,Boeing (United States),NaN,United States,Chicago,US-IL,Illinois,US,United States,NaN,NaN,NaN,NaN,NaN,NaN
2,GB-2460642-A,5383777,Pleasanton,grid.467566.0,Simpson Strong-Tie (United States),NaN,United States,Pleasanton,US-CA,California,US,United States,NaN,NaN,NaN,NaN,NaN,NaN
3,EP-2129934-A1,5012639,Troy,grid.471252.7,Magna International (United States),NaN,United States,Troy,US-MI,Michigan,US,United States,NaN,NaN,NaN,NaN,NaN,NaN
4,EP-2131651-A1,5043473,Rochester,grid.51462.34,Memorial Sloan Kettering Cancer Center,MSK,United States,New York,US-NY,New York,US,United States,4001,Clinical Medicine and Science,387,Neurosciences,NaN,NaN

====
 search patents where category_icrp_cso is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)]
====

Returned Patents: 149 (total = 154346)

,id,assignees.id,assignees.name,assignees.acronym,assignees.country_name,assignees.city_name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,...,assignee_countries.id,assignee_countries.name,assignee_state_codes.id,assignee_state_codes.name,category_icrp_cso.id,category_icrp_cso.name,assignee_cities.id,assignee_cities.name,category_hrcs_rac.id,category_hrcs_rac.name
0,WO-2009148654-A2,grid.51462.34,Memorial Sloan Kettering Cancer Center,MSK,United States,New York,3900,Biomedical,4000,Basic Science,...,US,United States,US-NY,New York,3767,5.3 Systemic Therapies - Discovery and Develop...,5128581.0,New York City,NaN,NaN
1,AU-2008205459-A2,grid.59734.3c,Icahn School of Medicine at Mount Sinai,MSSM,United States,New York,3900,Biomedical,4000,Basic Science,...,US,United States,US-NY,New York,3746,1.1 Normal Functioning,5128581.0,New York City,NaN,NaN
2,AU-2008205459-A2,grid.59734.3c,Icahn School of Medicine at Mount Sinai,MSSM,United States,New York,3900,Biomedical,4000,Basic Science,...,US,United States,US-NY,New York,3750,1.5 Resources and Infrastructure,5128581.0,New York City,NaN,NaN
3,AU-2008205459-A2,grid.59734.3c,Icahn School of Medicine at Mount Sinai,MSSM,United States,New York,3900,Biomedical,4000,Basic Science,...,US,United States,US-NY,New York,3746,1.1 Normal Functioning,5128581.0,New York City,NaN,NaN
4,AU-2008205459-A2,grid.59734.3c,Icahn School of Medicine at Mount Sinai,MSSM,United States,New York,3900,Biomedical,4000,Basic Science,...,US,United States,US-NY,New York,3750,1.5 Resources and Infrastructure,5128581.0,New York City,NaN,NaN

====
 search patents where category_hrcs_hc is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)]
====

Returned Patents: 100 (total = 1077606)

,id,category_hrcs_hc.id,category_hrcs_hc.name,assignee_cities.id,assignee_cities.name,category_rcdc.id,category_rcdc.name,assignee_countries.id,assignee_countries.name,assignees.id,...,category_hrcs_rac.id,category_hrcs_rac.name,assignee_state_codes.id,assignee_state_codes.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_icrp_cso.id,category_icrp_cso.name
0,EP-2131725-A1,894,Cardiovascular,5037649.0,Minneapolis,331,Cardiovascular,US,United States,grid.419673.e,...,10401,4.1 Discovery and preclinical testing of marke...,US-MN,Minnesota,NaN,NaN,NaN,NaN,NaN,NaN
1,EP-2131725-A1,894,Cardiovascular,5037649.0,Minneapolis,331,Cardiovascular,US,United States,grid.419673.e,...,10400,"4 Detection, Screening and Diagnosis",US-MN,Minnesota,NaN,NaN,NaN,NaN,NaN,NaN
2,EP-2131725-A1,894,Cardiovascular,5037649.0,Minneapolis,445,Heart Disease,US,United States,grid.419673.e,...,10401,4.1 Discovery and preclinical testing of marke...,US-MN,Minnesota,NaN,NaN,NaN,NaN,NaN,NaN
3,EP-2131725-A1,894,Cardiovascular,5037649.0,Minneapolis,445,Heart Disease,US,United States,grid.419673.e,...,10400,"4 Detection, Screening and Diagnosis",US-MN,Minnesota,NaN,NaN,NaN,NaN,NaN,NaN
4,DE-602004023858-D1,906,Metabolic and Endocrine,2964574.0,Dublin,344,Digestive Diseases,IE,Ireland,grid.482396.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search patents where researchers is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)]
====

Returned Patents: 504 (total = 664542)

,id,assignee_cities.id,assignee_cities.name,assignee_countries.id,assignee_countries.name,assignees.id,assignees.name,assignees.acronym,assignees.country_name,assignees.city_name,...,category_bra.id,category_bra.name,category_hrcs_hc.id,category_hrcs_hc.name,category_hra.id,category_hra.name,category_icrp_cso.id,category_icrp_cso.name,category_hrcs_rac.id,category_hrcs_rac.name
0,EP-2130555-A1,2657896,Zürich,CH,Switzerland,grid.5801.c,ETH Zurich,ETH Zurich,Switzerland,Zurich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP-2130555-A1,2657896,Zürich,CH,Switzerland,grid.5801.c,ETH Zurich,ETH Zurich,Switzerland,Zurich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EP-2131721-A1,6113365,Prince George,CA,Canada,grid.266876.b,University of Northern British Columbia,UNBC,Canada,Prince George,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DE-102008026713-A1,2925192,Freiberg,DE,Germany,grid.6862.a,TU Bergakademie Freiberg,TUBAF,Germany,Freiberg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DE-102008026713-A1,2925192,Freiberg,DE,Germany,grid.6862.a,TU Bergakademie Freiberg,TUBAF,Germany,Freiberg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search patents where original_assignees is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(original_assignees)]
====

Returned Patents: 162 (total = 20991384)

,id,original_assignees.id,original_assignees.name,original_assignees.country_name,original_assignees.city_name,assignee_countries.id,assignee_countries.name,assignees.id,assignees.name,assignees.country_name,...,original_assignees.acronym,assignee_state_codes.id,assignee_state_codes.name,assignees.acronym,category_bra.id,category_bra.name,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name
0,EP-1409282-B1,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,DE,Germany,grid.6584.f,Robert Bosch (Germany),Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP-0868664-B1,grid.418190.5,Thermo Fisher Scientific (United States),United States,Waltham,US,United States,grid.418190.5,Thermo Fisher Scientific (United States),United States,...,Life Technologies,US-MA,Massachusetts,Life Technologies,NaN,NaN,NaN,NaN,NaN,NaN
2,EP-0861808-B1,grid.471210.1,Kuraray (Japan),Japan,Tokyo,JP,Japan,grid.471210.1,Kuraray (Japan),Japan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EP-0850417-B2,grid.59409.31,Miltenyi Biotec (Germany),Germany,Cologne,US,United States,grid.59409.31,Miltenyi Biotec (Germany),Germany,...,NaN,NaN,NaN,NaN,4000,Basic Science,3900,Biomedical,503,Cancer
4,EP-0850417-B2,grid.59409.31,Miltenyi Biotec (Germany),Germany,Cologne,DE,Germany,grid.59409.31,Miltenyi Biotec (Germany),Germany,...,NaN,NaN,NaN,NaN,4000,Basic Science,3900,Biomedical,503,Cancer

====
 search patents where funders is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(original_assignees)+unnest(funders)]
====

Returned Patents: 344 (total = 181423)

,id,original_assignees.id,original_assignees.name,original_assignees.acronym,original_assignees.country_name,original_assignees.city_name,assignee_cities.id,assignee_cities.name,funders.id,funders.name,...,category_bra.name,category_icrp_cso.id,category_icrp_cso.name,category_rcdc.id,category_rcdc.name,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,researchers.orcid_id
0,US-PP14225-P2,grid.453773.1,Wisconsin Alumni Research Foundation,WARF,United States,Madison,5261457.0,Madison,grid.417548.b,United States Department of Agriculture,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US-20020146797-A1,grid.16750.35,Princeton University,NaN,United States,Princeton,5102922.0,Princeton,grid.457768.f,Directorate for Biological Sciences,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US-20020146797-A1,grid.16750.35,Princeton University,NaN,United States,Princeton,5102922.0,Princeton,grid.457768.f,Directorate for Biological Sciences,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US-20020146797-A1,grid.16750.35,Princeton University,NaN,United States,Princeton,5102922.0,Princeton,grid.48336.3a,National Cancer Institute,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US-20020146797-A1,grid.16750.35,Princeton University,NaN,United States,Princeton,5102922.0,Princeton,grid.48336.3a,National Cancer Institute,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search patents where category_icrp_ct is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(original_assignees)+unnest(funders)+unnest(category_icrp_ct)]
====

Returned Patents: 359 (total = 413449)

,id,assignee_countries.id,assignee_countries.name,category_icrp_ct.id,category_icrp_ct.name,category_rcdc.id,category_rcdc.name,category_hrcs_hc.id,category_hrcs_hc.name,assignees.id,...,category_icrp_cso.name,category_hra.id,category_hra.name,researchers.id,researchers.first_name,researchers.last_name,researchers.orcid_id,researchers.research_orgs,category_hrcs_rac.id,category_hrcs_rac.name
0,EP-1990065-B1,LI,Liechtenstein,3790,Breast Cancer,503,Cancer,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP-1990065-B1,LI,Liechtenstein,3790,Breast Cancer,316,Breast Cancer,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CA-2683629-A1,AR,Argentina,3810,Melanoma,NaN,NaN,890,Generic Health Relevance,grid.423606.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CA-2683629-A1,US,United States,3810,Melanoma,NaN,NaN,890,Generic Health Relevance,grid.423606.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CA-2683629-A1,DE,Germany,3810,Melanoma,NaN,NaN,890,Generic Health Relevance,grid.423606.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search patents where category_for is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(original_assignees)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)]
====

Returned Patents: 314 (total = 34590974)

,id,original_assignees.id,original_assignees.name,original_assignees.country_name,original_assignees.city_name,assignees.id,assignees.name,assignees.country_name,assignees.city_name,assignee_countries.id,...,original_assignees.acronym,assignee_state_codes.id,assignee_state_codes.name,assignees.acronym,category_rcdc.id,category_rcdc.name,category_bra.id,category_bra.name,category_hra.id,category_hra.name
0,EP-1409282-B1,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP-1409282-B1,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WO-2009149128-A2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WO-2009149128-A2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WO-2009149128-A2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search patents where funder_countries is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(original_assignees)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(funder_countries)]
====

Returned Patents: 723 (total = 181423)

,id,assignee_countries.id,assignee_countries.name,category_for.id,category_for.name,assignee_cities.id,assignee_cities.name,funders.id,funders.name,funders.acronym,...,category_rcdc.name,category_hra.id,category_hra.name,category_icrp_cso.id,category_icrp_cso.name,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,researchers.orcid_id
0,US-PP14225-P2,US,United States,2447,0303 Macromolecular and Materials Chemistry,5261457.0,Madison,grid.417548.b,United States Department of Agriculture,USDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,US-PP14225-P2,US,United States,2203,03 Chemical Sciences,5261457.0,Madison,grid.417548.b,United States Department of Agriculture,USDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,US-20020146797-A1,US,United States,2581,0601 Biochemistry and Cell Biology,5102922.0,Princeton,grid.457768.f,Directorate for Biological Sciences,NSF BIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,US-20020146797-A1,US,United States,2581,0601 Biochemistry and Cell Biology,5102922.0,Princeton,grid.457768.f,Directorate for Biological Sciences,NSF BIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,US-20020146797-A1,US,United States,2581,0601 Biochemistry and Cell Biology,5102922.0,Princeton,grid.48336.3a,National Cancer Institute,NCI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search patents where current_assignees is not empty return patents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(assignee_cities)+unnest(category_hra)+unnest(assignees)+unnest(category_rcdc)+unnest(assignee_countries)+unnest(assignee_state_codes)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(original_assignees)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(funder_countries)+unnest(current_assignees)]
====

Returned Patents: 658 (total = 19706083)

,id,current_assignees.id,current_assignees.name,current_assignees.country_name,current_assignees.city_name,category_for.id,category_for.name,original_assignees.id,original_assignees.name,original_assignees.country_name,...,assignee_state_codes.id,assignee_state_codes.name,original_assignees.acronym,assignees.acronym,category_bra.id,category_bra.name,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name
0,EP-1409282-B1,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,2867,0906 Electrical and Electronic Engineering,grid.6584.f,Robert Bosch (Germany),Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EP-1409282-B1,grid.6584.f,Robert Bosch (Germany),Germany,Stuttgart,2209,09 Engineering,grid.6584.f,Robert Bosch (Germany),Germany,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EP-0868664-B1,grid.418190.5,Thermo Fisher Scientific (United States),United States,Waltham,2428,0301 Analytical Chemistry,grid.418190.5,Thermo Fisher Scientific (United States),United States,...,US-MA,Massachusetts,Life Technologies,Life Technologies,NaN,NaN,NaN,NaN,NaN,NaN
3,EP-0868664-B1,grid.418190.5,Thermo Fisher Scientific (United States),United States,Waltham,2203,03 Chemical Sciences,grid.418190.5,Thermo Fisher Scientific (United States),United States,...,US-MA,Massachusetts,Life Technologies,Life Technologies,NaN,NaN,NaN,NaN,NaN,NaN
4,EP-0861808-B1,grid.471210.1,Kuraray (Japan),Japan,Tokyo,2844,0904 Chemical Engineering,grid.471210.1,Kuraray (Japan),Japan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***********************
SOURCE: clinical_trials
***********************
Fields:  ['category_hrcs_rac', 'category_bra', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'category_hrcs_hc', 'researchers', 'funders', 'category_icrp_ct', 'category_for', 'research_orgs', 'funder_countries']

====
 search clinical_trials where category_hrcs_rac is not empty return clinical_trials[id+unnest(category_hrcs_rac)]
====

Returned Clinical_trials: 45 (total = 274177)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,NCT02318277,10600,6 Evaluation of Treatments and Therapeutic Int...
1,NCT02318277,10601,6.1 Pharmaceuticals
2,NCT02318277,10602,6.2 Cellular and gene therapies
3,NCT02318290,10400,"4 Detection, Screening and Diagnosis"
4,NCT02318290,10402,4.2 Evaluation of markers and technologies

====
 search clinical_trials where category_bra is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)]
====

Returned Clinical_trials: 40 (total = 389903)

,id,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name
0,NCT02318277,10600,6 Evaluation of Treatments and Therapeutic Int...,4001,Clinical Medicine and Science
1,NCT02318277,10601,6.1 Pharmaceuticals,4001,Clinical Medicine and Science
2,NCT02318277,10602,6.2 Cellular and gene therapies,4001,Clinical Medicine and Science
3,NCT02318290,10400,"4 Detection, Screening and Diagnosis",4001,Clinical Medicine and Science
4,NCT02318290,10402,4.2 Evaluation of markers and technologies,4001,Clinical Medicine and Science

====
 search clinical_trials where category_hra is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)]
====

Returned Clinical_trials: 38 (total = 382544)

,id,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name
0,NCT02318264,3901,Clinical,NaN,NaN,NaN,NaN
1,NCT02318277,3901,Clinical,10600,6 Evaluation of Treatments and Therapeutic Int...,4001,Clinical Medicine and Science
2,NCT02318277,3901,Clinical,10601,6.1 Pharmaceuticals,4001,Clinical Medicine and Science
3,NCT02318277,3901,Clinical,10602,6.2 Cellular and gene therapies,4001,Clinical Medicine and Science
4,NCT02318290,3901,Clinical,10400,"4 Detection, Screening and Diagnosis",4001,Clinical Medicine and Science

====
 search clinical_trials where category_rcdc is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)]
====

Returned Clinical_trials: 200 (total = 469721)

,id,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name
0,NCT02318264,3901,Clinical,508,Clinical Trials and Supportive Activities,NaN,NaN,NaN,NaN
1,NCT02318264,3901,Clinical,507,Clinical Research,NaN,NaN,NaN,NaN
2,NCT02318277,3901,Clinical,558,Prevention,10600,6 Evaluation of Treatments and Therapeutic Int...,4001,Clinical Medicine and Science
3,NCT02318277,3901,Clinical,558,Prevention,10601,6.1 Pharmaceuticals,4001,Clinical Medicine and Science
4,NCT02318277,3901,Clinical,558,Prevention,10602,6.2 Cellular and gene therapies,4001,Clinical Medicine and Science

====
 search clinical_trials where category_icrp_cso is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)]
====

Returned Clinical_trials: 323 (total = 72142)

,id,category_rcdc.id,category_rcdc.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name,category_icrp_cso.id,category_icrp_cso.name,category_hra.id,category_hra.name
0,NCT02318329,543,Orphan Drug,10600,6 Evaluation of Treatments and Therapeutic Int...,4001,Clinical Medicine and Science,3768,5.4 Systemic Therapies - Clinical Applications,3901,Clinical
1,NCT02318329,543,Orphan Drug,10601,6.1 Pharmaceuticals,4001,Clinical Medicine and Science,3768,5.4 Systemic Therapies - Clinical Applications,3901,Clinical
2,NCT02318329,543,Orphan Drug,10602,6.2 Cellular and gene therapies,4001,Clinical Medicine and Science,3768,5.4 Systemic Therapies - Clinical Applications,3901,Clinical
3,NCT02318329,508,Clinical Trials and Supportive Activities,10600,6 Evaluation of Treatments and Therapeutic Int...,4001,Clinical Medicine and Science,3768,5.4 Systemic Therapies - Clinical Applications,3901,Clinical
4,NCT02318329,508,Clinical Trials and Supportive Activities,10601,6.1 Pharmaceuticals,4001,Clinical Medicine and Science,3768,5.4 Systemic Therapies - Clinical Applications,3901,Clinical

====
 search clinical_trials where category_hrcs_hc is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)]
====

Returned Clinical_trials: 230 (total = 339630)

,id,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name,category_hrcs_hc.id,category_hrcs_hc.name,category_icrp_cso.id,category_icrp_cso.name
0,NCT02318290,3901,Clinical,558,Prevention,10400,"4 Detection, Screening and Diagnosis",4001,Clinical Medicine and Science,890,Generic Health Relevance,NaN,NaN
1,NCT02318290,3901,Clinical,558,Prevention,10402,4.2 Evaluation of markers and technologies,4001,Clinical Medicine and Science,890,Generic Health Relevance,NaN,NaN
2,NCT02318290,3901,Clinical,558,Prevention,10700,7 Management of Diseases and Conditions,4001,Clinical Medicine and Science,890,Generic Health Relevance,NaN,NaN
3,NCT02318290,3901,Clinical,558,Prevention,10703,7.3 Management and decision making,4001,Clinical Medicine and Science,890,Generic Health Relevance,NaN,NaN
4,NCT02318290,3901,Clinical,573,Substance Abuse,10400,"4 Detection, Screening and Diagnosis",4001,Clinical Medicine and Science,890,Generic Health Relevance,NaN,NaN

====
 search clinical_trials where researchers is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)]
====

Returned Clinical_trials: 263 (total = 235339)

,id,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,category_hrcs_rac.id,category_hrcs_rac.name,category_rcdc.id,category_rcdc.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_hrcs_hc.id,category_hrcs_hc.name,researchers.orcid_id,category_icrp_cso.id,category_icrp_cso.name
0,NCT02318277,ur.01333126237.14,Lance,Leopold,"[grid.417921.8, grid.189509.c, grid.25879.31]",10600,6 Evaluation of Treatments and Therapeutic Int...,558,Prevention,3901,Clinical,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN
1,NCT02318277,ur.01333126237.14,Lance,Leopold,"[grid.417921.8, grid.189509.c, grid.25879.31]",10600,6 Evaluation of Treatments and Therapeutic Int...,508,Clinical Trials and Supportive Activities,3901,Clinical,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN
2,NCT02318277,ur.01333126237.14,Lance,Leopold,"[grid.417921.8, grid.189509.c, grid.25879.31]",10600,6 Evaluation of Treatments and Therapeutic Int...,583,Vaccine Related,3901,Clinical,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN
3,NCT02318277,ur.01333126237.14,Lance,Leopold,"[grid.417921.8, grid.189509.c, grid.25879.31]",10600,6 Evaluation of Treatments and Therapeutic Int...,503,Cancer,3901,Clinical,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN
4,NCT02318277,ur.01333126237.14,Lance,Leopold,"[grid.417921.8, grid.189509.c, grid.25879.31]",10600,6 Evaluation of Treatments and Therapeutic Int...,499,Biodefense,3901,Clinical,4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN

====
 search clinical_trials where funders is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(funders)]
====

Returned Clinical_trials: 358 (total = 173141)

,id,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name,category_bra.id,category_bra.name,researchers.id,researchers.first_name,researchers.last_name,...,funders.state_name,funders.city_name,funders.latitude,funders.longitude,funders.types,category_hrcs_hc.id,category_hrcs_hc.name,category_icrp_cso.id,category_icrp_cso.name,researchers.orcid_id
0,NCT02318277,3901,Clinical,558,Prevention,4001,Clinical Medicine and Science,ur.01333126237.14,Lance,Leopold,...,Delaware,Wilmington,39.785908,-75.54896,[Company],NaN,NaN,NaN,NaN,NaN
1,NCT02318277,3901,Clinical,558,Prevention,4001,Clinical Medicine and Science,ur.01333126237.14,Lance,Leopold,...,Delaware,Wilmington,39.785908,-75.54896,[Company],NaN,NaN,NaN,NaN,NaN
2,NCT02318277,3901,Clinical,558,Prevention,4001,Clinical Medicine and Science,ur.01333126237.14,Lance,Leopold,...,Delaware,Wilmington,39.785908,-75.54896,[Company],NaN,NaN,NaN,NaN,NaN
3,NCT02318277,3901,Clinical,508,Clinical Trials and Supportive Activities,4001,Clinical Medicine and Science,ur.01333126237.14,Lance,Leopold,...,Delaware,Wilmington,39.785908,-75.54896,[Company],NaN,NaN,NaN,NaN,NaN
4,NCT02318277,3901,Clinical,508,Clinical Trials and Supportive Activities,4001,Clinical Medicine and Science,ur.01333126237.14,Lance,Leopold,...,Delaware,Wilmington,39.785908,-75.54896,[Company],NaN,NaN,NaN,NaN,NaN

====
 search clinical_trials where category_icrp_ct is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)]
====

Returned Clinical_trials: 693 (total = 125719)

,id,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.city_name,funders.latitude,funders.longitude,funders.types,...,researchers.last_name,researchers.research_orgs,category_bra.id,category_bra.name,funders.state_name,category_hrcs_rac.id,category_hrcs_rac.name,category_icrp_cso.id,category_icrp_cso.name,researchers.orcid_id
0,NCT02318316,grid.426409.d,Scientific and Technological Research Council ...,TÜBİTAK,[http://www.tubitak.gov.tr/en],Turkey,Ankara,39.904716,32.858597,[Government],...,Yildirim,"[grid.25769.3f, grid.411137.1, grid.440464.6, ...",4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
1,NCT02318316,grid.426409.d,Scientific and Technological Research Council ...,TÜBİTAK,[http://www.tubitak.gov.tr/en],Turkey,Ankara,39.904716,32.858597,[Government],...,Yildirim,"[grid.25769.3f, grid.411137.1, grid.440464.6, ...",4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
2,NCT02318316,grid.426409.d,Scientific and Technological Research Council ...,TÜBİTAK,[http://www.tubitak.gov.tr/en],Turkey,Ankara,39.904716,32.858597,[Government],...,Yildirim,"[grid.25769.3f, grid.411137.1, grid.440464.6, ...",4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
3,NCT02318316,grid.426409.d,Scientific and Technological Research Council ...,TÜBİTAK,[http://www.tubitak.gov.tr/en],Turkey,Ankara,39.904716,32.858597,[Government],...,Yildirim,"[grid.25769.3f, grid.411137.1, grid.440464.6, ...",4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN
4,NCT02318316,grid.426409.d,Scientific and Technological Research Council ...,TÜBİTAK,[http://www.tubitak.gov.tr/en],Turkey,Ankara,39.904716,32.858597,[Government],...,Yildirim,"[grid.25769.3f, grid.411137.1, grid.440464.6, ...",4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN

====
 search clinical_trials where category_for is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)]
====

Returned Clinical_trials: 1024 (total = 479749)

,id,category_hra.id,category_hra.name,category_for.id,category_for.name,category_rcdc.id,category_rcdc.name,researchers.id,researchers.first_name,researchers.last_name,...,funders.types,category_bra.id,category_bra.name,category_hrcs_hc.id,category_hrcs_hc.name,category_icrp_ct.id,category_icrp_ct.name,category_icrp_cso.id,category_icrp_cso.name,researchers.orcid_id
0,NCT02318264,3901,Clinical,2211,11 Medical and Health Sciences,508,Clinical Trials and Supportive Activities,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NCT02318264,3901,Clinical,2211,11 Medical and Health Sciences,507,Clinical Research,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NCT02318264,3901,Clinical,3053,1103 Clinical Sciences,508,Clinical Trials and Supportive Activities,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NCT02318264,3901,Clinical,3053,1103 Clinical Sciences,507,Clinical Research,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NCT02318277,3901,Clinical,2211,11 Medical and Health Sciences,558,Prevention,ur.01333126237.14,Lance,Leopold,...,[Company],4001,Clinical Medicine and Science,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search clinical_trials where research_orgs is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(research_orgs)]
====

Returned Clinical_trials: 10050 (total = 524812)

,id,category_bra.id,category_bra.name,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.state_name,funders.city_name,...,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_hrcs_hc.id,category_hrcs_hc.name,category_icrp_ct.id,category_icrp_ct.name,category_icrp_cso.id,category_icrp_cso.name,researchers.orcid_id
0,NCT02318277,4001,Clinical Medicine and Science,grid.418152.b,AstraZeneca (United States),AstraZeneca,[http://www.astrazeneca-us.com/home/],United States,Delaware,Wilmington,...,Clinical,10600,6 Evaluation of Treatments and Therapeutic Int...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NCT02318277,4001,Clinical Medicine and Science,grid.418152.b,AstraZeneca (United States),AstraZeneca,[http://www.astrazeneca-us.com/home/],United States,Delaware,Wilmington,...,Clinical,10601,6.1 Pharmaceuticals,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NCT02318277,4001,Clinical Medicine and Science,grid.418152.b,AstraZeneca (United States),AstraZeneca,[http://www.astrazeneca-us.com/home/],United States,Delaware,Wilmington,...,Clinical,10602,6.2 Cellular and gene therapies,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NCT02318277,4001,Clinical Medicine and Science,grid.418152.b,AstraZeneca (United States),AstraZeneca,[http://www.astrazeneca-us.com/home/],United States,Delaware,Wilmington,...,Clinical,10600,6 Evaluation of Treatments and Therapeutic Int...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NCT02318277,4001,Clinical Medicine and Science,grid.418152.b,AstraZeneca (United States),AstraZeneca,[http://www.astrazeneca-us.com/home/],United States,Delaware,Wilmington,...,Clinical,10601,6.1 Pharmaceuticals,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search clinical_trials where funder_countries is not empty return clinical_trials[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(research_orgs)+unnest(funder_countries)]
====

Returned Clinical_trials: 21478 (total = 173141)

,id,research_orgs.id,research_orgs.name,research_orgs.acronym,research_orgs.linkout,research_orgs.country_name,research_orgs.state_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,...,researchers.research_orgs,category_for.id,category_for.name,category_hrcs_hc.id,category_hrcs_hc.name,category_icrp_ct.id,category_icrp_ct.name,category_icrp_cso.id,category_icrp_cso.name,researchers.orcid_id
0,NCT02318277,grid.417921.8,Incyte (United States),Incyte,[http://www.incyte.com/],United States,Delaware,Wilmington,39.762733,-75.55364,...,"[grid.417921.8, grid.189509.c, grid.25879.31]",2211,11 Medical and Health Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NCT02318277,grid.417921.8,Incyte (United States),Incyte,[http://www.incyte.com/],United States,Delaware,Wilmington,39.762733,-75.55364,...,"[grid.417921.8, grid.189509.c, grid.25879.31]",3053,1103 Clinical Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NCT02318277,grid.417921.8,Incyte (United States),Incyte,[http://www.incyte.com/],United States,Delaware,Wilmington,39.762733,-75.55364,...,"[grid.417921.8, grid.189509.c, grid.25879.31]",2211,11 Medical and Health Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NCT02318277,grid.417921.8,Incyte (United States),Incyte,[http://www.incyte.com/],United States,Delaware,Wilmington,39.762733,-75.55364,...,"[grid.417921.8, grid.189509.c, grid.25879.31]",3053,1103 Clinical Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NCT02318277,grid.417921.8,Incyte (United States),Incyte,[http://www.incyte.com/],United States,Delaware,Wilmington,39.762733,-75.55364,...,"[grid.417921.8, grid.189509.c, grid.25879.31]",2211,11 Medical and Health Sciences,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***********************
SOURCE: policy_documents
***********************
Fields:  ['category_hrcs_rac', 'category_bra', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'category_hrcs_hc', 'category_icrp_ct', 'category_for']

====
 search policy_documents where category_hrcs_rac is not empty return policy_documents[id+unnest(category_hrcs_rac)]
====

Returned Policy_documents: 24 (total = 63990)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,policy.643723,10801,8.1 Organisation and delivery of services
1,policy.643724,10801,8.1 Organisation and delivery of services
2,policy.643725,10801,8.1 Organisation and delivery of services
3,policy.643728,10801,8.1 Organisation and delivery of services
4,policy.643733,10801,8.1 Organisation and delivery of services

====
 search policy_documents where category_bra is not empty return policy_documents[id+unnest(category_hrcs_rac)+unnest(category_bra)]
====

Returned Policy_documents: 28 (total = 59665)

,id,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name
0,policy.643720,4002,Health Services Research,NaN,NaN
1,policy.643723,4002,Health Services Research,10801,8.1 Organisation and delivery of services
2,policy.643724,4002,Health Services Research,10801,8.1 Organisation and delivery of services
3,policy.643737,4003,Public Health,NaN,NaN
4,policy.643738,4002,Health Services Research,10402,4.2 Evaluation of markers and technologies

====
 search policy_documents where category_hra is not empty return policy_documents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)]
====

Returned Policy_documents: 23 (total = 144233)

,id,category_hra.id,category_hra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name
0,policy.643712,3902,Health services & systems,NaN,NaN,NaN,NaN
1,policy.643714,3902,Health services & systems,NaN,NaN,NaN,NaN
2,policy.643722,3902,Health services & systems,NaN,NaN,NaN,NaN
3,policy.643723,3902,Health services & systems,10801,8.1 Organisation and delivery of services,4002,Health Services Research
4,policy.643724,3902,Health services & systems,10801,8.1 Organisation and delivery of services,4002,Health Services Research

====
 search policy_documents where category_rcdc is not empty return policy_documents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)]
====

Returned Policy_documents: 73 (total = 207807)

,id,category_rcdc.id,category_rcdc.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name
0,policy.643712,443,Health Services,3902,Health services & systems,NaN,NaN,NaN,NaN
1,policy.643712,507,Clinical Research,3902,Health services & systems,NaN,NaN,NaN,NaN
2,policy.643714,558,Prevention,3902,Health services & systems,NaN,NaN,NaN,NaN
3,policy.643714,498,Behavioral and Social Science,3902,Health services & systems,NaN,NaN,NaN,NaN
4,policy.643714,533,Infectious Diseases,3902,Health services & systems,NaN,NaN,NaN,NaN

====
 search policy_documents where category_icrp_cso is not empty return policy_documents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)]
====

Returned Policy_documents: 206 (total = 15096)

,id,category_icrp_cso.id,category_icrp_cso.name,category_bra.id,category_bra.name,category_hra.id,category_hra.name,category_rcdc.id,category_rcdc.name,category_hrcs_rac.id,category_hrcs_rac.name
0,policy.643724,3775,6.4 Cost Analyses and Health Care Delivery,4002,Health Services Research,3902,Health services & systems,443,Health Services,10801,8.1 Organisation and delivery of services
1,policy.643724,3775,6.4 Cost Analyses and Health Care Delivery,4002,Health Services Research,3902,Health services & systems,507,Clinical Research,10801,8.1 Organisation and delivery of services
2,policy.643729,3771,5.7 Resources and Infrastructure Related to Tr...,NaN,NaN,NaN,NaN,558,Prevention,NaN,NaN
3,policy.643729,3771,5.7 Resources and Infrastructure Related to Tr...,NaN,NaN,NaN,NaN,583,Vaccine Related,NaN,NaN
4,policy.643729,3771,5.7 Resources and Infrastructure Related to Tr...,NaN,NaN,NaN,NaN,531,Immunization,NaN,NaN

====
 search policy_documents where category_hrcs_hc is not empty return policy_documents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)]
====

Returned Policy_documents: 162 (total = 171019)

,id,category_rcdc.id,category_rcdc.name,category_hrcs_hc.id,category_hrcs_hc.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_icrp_cso.id,category_icrp_cso.name
0,policy.643712,443,Health Services,890,Generic Health Relevance,3902,Health services & systems,NaN,NaN,NaN,NaN,NaN,NaN
1,policy.643712,507,Clinical Research,890,Generic Health Relevance,3902,Health services & systems,NaN,NaN,NaN,NaN,NaN,NaN
2,policy.643714,558,Prevention,890,Generic Health Relevance,3902,Health services & systems,NaN,NaN,NaN,NaN,NaN,NaN
3,policy.643714,558,Prevention,898,Infection,3902,Health services & systems,NaN,NaN,NaN,NaN,NaN,NaN
4,policy.643714,498,Behavioral and Social Science,890,Generic Health Relevance,3902,Health services & systems,NaN,NaN,NaN,NaN,NaN,NaN

====
 search policy_documents where category_icrp_ct is not empty return policy_documents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(category_icrp_ct)]
====

Returned Policy_documents: 402 (total = 17033)

,id,category_bra.id,category_bra.name,category_rcdc.id,category_rcdc.name,category_icrp_ct.id,category_icrp_ct.name,category_hrcs_rac.id,category_hrcs_rac.name,category_icrp_cso.id,category_icrp_cso.name,category_hra.id,category_hra.name,category_hrcs_hc.id,category_hrcs_hc.name
0,policy.643724,4002,Health Services Research,443,Health Services,3816,Not Site-Specific Cancer,10801,8.1 Organisation and delivery of services,3775,6.4 Cost Analyses and Health Care Delivery,3902,Health services & systems,890,Generic Health Relevance
1,policy.643724,4002,Health Services Research,507,Clinical Research,3816,Not Site-Specific Cancer,10801,8.1 Organisation and delivery of services,3775,6.4 Cost Analyses and Health Care Delivery,3902,Health services & systems,890,Generic Health Relevance
2,policy.643729,NaN,NaN,558,Prevention,3816,Not Site-Specific Cancer,NaN,NaN,3771,5.7 Resources and Infrastructure Related to Tr...,NaN,NaN,890,Generic Health Relevance
3,policy.643729,NaN,NaN,558,Prevention,3816,Not Site-Specific Cancer,NaN,NaN,3771,5.7 Resources and Infrastructure Related to Tr...,NaN,NaN,898,Infection
4,policy.643729,NaN,NaN,583,Vaccine Related,3816,Not Site-Specific Cancer,NaN,NaN,3771,5.7 Resources and Infrastructure Related to Tr...,NaN,NaN,890,Generic Health Relevance

====
 search policy_documents where category_for is not empty return policy_documents[id+unnest(category_hrcs_rac)+unnest(category_bra)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(category_icrp_ct)+unnest(category_for)]
====

Returned Policy_documents: 98 (total = 416103)

,id,category_for.id,category_for.name,category_rcdc.id,category_rcdc.name,category_hrcs_hc.id,category_hrcs_hc.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_icrp_cso.id,category_icrp_cso.name,category_icrp_ct.id,category_icrp_ct.name
0,policy.643711,2215,"15 Commerce, Management, Tourism and Services",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,policy.643711,3335,"1502 Banking, Finance and Investment",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,policy.643712,3416,1605 Policy and Administration,443,Health Services,890,Generic Health Relevance,3902,Health services & systems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,policy.643712,3416,1605 Policy and Administration,507,Clinical Research,890,Generic Health Relevance,3902,Health services & systems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,policy.643712,2216,16 Studies in Human Society,443,Health Services,890,Generic Health Relevance,3902,Health services & systems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***********************
SOURCE: researchers
***********************
Fields:  ['research_orgs']

====
 search researchers where research_orgs is not empty return researchers[id+unnest(research_orgs)]
====

Returned Researchers: 23 (total = 33141440)

,id,research_orgs.id,research_orgs.name,research_orgs.linkout,research_orgs.country_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,research_orgs.types,research_orgs.acronym,research_orgs.state_name
0,ur.07675167317.47,grid.440633.6,University of Bío-Bío,[http://www.ubiobio.cl/w/],Chile,Concepción,-36.822200,-73.013600,[Education],NaN,NaN
1,ur.013610440106.26,grid.412028.d,Hebei University of Engineering,[http://www.hebeu.edu.cn/en/index.html],China,Handan,36.633310,114.505720,[Education],HBUE,NaN
2,ur.013224634223.02,grid.429211.d,Institute of Hydrobiology,[http://english.ihb.cas.cn/],China,Wuhan,30.544794,114.357025,[Facility],IHB,NaN
3,ur.013224634223.02,grid.410726.6,University of Chinese Academy of Sciences,[http://www.ucas.ac.cn/],China,Beijing,39.909058,116.250570,[Education],UCAS,NaN
4,ur.012500504077.24,grid.6612.3,University of Basel,[https://www.unibas.ch/de],Switzerland,Basel,47.558580,7.583600,[Education],NaN,Basel-Stadt

***********************
SOURCE: organizations
***********************
Fields:  []

***********************
SOURCE: datasets
***********************
Fields:  ['category_hrcs_rac', 'research_org_states', 'research_org_cities', 'category_bra', 'category_sdg', 'category_hra', 'category_rcdc', 'category_icrp_cso', 'category_hrcs_hc', 'research_org_countries', 'researchers', 'funders', 'category_icrp_ct', 'category_for', 'funder_countries', 'research_orgs']

====
 search datasets where category_hrcs_rac is not empty return datasets[id+unnest(category_hrcs_rac)]
====

Returned Datasets: 48 (total = 118944)

,id,category_hrcs_rac.id,category_hrcs_rac.name
0,354047,10200,2 Aetiology
1,354047,10201,2.1 Biological and endogenous factors
2,354001,10200,2 Aetiology
3,354001,10205,2.5 Research design and methodologies (aetiology)
4,342185,10600,6 Evaluation of Treatments and Therapeutic Int...

====
 search datasets where research_org_states is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)]
====

Returned Datasets: 24 (total = 1045583)

,id,research_org_states.id,research_org_states.name,category_hrcs_rac.id,category_hrcs_rac.name
0,354641,NaN,NaN,NaN,NaN
1,354605,NaN,NaN,NaN,NaN
2,354569,NaN,NaN,NaN,NaN
3,354373,US-NM,New Mexico,NaN,NaN
4,354340,US-FL,Florida,NaN,NaN

====
 search datasets where research_org_cities is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)]
====

Returned Datasets: 65 (total = 1044912)

,id,research_org_cities.id,research_org_cities.name,research_org_states.id,research_org_states.name,category_hrcs_rac.id,category_hrcs_rac.name
0,354641,2987914,Perpignan,NaN,NaN,NaN,NaN
1,354641,2988507,Paris,NaN,NaN,NaN,NaN
2,354641,2972315,Toulouse,NaN,NaN,NaN,NaN
3,354641,3028409,Castanet-Tolosan,NaN,NaN,NaN,NaN
4,354605,2987914,Perpignan,NaN,NaN,NaN,NaN

====
 search datasets where category_bra is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)]
====

Returned Datasets: 133 (total = 154567)

,id,category_bra.id,category_bra.name,research_org_cities.id,research_org_cities.name,category_hrcs_rac.id,category_hrcs_rac.name,research_org_states.id,research_org_states.name
0,354047,4001,Clinical Medicine and Science,1814906.0,Chongqing,10200,2 Aetiology,NaN,NaN
1,354047,4001,Clinical Medicine and Science,1814906.0,Chongqing,10201,2.1 Biological and endogenous factors,NaN,NaN
2,342554,4000,Basic Science,3530597.0,Mexico City,NaN,NaN,NaN,NaN
3,342554,4000,Basic Science,3530597.0,Mexico City,NaN,NaN,NaN,NaN
4,342554,4000,Basic Science,3530597.0,Mexico City,NaN,NaN,NaN,NaN

====
 search datasets where category_sdg is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)]
====

Returned Datasets: 161 (total = 75182)

,id,research_org_cities.id,research_org_cities.name,category_sdg.id,category_sdg.name,research_org_states.id,research_org_states.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name
0,354171,2220957,Yaoundé,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN,NaN,NaN
1,354171,3164527,Verona,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN,NaN,NaN
2,354171,2660646,Genève,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN,NaN,NaN
3,354171,2314302,Kinshasa,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN,NaN,NaN
4,354171,2673730,Stockholm,40003,3 Good Health and Well Being,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where category_hra is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)]
====

Returned Datasets: 142 (total = 161899)

,id,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_hra.id,category_hra.name,research_org_cities.id,research_org_cities.name,research_org_states.id,research_org_states.name
0,354047,4001,Clinical Medicine and Science,10200,2 Aetiology,3900,Biomedical,1814906.0,Chongqing,NaN,NaN
1,354047,4001,Clinical Medicine and Science,10201,2.1 Biological and endogenous factors,3900,Biomedical,1814906.0,Chongqing,NaN,NaN
2,342554,4000,Basic Science,NaN,NaN,3900,Biomedical,3530597.0,Mexico City,NaN,NaN
3,342554,4000,Basic Science,NaN,NaN,3900,Biomedical,3530597.0,Mexico City,NaN,NaN
4,342554,4000,Basic Science,NaN,NaN,3900,Biomedical,3530597.0,Mexico City,NaN,NaN

====
 search datasets where category_rcdc is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)]
====

Returned Datasets: 393 (total = 337134)

,id,category_rcdc.id,category_rcdc.name,research_org_cities.id,research_org_cities.name,category_sdg.id,category_sdg.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name,category_hra.id,category_hra.name,research_org_states.id,research_org_states.name
0,354605,507,Clinical Research,2987914,Perpignan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354605,507,Clinical Research,2988507,Paris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354605,507,Clinical Research,2972315,Toulouse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354605,507,Clinical Research,3028409,Castanet-Tolosan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354605,508,Clinical Trials and Supportive Activities,2987914,Perpignan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where category_icrp_cso is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)]
====

Returned Datasets: 438 (total = 161336)

,id,research_org_cities.id,research_org_cities.name,category_icrp_cso.id,category_icrp_cso.name,category_rcdc.id,category_rcdc.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,research_org_states.id,research_org_states.name
0,354569,2987914,Perpignan,3768,5.4 Systemic Therapies - Clinical Applications,533,Infectious Diseases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354569,2988507,Paris,3768,5.4 Systemic Therapies - Clinical Applications,533,Infectious Diseases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354569,2972315,Toulouse,3768,5.4 Systemic Therapies - Clinical Applications,533,Infectious Diseases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354569,3028409,Castanet-Tolosan,3768,5.4 Systemic Therapies - Clinical Applications,533,Infectious Diseases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,353788,2934246,Düsseldorf,3746,1.1 Normal Functioning,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where category_hrcs_hc is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)]
====

Returned Datasets: 675 (total = 181407)

,id,category_hra.id,category_hra.name,category_hrcs_hc.id,category_hrcs_hc.name,category_hrcs_rac.id,category_hrcs_rac.name,category_bra.id,category_bra.name,research_org_cities.id,research_org_cities.name,category_rcdc.id,category_rcdc.name,research_org_states.id,research_org_states.name,category_sdg.id,category_sdg.name,category_icrp_cso.id,category_icrp_cso.name
0,354047,3900,Biomedical,911,Cancer,10200,2 Aetiology,4001,Clinical Medicine and Science,1814906,Chongqing,410,Lung,NaN,NaN,NaN,NaN,NaN,NaN
1,354047,3900,Biomedical,911,Cancer,10200,2 Aetiology,4001,Clinical Medicine and Science,1814906,Chongqing,559,Rare Diseases,NaN,NaN,NaN,NaN,NaN,NaN
2,354047,3900,Biomedical,911,Cancer,10200,2 Aetiology,4001,Clinical Medicine and Science,1814906,Chongqing,326,Lung Cancer,NaN,NaN,NaN,NaN,NaN,NaN
3,354047,3900,Biomedical,911,Cancer,10200,2 Aetiology,4001,Clinical Medicine and Science,1814906,Chongqing,507,Clinical Research,NaN,NaN,NaN,NaN,NaN,NaN
4,354047,3900,Biomedical,911,Cancer,10200,2 Aetiology,4001,Clinical Medicine and Science,1814906,Chongqing,526,Genetics,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where research_org_countries is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(research_org_countries)]
====

Returned Datasets: 295 (total = 1045583)

,id,research_org_countries.id,research_org_countries.name,research_org_cities.id,research_org_cities.name,category_rcdc.id,category_rcdc.name,category_icrp_cso.id,category_icrp_cso.name,research_org_states.id,...,category_sdg.id,category_sdg.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_hrcs_rac.id,category_hrcs_rac.name,category_hrcs_hc.id,category_hrcs_hc.name
0,354641,FR,France,2987914,Perpignan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354641,FR,France,2988507,Paris,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354641,FR,France,2972315,Toulouse,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354641,FR,France,3028409,Castanet-Tolosan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354641,FR,France,2987914,Perpignan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where researchers is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(researchers)]
====

Returned Datasets: 2538 (total = 1094415)

,id,research_org_countries.id,research_org_countries.name,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,research_org_cities.id,research_org_cities.name,researchers.orcid_id,...,category_sdg.id,category_sdg.name,category_hrcs_rac.id,category_hrcs_rac.name,category_hrcs_hc.id,category_hrcs_hc.name,category_bra.id,category_bra.name,category_hra.id,category_hra.name
0,354641,FR,France,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",2987914,Perpignan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354641,FR,France,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",2988507,Paris,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354641,FR,France,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",2972315,Toulouse,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354641,FR,France,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",3028409,Castanet-Tolosan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354641,FR,France,ur.0645601133.04,Jérôme,Boissier,"[grid.452507.1, grid.411175.7, grid.4444.0, gr...",2987914,Perpignan,[0000-0002-0793-3108],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where funders is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(researchers)+unnest(funders)]
====

Returned Datasets: 58122 (total = 673893)

,id,researchers.id,researchers.first_name,researchers.last_name,researchers.orcid_id,researchers.research_orgs,funders.id,funders.name,funders.acronym,funders.linkout,...,research_org_cities.id,research_org_cities.name,research_org_states.id,research_org_states.name,category_rcdc.id,category_rcdc.name,category_hrcs_hc.id,category_hrcs_hc.name,category_bra.id,category_bra.name
0,354171,ur.01021516321.60,Alfred Kongnyu,Njamnshi,[0000-0003-0052-1511],"[grid.415857.a, grid.414243.4, grid.29273.3d, ...",grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],...,2220957,Yaoundé,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354171,ur.01021516321.60,Alfred Kongnyu,Njamnshi,[0000-0003-0052-1511],"[grid.415857.a, grid.414243.4, grid.29273.3d, ...",grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],...,3164527,Verona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354171,ur.01021516321.60,Alfred Kongnyu,Njamnshi,[0000-0003-0052-1511],"[grid.415857.a, grid.414243.4, grid.29273.3d, ...",grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],...,2660646,Genève,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354171,ur.01021516321.60,Alfred Kongnyu,Njamnshi,[0000-0003-0052-1511],"[grid.415857.a, grid.414243.4, grid.29273.3d, ...",grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],...,2314302,Kinshasa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354171,ur.01021516321.60,Alfred Kongnyu,Njamnshi,[0000-0003-0052-1511],"[grid.415857.a, grid.414243.4, grid.29273.3d, ...",grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],...,2673730,Stockholm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where category_icrp_ct is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)]
====

Returned Datasets: 98329 (total = 67533)

,id,research_org_countries.id,research_org_countries.name,category_icrp_ct.id,category_icrp_ct.name,research_org_cities.id,research_org_cities.name,researchers.id,researchers.first_name,researchers.last_name,...,funders.country_name,funders.state_name,funders.city_name,funders.latitude,funders.longitude,funders.types,research_org_states.id,research_org_states.name,category_icrp_cso.id,category_icrp_cso.name
0,354084,CN,China,3816,Not Site-Specific Cancer,1814906,Chongqing,ur.01253105712.26,Dan,Liu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354084,CN,China,3816,Not Site-Specific Cancer,1814906,Chongqing,ur.01025757076.17,Hong,Guo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354084,CN,China,3816,Not Site-Specific Cancer,1814906,Chongqing,ur.01146010272.47,Ya-Fei,Li,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354084,CN,China,3816,Not Site-Specific Cancer,1814906,Chongqing,ur.0721554000.85,Xueqing,Xu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354084,CN,China,3816,Not Site-Specific Cancer,1814906,Chongqing,ur.01357070766.08,Kang,Yang,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where category_for is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)]
====

Returned Datasets: 12274 (total = 712374)

,id,researchers.id,researchers.first_name,researchers.last_name,researchers.research_orgs,research_org_countries.id,research_org_countries.name,category_for.id,category_for.name,research_org_cities.id,...,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,funders.state_name,funders.city_name,funders.latitude,funders.longitude,funders.types
0,354605,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",FR,France,2211,11 Medical and Health Sciences,2987914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354605,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",FR,France,2211,11 Medical and Health Sciences,2987914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354605,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",FR,France,2211,11 Medical and Health Sciences,2988507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354605,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",FR,France,2211,11 Medical and Health Sciences,2988507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354605,ur.01011577376.25,Julien,Portela,"[grid.11136.34, grid.4444.0]",FR,France,2211,11 Medical and Health Sciences,2972315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where funder_countries is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(funder_countries)]
====

Returned Datasets: 335222 (total = 673883)

,id,category_sdg.id,category_sdg.name,research_org_cities.id,research_org_cities.name,funders.id,funders.name,funders.acronym,funders.linkout,funders.country_name,...,category_for.id,category_for.name,category_rcdc.id,category_rcdc.name,category_hrcs_hc.id,category_hrcs_hc.name,category_icrp_ct.id,category_icrp_ct.name,category_bra.id,category_bra.name
0,354171,40003,3 Good Health and Well Being,2220957,Yaoundé,grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354171,40003,3 Good Health and Well Being,2220957,Yaoundé,grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354171,40003,3 Good Health and Well Being,2220957,Yaoundé,grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354171,40003,3 Good Health and Well Being,2220957,Yaoundé,grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354171,40003,3 Good Health and Well Being,2220957,Yaoundé,grid.416870.c,National Institute of Neurological Disorders a...,NINDS,[http://www.ninds.nih.gov/],United States,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

====
 search datasets where research_orgs is not empty return datasets[id+unnest(category_hrcs_rac)+unnest(research_org_states)+unnest(research_org_cities)+unnest(category_bra)+unnest(category_sdg)+unnest(category_hra)+unnest(category_rcdc)+unnest(category_icrp_cso)+unnest(category_hrcs_hc)+unnest(research_org_countries)+unnest(researchers)+unnest(funders)+unnest(category_icrp_ct)+unnest(category_for)+unnest(funder_countries)+unnest(research_orgs)]
====

Returned Datasets: 20623 (total = 1069454)

,id,research_orgs.id,research_orgs.name,research_orgs.linkout,research_orgs.country_name,research_orgs.state_name,research_orgs.city_name,research_orgs.latitude,research_orgs.longitude,research_orgs.types,...,category_icrp_ct.id,category_icrp_ct.name,category_hrcs_rac.id,category_hrcs_rac.name,category_hra.id,category_hra.name,category_bra.id,category_bra.name,category_hrcs_hc.id,category_hrcs_hc.name
0,354641,grid.11136.34,University of Perpignan,[http://www.univ-perp.fr/],France,Languedoc-Roussillon,Perpignan,42.6833,2.90167,[Education],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354641,grid.11136.34,University of Perpignan,[http://www.univ-perp.fr/],France,Languedoc-Roussillon,Perpignan,42.6833,2.90167,[Education],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354641,grid.11136.34,University of Perpignan,[http://www.univ-perp.fr/],France,Languedoc-Roussillon,Perpignan,42.6833,2.90167,[Education],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354641,grid.11136.34,University of Perpignan,[http://www.univ-perp.fr/],France,Languedoc-Roussillon,Perpignan,42.6833,2.90167,[Education],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,354641,grid.11136.34,University of Perpignan,[http://www.univ-perp.fr/],France,Languedoc-Roussillon,Perpignan,42.6833,2.90167,[Education],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN